Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web, ocr-requirements-lock, cargo-fmt-fhe, cargo-clippy-fhe, cargo-fmt-signer, cargo-clippy-signer

Path conditions:
  biome-check-web: any of: ^apps/web/.*\.(ts|tsx|js|jsx|json|css)$
  biome-check-landing: any of: ^apps/landing/.*\.(ts|tsx|js|jsx|json|css)$
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  ocr-requirements-lock: any of: ^apps/ocr/(pyproject\.toml|requirements\.lock)$
  cargo-fmt-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-clippy-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-fmt-signer: any of: ^apps/signer/.*\.rs$
  cargo-clippy-signer: any of: ^apps/signer/.*\.rs$

fix(web): encrypt jwt plugin key at rest, remove force-adopt bypass, add at_hash
  apps/web/src/app/api/rp-admin/clients/approve/route.ts
  apps/web/src/lib/auth/__tests__/token-exchange.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/jwt-signer.ts
  apps/web/src/lib/auth/oidc/token-exchange.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): remove dead draft booleans, derive birthYearOffset server-side
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/db/schema/identity.ts
  apps/web/src/lib/identity/liveness/socket/handler.ts
  apps/web/src/lib/identity/verification/__tests__/birth-year.test.ts
  apps/web/src/lib/identity/verification/birth-year.ts
  apps/web/src/lib/trpc/routers/__tests__/attestation.test.ts
  apps/web/src/lib/trpc/routers/attestation.ts
  apps/web/src/lib/trpc/routers/identity/finalize.ts
  apps/web/src/lib/trpc/routers/identity/helpers/job-processor.ts
  apps/web/src/lib/trpc/routers/identity/liveness-status.ts
  apps/web/src/lib/trpc/routers/identity/prepare-document.ts
  apps/web/src/lib/trpc/routers/liveness.ts
  apps/web/src/lib/trpc/routers/passport-chip.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): add cross-method sybil dedup to NFC chip verification
  apps/web/src/lib/trpc/routers/__tests__/passport-chip.test.ts
  apps/web/src/lib/trpc/routers/passport-chip.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add PWA install banner on CIBA listing page
  apps/web/src/app/(dashboard)/dashboard/ciba/_components/pwa-install-banner.tsx
  apps/web/src/app/(dashboard)/dashboard/ciba/page.tsx
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add data encryption badge and shield color to consent page
  apps/web/src/app/oauth/consent/__tests__/security-badges.test.ts
  apps/web/src/app/oauth/consent/_components/client-security-badges.tsx
  apps/web/src/app/oauth/consent/page.tsx
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): route PII to userinfo endpoint via OIDC claims parameter
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/claims-delivery.test.ts
  apps/web/src/lib/auth/oidc/ephemeral-identity-claims.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): wire on-chain revocation with pending status and retry
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/lib/db/queries/__tests__/revocation.integration.test.ts
  apps/web/src/lib/db/queries/attestation.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/db/schema/attestation.ts
  apps/web/src/lib/trpc/routers/admin.ts
  apps/web/src/lib/trpc/routers/identity/revoke.ts
  apps/web/src/lib/trpc/routers/identity/router.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

docs: update admin router description with revocation retry procedure
  CLAUDE.md
Due: none

feat(web): add agent identity schema, UI card, and push title for CIBA
  apps/web/src/app/approve/[authReqId]/page.tsx
  apps/web/src/components/ciba/ciba-approve-client.tsx
  apps/web/src/lib/db/schema/ciba.ts
  apps/web/src/lib/push/ciba-payload.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): wire custodial FROST signer for automated email guardian signing
  apps/web/src/lib/recovery/frost-service.ts
  apps/web/src/lib/trpc/routers/recovery/challenge.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

test(web): add BCL integration tests for logout token and CIBA revocation
  apps/web/src/lib/auth/oidc/__tests__/bcl-integration.test.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): complete agent claims for CIBA (Tier 1 self-declared)
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/lib/auth/auth.ts
  apps/web/vendor/@better-auth__ciba@1.5.1-beta.3.patch
  apps/web/vendor/better-auth-ciba-1.5.1-beta.3.tgz
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(demo-rp): add BCL endpoint and register backchannel_logout_uri
  apps/demo-rp/src/app/api/auth/backchannel-logout/route.ts
  apps/demo-rp/src/app/api/dcr/route.ts
  progress.txt
Due: none

feat(signer): add HPKE key auth scaffolding with TOFU bootstrap
  apps/signer/src/frost/signer_logic.rs
  apps/signer/src/routes/signer_routes.rs
  apps/signer/src/storage/redb.rs
  apps/web/src/lib/recovery/frost-service.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web, cargo-fmt-signer, cargo-clippy-signer

docs: fix misleading security claims and add missing threat coverage
  docs/architecture.md
  docs/attestation-privacy-architecture.md
  docs/fhe-key-lifecycle.md
  docs/oauth-integrations.md
  docs/railway-signer-deployment.md
  docs/recovery-trust-model.md
  docs/rfcs/0014-frost-social-recovery.md
  docs/rfcs/0033-agentic-auth-integration.md
  docs/rfcs/0034-ciba-web-push-notifications.md
  docs/tamper-model.md
  docs/web3-architecture.md
Due: none

chore: remove tracked files now covered by gitignore
  docs/plans/tasks/01-step-up-hook-fix.md
  docs/plans/tasks/02-mcp-http-authentication.md
  docs/plans/tasks/03-jwks-key-vault.md
  docs/plans/tasks/04-ciba-request-binding-replay-safety.md
  docs/plans/tasks/05-ciba-push-notification-safety.md
  docs/plans/tasks/06-compliance-derivation-engine.md
  docs/plans/tasks/07-sybil-deduplication.md
  docs/plans/tasks/08-fhe-integrity-binding.md
  docs/plans/tasks/09-recovery-key-authentication.md
  docs/plans/tasks/10-back-channel-logout.md
  docs/plans/tasks/11-identity-revocation-engine.md
  docs/plans/tasks/12-oauth-security-hardening.md
  docs/plans/tasks/13-ciba-demo-hardening-tests.md
  docs/plans/tasks/14-custodial-frost-recovery.md
  docs/plans/tasks/15-docs-link-fragment-fix.md
Due: none

feat(web): route PII exclusively to userinfo endpoint
  apps/web/src/app/api/ciba/identity/__tests__/intent-binding.integration.test.ts
  apps/web/src/app/api/ciba/identity/stage/route.ts
  apps/web/src/app/api/oauth2/release/route.ts
  apps/web/src/lib/auth/__tests__/ciba-release-lifecycle.integration.test.ts
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
  apps/web/src/lib/auth/__tests__/release-endpoint.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/approval-crypto.test.ts
  apps/web/src/lib/auth/oidc/__tests__/claims-delivery.test.ts
  apps/web/src/lib/auth/oidc/approval-crypto.ts
  apps/web/src/lib/auth/oidc/ephemeral-identity-claims.ts
  apps/web/src/lib/auth/oidc/ephemeral-release-handles.ts
  apps/web/src/lib/db/connection.ts
  apps/web/src/lib/db/schema/approvals.ts
  apps/web/src/lib/utils/rate-limiters.ts
  apps/web/src/test/db-test-utils.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(demo-rp): update PII delivery to userinfo-only model
  CLAUDE.md
  apps/demo-rp/src/app/aether/page.tsx
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/components/aether/agent-chat.tsx
  apps/demo-rp/src/hooks/use-ciba-flow.ts
  apps/demo-rp/src/lib/auth.ts
  docs/agentic-authorization.md
  docs/oauth-integrations.md
  progress.txt
Due: none

test(e2e): add PII delivery E2E tests for userinfo-only model
  apps/web/e2e/oidc/pii-delivery.spec.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): add cryptographic JWT verification to tRPC session resolution
  apps/web/src/lib/trpc/__tests__/jwt-verification.integration.test.ts
  apps/web/src/lib/trpc/jwt-session.ts
  apps/web/src/lib/trpc/server.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): require positive boundary match for CIBA auto-approval
  apps/web/src/lib/ciba/__tests__/boundary-evaluation.integration.test.ts
  apps/web/src/lib/ciba/auto-approve.ts
  apps/web/src/lib/ciba/boundary-evaluation.ts
Due: biome-check-web, tsc-check-web, knip-check-web

chore: update progress with tasks 04 and 06
  progress.txt
Due: none

fix(web): bind guardian JWTs to FROST session ID, not challenge ID
  apps/web/src/lib/recovery/__tests__/guardian-jwt.test.ts
  apps/web/src/lib/recovery/frost-service.ts
  apps/web/src/lib/recovery/guardian-jwt.ts
  apps/web/src/lib/trpc/routers/recovery/challenge.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): add claims parameter TTL and propagate sid in BCL end-session
  apps/web/src/app/api/auth/oauth2/end-session/route.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/claims-parameter.test.ts
  apps/web/src/lib/auth/oidc/claims-parameter.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(mcp): harden auth stack with audience, per-user cache, service tokens
  apps/mcp/__tests__/auth/browser-redirect.test.ts
  apps/mcp/__tests__/auth/dcr.test.ts
  apps/mcp/__tests__/auth/fpa.test.ts
  apps/mcp/__tests__/auth/resource-metadata.test.ts
  apps/mcp/__tests__/auth/step-up.test.ts
  apps/mcp/__tests__/auth/token-auth.test.ts
  apps/mcp/__tests__/auth/token-exchange.test.ts
  apps/mcp/__tests__/auth/token-manager.test.ts
  apps/mcp/__tests__/tools/check-compliance.test.ts
  apps/mcp/__tests__/tools/my-proofs.test.ts
  apps/mcp/__tests__/tools/purchase.test.ts
  apps/mcp/__tests__/tools/whoami.test.ts
  apps/mcp/__tests__/transports/http.test.ts
  apps/mcp/src/auth/api-client.ts
  apps/mcp/src/auth/identity.ts
  apps/mcp/src/auth/resource-metadata.ts
  apps/mcp/src/auth/token-auth.ts
  apps/mcp/src/config.ts
  apps/mcp/src/tools/my-proofs.ts
Due: none

chore: update progress with tasks 05, 07, 08
  progress.txt
Due: none

fix: enforce DPoP on tRPC, key claims by client, resume CIBA polling, reset dialog state
  apps/demo-rp/src/hooks/use-ciba-flow.ts
  apps/web/src/app/(dashboard)/dashboard/agent-policies/_components/agent-policies-client.tsx
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/claims-parameter.test.ts
  apps/web/src/lib/auth/oidc/claims-parameter.ts
  apps/web/src/lib/trpc/server.ts
Due: biome-check-web, tsc-check-web, knip-check-web

refactor: extract compliance derivation engine as pure function
  apps/demo-rp/src/data/veripass.ts
  apps/landing/src/pages/zk-auth-page.tsx
  apps/web/src/app/(dashboard)/dashboard/_components/identity-card.tsx
  apps/web/src/app/(dashboard)/dashboard/credentials/_components/credentials-content.tsx
  apps/web/src/components/dashboard/user-data-section.tsx
  apps/web/src/lib/auth/oidc/__tests__/claims.test.ts
  apps/web/src/lib/auth/oidc/__tests__/id-token-claims.test.ts
  apps/web/src/lib/auth/oidc/__tests__/proof-scopes.test.ts
  apps/web/src/lib/auth/oidc/__tests__/rp-contract.test.ts
  apps/web/src/lib/auth/oidc/claims.ts
  apps/web/src/lib/auth/oidc/proof-scopes.ts
  apps/web/src/lib/db/__tests__/db.integration.test.ts
  apps/web/src/lib/db/queries/crypto.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/identity/verification/__tests__/compliance.test.ts
  apps/web/src/lib/identity/verification/compliance.ts
  apps/web/src/lib/privacy/fhe/encryption.ts
  apps/web/src/lib/trpc/routers/__tests__/attestation.test.ts
  apps/web/src/lib/trpc/routers/attestation.ts
  docs/adr/privacy/0011-selective-disclosure-scope-architecture.md
  docs/architecture.md
  docs/attestation-privacy-architecture.md
  docs/oauth-integrations.md
  docs/plans/tasks/27-compliance-derivation-engine.md
  docs/ssi-architecture.md
  progress.txt
Due: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web

feat: wire transactional email, production env guards, DPoP CORS
  apps/web/src/env.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/email/__tests__/auth-mailer.test.ts
  apps/web/src/lib/email/auth-mailer.ts
  apps/web/src/middleware.ts
  apps/web/src/proxy.ts
  docs/plans/tasks/26-production-environment-hardening.md
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

docs: sync all architecture documentation with implementation (tasks 29-38)
  CLAUDE.md
  apps/web/README.md
  apps/web/noir-circuits/identity_binding/src/main.nr
  docs/agentic-authorization.md
  docs/architecture.md
  docs/attestation-privacy-architecture.md
  docs/oauth-integrations.md
  docs/plans/tasks/29-docs-mcp-server.md
  docs/plans/tasks/30-docs-ciba-push-aether.md
  docs/plans/tasks/31-docs-back-channel-logout.md
  docs/plans/tasks/32-docs-sybil-deduplication.md
  docs/plans/tasks/33-docs-integrity-controls.md
  docs/plans/tasks/34-docs-frost-recovery.md
  docs/plans/tasks/35-docs-compliance-revocation.md
  docs/plans/tasks/36-docs-oauth-security.md
  docs/plans/tasks/37-docs-zk-encoding.md
  docs/plans/tasks/38-docs-er-diagram-minor-fixes.md
  docs/rfcs/0033-agentic-auth-integration.md
  docs/ssi-architecture.md
  docs/tamper-model.md
  docs/zk-architecture.md
  docs/zk-nationality-proofs.md
  progress.txt
Due: none

fix: align env vars with Railway deployment, remove Next.js 16 middleware
  .env.example
  CLAUDE.md
  apps/signer/railway.coordinator.toml
  apps/web/.env.example
  apps/web/railway.toml
  apps/web/src/middleware.ts
Due: biome-check-web, tsc-check-web, knip-check-web

chore: untrack files already covered by gitignore
  docs/plans/tasks/26-production-environment-hardening.md
  docs/plans/tasks/27-compliance-derivation-engine.md
  docs/plans/tasks/28-typescript-quality-guardrails.md
  docs/plans/tasks/29-docs-mcp-server.md
  docs/plans/tasks/30-docs-ciba-push-aether.md
  docs/plans/tasks/31-docs-back-channel-logout.md
  docs/plans/tasks/32-docs-sybil-deduplication.md
  docs/plans/tasks/33-docs-integrity-controls.md
  docs/plans/tasks/34-docs-frost-recovery.md
  docs/plans/tasks/35-docs-compliance-revocation.md
  docs/plans/tasks/36-docs-oauth-security.md
  docs/plans/tasks/37-docs-zk-encoding.md
  docs/plans/tasks/38-docs-er-diagram-minor-fixes.md
  progress.txt
Due: none

fix(mcp,web): resolve MCP HTTP transport auth — JWKS path, service token recognition
  apps/mcp/src/auth/api-client.ts
  apps/mcp/src/auth/token-auth.ts
  apps/mcp/src/transports/http.ts
  apps/web/src/lib/trpc/server.ts
  docs/plans/cross-app-auth-hardening.md
  docs/plans/prd-cross-app-auth-hardening.md
  docs/plans/progress.txt
  docs/plans/tasks/39-mcp-http-transport-auth.md
  docs/plans/tasks/40-mcp-purchase-authorization-shape.md
  docs/plans/tasks/41-demo-rp-auth-session-hardening.md
  docs/plans/tasks/42-ciba-auto-approve-ping-delivery.md
  docs/plans/tasks/43-oauth-provider-protocol-compliance.md
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): close end-session open redirect and PAR hook race condition
  apps/web/src/app/api/auth/oauth2/end-session/route.ts
  apps/web/src/lib/auth/auth.ts
  docs/plans/progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): emit ping notification for auto-approved CIBA requests
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/ciba/auto-approve.ts
  docs/plans/progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

fix(demo-rp): DPoP for userinfo, BCL discovery + audience check
  apps/demo-rp/src/app/api/auth/backchannel-logout/route.ts
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/src/lib/dpop.ts
  docs/plans/progress.txt
Due: none

fix(mcp): use nested RAR shape for purchase authorization_details
  apps/mcp/__tests__/tools/purchase.test.ts
  apps/mcp/src/tools/purchase.ts
  docs/plans/progress.txt
Due: none

docs: add CIBA deliverPing export and HAIP PAR requestId to branch realignment PRD
  docs/plans/prd-better-auth-branch-realignment.md
Due: none

chore: untrack docs/plans (gitignored, was force-added by mistake)
  docs/plans/cross-app-auth-hardening.md
  docs/plans/prd-better-auth-branch-realignment.md
  docs/plans/prd-cross-app-auth-hardening.md
  docs/plans/progress.txt
  docs/plans/tasks/39-mcp-http-transport-auth.md
  docs/plans/tasks/40-mcp-purchase-authorization-shape.md
  docs/plans/tasks/41-demo-rp-auth-session-hardening.md
  docs/plans/tasks/42-ciba-auto-approve-ping-delivery.md
  docs/plans/tasks/43-oauth-provider-protocol-compliance.md
Due: none
