Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web, ocr-requirements-lock, cargo-fmt-fhe, cargo-clippy-fhe, cargo-fmt-signer, cargo-clippy-signer

Path conditions:
  biome-check-web: any of: ^apps/web/.*\.(ts|tsx|js|jsx|json|css)$
  biome-check-landing: any of: ^apps/landing/.*\.(ts|tsx|js|jsx|json|css)$
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  ocr-requirements-lock: any of: ^apps/ocr/(pyproject\.toml|requirements\.lock)$
  cargo-fmt-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-clippy-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-fmt-signer: any of: ^apps/signer/.*\.rs$
  cargo-clippy-signer: any of: ^apps/signer/.*\.rs$

fix(mcp): resolve JWKS URI from discovery instead of hardcoding
  apps/mcp/__tests__/auth/discovery.test.ts
  apps/mcp/src/auth/discovery.ts
  apps/mcp/src/auth/token-auth.ts
Due: none

fix(test): cover agentName title branch in CIBA push payload test
  apps/web/src/lib/push/__tests__/ciba-payload.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(auth): show user's email in passkey prompt during sign-up
  apps/web/patches/@better-auth__passkey@1.5.5.patch
  apps/web/src/components/sign-up/sign-up-form.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

fix(secrets): make prfSalt optional in storeSecret for OPAQUE/wallet enrollment
  apps/web/src/lib/privacy/secrets/index.ts
  apps/web/src/lib/trpc/routers/secrets.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(ui): mobile responsiveness — fix 4 systemic layout anti-patterns
  apps/web/src/app/(auth)/recovery/guardian/page.tsx
  apps/web/src/app/(dashboard)/dashboard/_components/identity-card.tsx
  apps/web/src/app/(dashboard)/dashboard/agent-policies/_components/agent-policies-client.tsx
  apps/web/src/app/(dashboard)/dashboard/agent-policies/_components/boundary-form-dialog.tsx
  apps/web/src/app/(dashboard)/dashboard/agent-policies/page.tsx
  apps/web/src/app/(dashboard)/dashboard/ciba/page.tsx
  apps/web/src/app/(dashboard)/dashboard/credentials/_components/credentials-content.tsx
  apps/web/src/app/(dashboard)/dashboard/credentials/page.tsx
  apps/web/src/app/(dashboard)/dashboard/developer/applications/page.tsx
  apps/web/src/app/(dashboard)/dashboard/developer/inspector/page.tsx
  apps/web/src/app/(dashboard)/dashboard/settings/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/country-document-selector.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/download-zkpassport-dialog.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/fhe-error-banner.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/document/_components/document-upload-client.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/document/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/_components/directional-nudge.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/_components/liveness-verify-client.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/_components/qr-display.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/components/dashboard/recovery-setup-section.tsx
  apps/web/src/components/dashboard/user-data-section.tsx
  apps/web/src/components/dashboard/view-identity-data.tsx
  apps/web/src/components/layouts/page-header.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/sheet.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

fix(sign-up): show user email in passkey browser prompt instead of anonymous placeholder
  apps/web/src/components/sign-up/sign-up-form.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

fix(ui): mobile responsiveness for NFC chip verification labels
  apps/web/src/app/(dashboard)/dashboard/verify/_components/country-document-selector.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/verification-method-cards.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

fix(vault): detect and recover from missing profile secret after verification
  apps/web/src/app/(dashboard)/dashboard/_components/identity-card.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/document/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/_components/liveness-verify-client.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/_components/status-display.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/_components/zkpassport-flow.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/page.tsx
  apps/web/src/components/vault-unlock/vault-unlock.tsx
  apps/web/src/lib/assurance/__tests__/compute.test.ts
  apps/web/src/lib/assurance/compute.ts
  apps/web/src/lib/assurance/data.ts
  apps/web/src/lib/assurance/types.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/trpc/routers/__tests__/attestation.test.ts
  apps/web/src/lib/trpc/routers/__tests__/passport-chip.test.ts
  apps/web/src/lib/trpc/routers/passport-chip.ts
  docs/tamper-model.md
Due: biome-check-web, tsc-check-web, knip-check-web

fix(sign-up): read email from DOM ref to handle browser autofill in passkey prompt
  apps/web/src/components/sign-up/sign-up-form.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

fix(demo-rp): render aid collection pass QR locally instead of external service
  apps/demo-rp/src/components/aid/aid-dashboard.tsx
Due: none

feat(auth): migrate all better-auth packages to fork v1.5.6
  apps/demo-rp/package.json
  apps/demo-rp/pnpm-lock.yaml
  apps/demo-rp/src/components/aid/aid-dashboard.tsx
  apps/demo-rp/vendor/better-auth-1.5.6.tgz
  apps/demo-rp/vendor/better-auth-core-1.5.6.tgz
  apps/demo-rp/vendor/better-auth-drizzle-adapter-1.5.6.tgz
  apps/web/package.json
  apps/web/patches/@better-auth__core@1.5.5.patch
  apps/web/patches/@better-auth__passkey@1.5.5.patch
  apps/web/patches/better-auth@1.5.5.patch
  apps/web/patches/better-call@2.0.2.patch
  apps/web/pnpm-lock.yaml
  apps/web/src/components/dashboard/passkey-management-section.tsx
  apps/web/src/components/providers/auth-ui-provider.tsx
  apps/web/src/components/sign-up/wallet-signup-form.tsx
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/passkey.ts
  apps/web/vendor/better-auth-1.5.6.tgz
  apps/web/vendor/better-auth-ciba-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-ciba-1.5.6.tgz
  apps/web/vendor/better-auth-core-1.5.6.tgz
  apps/web/vendor/better-auth-drizzle-adapter-1.5.6.tgz
  apps/web/vendor/better-auth-haip-0.0.0.tgz
  apps/web/vendor/better-auth-haip-1.5.6.tgz
  apps/web/vendor/better-auth-oauth-provider-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-oauth-provider-1.5.6.tgz
  apps/web/vendor/better-auth-oidc4ida-0.0.0.tgz
  apps/web/vendor/better-auth-oidc4ida-1.5.6.tgz
  apps/web/vendor/better-auth-oidc4vci-0.0.0.tgz
  apps/web/vendor/better-auth-oidc4vci-1.5.6.tgz
  apps/web/vendor/better-auth-oidc4vp-0.0.0.tgz
  apps/web/vendor/better-auth-oidc4vp-1.5.6.tgz
  apps/web/vendor/better-auth-passkey-1.5.6.tgz
Due: biome-check-web, tsc-check-web, knip-check-web

feat(ciba): add canonical agent claims domain module with AAP schema validation
  apps/demo-rp/src/app/aether/page.tsx
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/components/aether/agent-chat.tsx
  apps/demo-rp/src/hooks/use-ciba-flow.ts
  apps/web/src/app/approve/[authReqId]/page.tsx
  apps/web/src/components/ciba/ciba-approve-client.tsx
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/email/ciba-mailer.ts
  apps/web/src/lib/identity/__tests__/agent-claims.test.ts
  apps/web/src/lib/identity/agent-claims.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(cimd): expand grant types and harden URL validation per IETF draft §3-4
  apps/web/src/lib/auth/oidc/__tests__/cimd.test.ts
  apps/web/src/lib/auth/oidc/cimd-validation.ts
  apps/web/src/lib/auth/oidc/cimd.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(cimd): harden fetch with HTTP 200, content-type, 10KB limit, and cache-control TTL
  apps/web/src/lib/auth/oidc/cimd.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(cimd): prefetch logo as data URI and enhance consent screen for CIMD clients
  apps/web/src/app/oauth/consent/__tests__/consent-client.test.tsx
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/app/oauth/consent/page.tsx
  apps/web/src/lib/auth/oidc/cimd.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(mcp): migrate HTTP transport to CIMD-first registration with DCR fallback
  apps/mcp/src/auth/credentials.ts
  apps/mcp/src/auth/discovery.ts
  apps/mcp/src/transports/http.ts
Due: none

feat(ciba): polish AgentIdentityCard with all 7 AAP categories and add email mailer tests
  apps/mcp/src/auth/ciba.ts
  apps/web/src/components/ciba/ciba-approve-client.tsx
  apps/web/src/lib/email/__tests__/ciba-mailer.test.ts
  apps/web/src/lib/email/ciba-mailer.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(ciba): add agent attestation verification per draft-ietf-oauth-attestation-based-client-auth-08
  apps/web/src/components/ciba/ciba-approve-client.tsx
  apps/web/src/env.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/identity/agent-attestation.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(demo-rp): add attestation provider with JWKS endpoint and E2E agent claims tests
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/app/api/jwks/route.ts
  apps/demo-rp/src/lib/attestation.ts
  apps/web/e2e/oidc/agent-attestation.spec.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(ciba): three-tier agent attestation — attested tier tracer bullet
  CLAUDE.md
  apps/demo-rp/src/app/aether/page.tsx
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/app/api/jwks/route.ts
  apps/demo-rp/src/components/aether/agent-chat.tsx
  apps/demo-rp/src/data/aether.ts
  apps/demo-rp/src/hooks/use-ciba-flow.ts
  apps/demo-rp/src/lib/attestation.ts
  apps/web/.env.example
  apps/web/e2e/wallet-setup/hardhat.setup.ts
  apps/web/pnpm-lock.yaml
  apps/web/src/components/ciba/ciba-approve-client.tsx
  apps/web/src/env.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/ciba/__tests__/agent-attestation.test.ts
  apps/web/src/lib/ciba/agent-attestation.ts
  apps/web/vendor/better-auth-ciba-1.5.1-beta.3.tgz
Due: biome-check-web, tsc-check-web, knip-check-web

test(e2e): three-tier agent attestation Playwright tests
  apps/web/e2e/oidc/agent-attestation.spec.ts
  apps/web/playwright.config.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(ciba): complete three-tier agent attestation protocol gating
  apps/demo-rp/src/app/aether/page.tsx
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/hooks/use-ciba-flow.ts
  apps/demo-rp/src/lib/attestation.ts
  apps/web/package.json
  apps/web/patches/@better-auth__ciba.patch
  apps/web/pnpm-lock.yaml
  apps/web/src/lib/ciba/__tests__/agent-attestation.test.ts
  apps/web/src/lib/ciba/agent-attestation.ts
Due: biome-check-web, tsc-check-web, knip-check-web

test(ciba): add integration tests for agent_attestation token claim
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

chore: remove ralph-loop session state file from tracking
  .claude/ralph-loop.local.md
Due: none

feat(mcp): agent host identity and attestation support
  apps/mcp/__tests__/auth/api-client.test.ts
  apps/mcp/__tests__/auth/bootstrap.test.ts
  apps/mcp/__tests__/auth/ciba.test.ts
  apps/mcp/__tests__/auth/dcr.test.ts
  apps/mcp/__tests__/auth/host-key.test.ts
  apps/mcp/__tests__/auth/token-manager.test.ts
  apps/mcp/__tests__/tools/check-compliance.test.ts
  apps/mcp/__tests__/tools/my-proofs.test.ts
  apps/mcp/__tests__/tools/purchase.test.ts
  apps/mcp/__tests__/tools/whoami.test.ts
  apps/mcp/__tests__/transports/http.test.ts
  apps/mcp/__tests__/transports/stdio.test.ts
  apps/mcp/src/__tests__/agent.test.ts
  apps/mcp/src/agent.ts
  apps/mcp/src/auth/agent-registration.ts
  apps/mcp/src/auth/api-client.ts
  apps/mcp/src/auth/bootstrap.ts
  apps/mcp/src/auth/browser-redirect.ts
  apps/mcp/src/auth/ciba.ts
  apps/mcp/src/auth/context.ts
  apps/mcp/src/auth/credentials.ts
  apps/mcp/src/auth/dcr.ts
  apps/mcp/src/auth/host-key.ts
  apps/mcp/src/auth/identity.ts
  apps/mcp/src/auth/runtime-manager.ts
  apps/mcp/src/auth/token-auth.ts
  apps/mcp/src/auth/token-manager.ts
  apps/mcp/src/tools/purchase.ts
  apps/mcp/src/tools/request-approval.ts
  apps/mcp/src/tools/whoami.ts
  apps/mcp/src/transports/http.ts
  apps/mcp/src/transports/stdio.ts
Due: none

feat(agent): demo-rp integration, documentation, and landing updates
  CLAUDE.md
  apps/demo-rp/README.md
  apps/demo-rp/package.json
  apps/demo-rp/pnpm-lock.yaml
  apps/demo-rp/src/app/aether/page.tsx
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/app/api/dcr/route.test.ts
  apps/demo-rp/src/app/api/dcr/route.ts
  apps/demo-rp/src/components/aether/agent-chat.tsx
  apps/demo-rp/src/components/shared/dcr-registration.tsx
  apps/demo-rp/src/data/aether.ts
  apps/demo-rp/src/hooks/use-ciba-flow.ts
  apps/demo-rp/src/lib/agent-runtime.ts
  apps/demo-rp/src/lib/attestation.ts
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/src/lib/db/connection.ts
  apps/demo-rp/src/lib/db/schema.ts
  apps/demo-rp/src/lib/dcr.ts
  apps/demo-rp/src/lib/dpop.test.ts
  apps/demo-rp/src/lib/dpop.ts
  apps/demo-rp/src/lib/scenarios.ts
  apps/demo-rp/tsconfig.json
  apps/demo-rp/vendor/better-auth-1.5.1-beta.3.tgz
  apps/demo-rp/vendor/better-auth-core-1.5.1-beta.3.tgz
  apps/demo-rp/vendor/better-auth-drizzle-adapter-1.5.1-beta.3.tgz
  apps/demo-rp/vendor/better-auth-kysely-adapter-1.5.1-beta.3.tgz
  apps/demo-rp/vendor/better-auth-memory-adapter-1.5.1-beta.3.tgz
  apps/demo-rp/vendor/better-auth-mongo-adapter-1.5.1-beta.3.tgz
  apps/demo-rp/vendor/better-auth-prisma-adapter-1.5.1-beta.3.tgz
  apps/demo-rp/vendor/better-auth-telemetry-1.5.1-beta.3.tgz
  apps/landing/src/components/docs/__tests__/transform-href.test.ts
  apps/landing/src/components/landing/compliance-standards.tsx
  apps/landing/src/content/docs.ts
  apps/landing/src/pages/agents-page.tsx
  docs/adr/platform/0004-agent-provider-adapter-architecture.md
  docs/agent-architecture.md
  docs/agentic-authorization.md
  docs/architecture.md
  docs/attestation-privacy-architecture.md
  docs/oauth-integrations.md
Due: biome-check-landing, tsc-check-landing

fix(ci): demo-rp Dockerfile vendor copy and knip reporter flag
  .github/workflows/code-quality.yml
  apps/demo-rp/Dockerfile
Due: none

fix(demo-rp): whitelist vendor/ in .dockerignore
  apps/demo-rp/.dockerignore
Due: none

docs: add VEIL v0.1 and PACT v0.1 security profile specifications
  docs/(specs)/meta.json
  docs/(specs)/pact-v0.1-draft.md
  docs/(specs)/veil-v0.1-draft.md
Due: none

docs: restructure public docs into audience-based groups with structural framing
  CLAUDE.md
  docs/(architecture)/agent-architecture.md
  docs/(architecture)/attestation-privacy-architecture.md
  docs/(architecture)/meta.json
  docs/(architecture)/recovery-trust-model.md
  docs/(architecture)/ssi-architecture.md
  docs/(architecture)/tamper-model.md
  docs/(architecture)/web3-architecture.md
  docs/(concepts)/architecture.md
  docs/(concepts)/cryptographic-pillars.md
  docs/(concepts)/meta.json
  docs/(protocols)/fhe-key-lifecycle.md
  docs/(protocols)/meta.json
  docs/(protocols)/oauth-integrations.md
  docs/(protocols)/password-security.md
  docs/(protocols)/zk-architecture.md
  docs/(protocols)/zk-nationality-proofs.md
  docs/adr/platform/0003-dcr-open-registration-user-gated-consent.md
  docs/adr/privacy/0012-pii-data-segmentation.md
  docs/attestation-privacy-architecture.md
  docs/blockchain-setup.md
  docs/fhe-key-lifecycle.md
  docs/meta.json
  docs/password-security.md
  docs/social-login-integration-guide.md
  docs/tamper-model.md
  docs/verification.md
Due: none

fix(auth): align PACT/VEIL authorization semantics and agent privacy controls
  apps/mcp/__tests__/transports/http.test.ts
  apps/mcp/__tests__/transports/stdio.test.ts
  apps/mcp/src/auth/agent-registration.ts
  apps/mcp/src/transports/http.ts
  apps/mcp/src/transports/stdio.ts
  apps/web/src/app/api/auth/agent/introspect/route.ts
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/lib/auth/__tests__/token-exchange.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/cimd.test.ts
  apps/web/src/lib/auth/oidc/__tests__/ephemeral-identity-claims.test.ts
  apps/web/src/lib/auth/oidc/__tests__/id-token-claims.test.ts
  apps/web/src/lib/auth/oidc/cimd-validation.ts
  apps/web/src/lib/auth/oidc/ephemeral-identity-claims.ts
  apps/web/src/lib/auth/oidc/token-exchange.ts
  apps/web/src/lib/ciba/__tests__/agent-binding.integration.test.ts
  apps/web/src/lib/ciba/__tests__/agent-introspection.integration.test.ts
  apps/web/src/lib/ciba/__tests__/grant-evaluation.integration.test.ts
  apps/web/src/lib/ciba/__tests__/pairwise-agent.test.ts
  apps/web/src/lib/ciba/agent-binding.ts
  apps/web/src/lib/ciba/agent-jwt.ts
  apps/web/src/lib/ciba/grant-evaluation.ts
  apps/web/src/lib/ciba/pairwise-agent.ts
  apps/web/src/lib/db/schema/agent.ts
  apps/web/src/lib/db/seed/capabilities.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(landing): replace protocol-explainer with use-case-driven agents page
  apps/landing/app/routes/agents.tsx
Due: biome-check-landing, tsc-check-landing

feat: three-tier agent identity with CIBA trust-tier wiring
  apps/demo-rp/src/app/aether/page.tsx
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/app/api/dcr/route.test.ts
  apps/demo-rp/src/app/api/dcr/route.ts
  apps/demo-rp/src/components/shared/dcr-registration.tsx
  apps/demo-rp/src/data/aether.ts
  apps/demo-rp/src/hooks/use-ciba-flow.ts
  apps/demo-rp/src/lib/agent-runtime-storage.test.ts
  apps/demo-rp/src/lib/agent-runtime-storage.ts
  apps/demo-rp/src/lib/agent-runtime.test.ts
  apps/demo-rp/src/lib/agent-runtime.ts
  apps/demo-rp/src/lib/attestation.ts
  apps/demo-rp/src/lib/db/schema.ts
  apps/demo-rp/src/lib/dpop.ts
  apps/web/src/app/(dashboard)/dashboard/ciba/approve/page.tsx
  apps/web/src/app/(dashboard)/dashboard/ciba/page.tsx
  apps/web/src/app/approve/[authReqId]/page.tsx
  apps/web/src/components/ciba/ciba-approve-client.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): harden zkpassport verification flow
  apps/web/next.config.ts
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/_components/zkpassport-flow.tsx
  apps/web/src/instrumentation.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/privacy/zk/__tests__/zkpassport-verifier.test.ts
  apps/web/src/lib/privacy/zk/zkpassport-verifier.ts
  apps/web/src/lib/trpc/routers/__tests__/passport-chip.test.ts
  apps/web/src/lib/trpc/routers/passport-chip.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(landing): apply structural framing style to agents page
  apps/landing/app/routes/agents.tsx
Due: biome-check-landing, tsc-check-landing

fix: resolve agent demo failures and normalize adapter string[] handling
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/lib/agent-runtime.ts
  apps/demo-rp/src/lib/attestation.ts
  apps/demo-rp/src/lib/scenarios.ts
  apps/web/src/app/(dashboard)/dashboard/developer/applications/page.tsx
  apps/web/src/app/api/auth/agent/introspect/route.ts
  apps/web/src/app/api/auth/agent/register-host/route.ts
  apps/web/src/app/api/auth/oauth2/end-session/route.ts
  apps/web/src/app/api/rp-admin/clients/owned/route.ts
  apps/web/src/app/api/rp-admin/clients/unowned/route.ts
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/app/oauth/consent/page.tsx
  apps/web/src/components/dashboard/connected-apps-card.tsx
  apps/web/src/lib/auth/api-auth.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/pairwise.integration.test.ts
  apps/web/src/lib/auth/oidc/__tests__/pairwise.test.ts
  apps/web/src/lib/auth/oidc/backchannel-logout.ts
  apps/web/src/lib/auth/oidc/pairwise.ts
  apps/web/src/lib/auth/oidc/token-exchange.ts
  apps/web/src/lib/ciba/pairwise-agent.ts
  apps/web/src/lib/db/adapter-compat.ts
  apps/web/src/lib/identity/agent-attestation.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(push): harden CIBA notification architecture for privacy and correctness
  .gitignore
  apps/demo-rp/src/components/aether/agent-chat.tsx
  apps/web/public/push-sw.js
  apps/web/src/app/(dashboard)/dashboard/ciba/_components/live-updater.tsx
  apps/web/src/app/(dashboard)/dashboard/ciba/_components/push-banner.tsx
  apps/web/src/app/(dashboard)/dashboard/ciba/approve/page.tsx
  apps/web/src/app/(dashboard)/dashboard/ciba/page.tsx
  apps/web/src/app/api/ciba/push/__tests__/push-routes.integration.test.ts
  apps/web/src/app/api/ciba/push/subscribe/route.ts
  apps/web/src/components/ciba/ciba-approve-client.tsx
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/db/schema/push.ts
  apps/web/src/lib/push/ciba-payload.ts
Due: biome-check-web, tsc-check-web, knip-check-web
