Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web, ocr-requirements-lock, cargo-fmt-fhe, cargo-clippy-fhe, cargo-fmt-signer, cargo-clippy-signer

biome-check-web:
  name: biome-check (web)
  entry: bash -c 'cd apps/web && pnpm run lint:fix'
  language: system
  pass_filenames: false

biome-check-landing:
  name: biome-check (landing)
  entry: bash -c 'cd apps/landing && pnpm run lint:fix'
  language: system
  pass_filenames: false

tsc-check-web:
  name: TypeScript type-check (web)
  entry: bash -c 'cd apps/web && pnpm run type-check'
  language: system
  pass_filenames: false

tsc-check-landing:
  name: TypeScript type-check (landing)
  entry: bash -c 'cd apps/landing && pnpm run type-check'
  language: system
  pass_filenames: false

knip-check-web:
  name: Knip dead code check (web)
  entry: bash -c 'cd apps/web && pnpm run knip'
  language: system
  pass_filenames: false

ocr-requirements-lock:
  name: pip-compile lock (ocr)
  entry: bash scripts/check-ocr-requirements-lock.sh
  language: python
  additional_dependencies:
  - pip-tools
  pass_filenames: false

cargo-fmt-fhe:
  name: cargo fmt (fhe)
  entry: cargo fmt --manifest-path apps/fhe/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy-fhe:
  name: cargo clippy (fhe)
  entry: cargo clippy --manifest-path apps/fhe/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

cargo-fmt-signer:
  name: cargo fmt (signer)
  entry: cargo fmt --manifest-path apps/signer/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy-signer:
  name: cargo clippy (signer)
  entry: cargo clippy --manifest-path apps/signer/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

docs(strategy): add project assessment, PMF analysis and pivot options
  docs/strategy/2026-09-assessment-and-pivot.md
Due: none

fix(ci): repair monorepo Docker build inputs
  .dockerignore
  apps/demo-rp/Dockerfile
  apps/web/Dockerfile
Due: none

fix(deps): upgrade Next.js to 16.3.6 in web and demo-rp
  apps/demo-rp/package.json
  apps/web/package.json
  pnpm-lock.yaml
Due: biome-check-web

fix(fhe): time out keygen after 120s and surface error in enrollment
  apps/web/src/app/dashboard/verify/_components/fhe-enrollment-dialog.tsx
  apps/web/src/lib/privacy/fhe/__tests__/keygen-client.test.ts
  apps/web/src/lib/privacy/fhe/keygen-client.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(deps): upgrade Pillow to 12.3.0 in the OCR service
  apps/ocr/pyproject.toml
  apps/ocr/requirements.lock
Due: ocr-requirements-lock

fix(deps): upgrade hono to 4.13.9
  apps/mcp/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs: fix stale doc links and facts in CLAUDE.md/AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: none

fix(ci): repair monorepo Docker build inputs (#197)
  .dockerignore
  apps/demo-rp/Dockerfile
  apps/web/Dockerfile
Due: none

fix(deps): patch Next.js, hono and Pillow advisories (#199)
  apps/demo-rp/package.json
  apps/mcp/package.json
  apps/ocr/pyproject.toml
  apps/ocr/requirements.lock
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check-web, ocr-requirements-lock

docs: fix stale doc links and facts in CLAUDE.md/AGENTS.md (#204)
  AGENTS.md
  CLAUDE.md
Due: none

fix(fhe): time out keygen after 120s and surface error in enrollment (#198)
  apps/web/src/app/dashboard/verify/_components/fhe-enrollment-dialog.tsx
  apps/web/src/lib/privacy/fhe/__tests__/keygen-client.test.ts
  apps/web/src/lib/privacy/fhe/keygen-client.ts
Due: biome-check-web, tsc-check-web, knip-check-web

chore(deps): upgrade better-auth to 1.7.6
  apps/demo-rp/package.json
  apps/web/package.json
  apps/web/src/lib/auth/auth-config.ts
  apps/web/vendor/@better-auth__oauth-provider@1.7.6.patch
  apps/web/vendor/README.md
  apps/web/vendor/better-auth-ciba-1.7.0-beta.9.tgz
  apps/web/vendor/better-auth-ciba-1.7.6.tgz
  apps/web/vendor/better-auth-haip-1.7.0-beta.9.tgz
  apps/web/vendor/better-auth-haip-1.7.6.tgz
  apps/web/vendor/better-auth-oidc4ida-1.7.0-beta.9.tgz
  apps/web/vendor/better-auth-oidc4ida-1.7.6.tgz
  apps/web/vendor/better-auth-oidc4vci-1.7.0-beta.9.tgz
  apps/web/vendor/better-auth-oidc4vci-1.7.6.tgz
  apps/web/vendor/better-auth-oidc4vp-1.7.0-beta.9.tgz
  apps/web/vendor/better-auth-oidc4vp-1.7.6.tgz
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check-web, tsc-check-web, knip-check-web

fix(db): align the auth schema with better-auth 1.7.6
  apps/web/scripts/probe-mcp-http.ts
  apps/web/src/app/api/auth/agent/host/rotate-key/route.test.ts
  apps/web/src/app/api/auth/agent/revoke/route.test.ts
  apps/web/src/app/api/ciba/identity/__tests__/intent-binding.integration.test.ts
  apps/web/src/lib/agents/__tests__/actor-subject.test.ts
  apps/web/src/lib/agents/__tests__/agent-binding.integration.test.ts
  apps/web/src/lib/agents/__tests__/agent-introspection.integration.test.ts
  apps/web/src/lib/agents/__tests__/approval-resolve.integration.test.ts
  apps/web/src/lib/agents/__tests__/grant-evaluation.integration.test.ts
  apps/web/src/lib/auth/__tests__/agent-bootstrap.integration.test.ts
  apps/web/src/lib/auth/__tests__/assurance-id-token.integration.test.ts
  apps/web/src/lib/auth/__tests__/authorization-code-id-token.integration.test.ts
  apps/web/src/lib/auth/__tests__/authorize-challenge.integration.test.ts
  apps/web/src/lib/auth/__tests__/better-auth-schema.integration.test.ts
  apps/web/src/lib/auth/__tests__/ciba-ping.integration.test.ts
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
  apps/web/src/lib/auth/__tests__/client-id-metadata.integration.test.ts
  apps/web/src/lib/auth/__tests__/end-session.integration.test.ts
  apps/web/src/lib/auth/__tests__/mcp-e2e.integration.test.ts
  apps/web/src/lib/auth/__tests__/mcp-http.integration.test.ts
  apps/web/src/lib/auth/__tests__/oauth-auth-time.integration.test.ts
  apps/web/src/lib/auth/__tests__/rfc8707-resource.integration.test.ts
  apps/web/src/lib/auth/__tests__/step-up-auth.integration.test.ts
  apps/web/src/lib/auth/__tests__/step-up-ciba.integration.test.ts
  apps/web/src/lib/auth/__tests__/sybil-nullifier.integration.test.ts
  apps/web/src/lib/auth/__tests__/token-exchange.integration.test.ts
  apps/web/src/lib/auth/__tests__/userinfo-disclosure.integration.test.ts
  apps/web/src/lib/auth/auth-config.ts
  apps/web/src/lib/auth/oidc/__tests__/pairwise.integration.test.ts
  apps/web/src/lib/auth/oidc/disclosure/__tests__/context.test.ts
  apps/web/src/lib/auth/oidc/wallet-dcr.ts
  apps/web/src/lib/db/schema/auth.ts
  apps/web/src/lib/db/schema/ciba.ts
  apps/web/src/lib/db/schema/oauth-provider.ts
  apps/web/src/lib/trpc/routers/__tests__/agent.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(sdk): register loopback clients as native applications
  apps/web/e2e/oidc/oidc-helpers.ts
  apps/web/src/lib/auth/__tests__/dcr-scopes.integration.test.ts
  apps/web/src/lib/auth/__tests__/mcp-http.integration.test.ts
  packages/sdk/src/node/oauth-client-metadata.test.ts
  packages/sdk/src/node/oauth-client-metadata.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(oauth): verify signed consent queries with the provider's verifier
  apps/web/src/app/(consent)/oauth/consent/__tests__/consent-client.test.tsx
  apps/web/src/app/(consent)/oauth/consent/consent-client.tsx
  apps/web/src/components/vault-unlock.tsx
  apps/web/src/lib/auth/__tests__/step-up-auth.integration.test.ts
  apps/web/src/lib/auth/oidc/__tests__/oauth-query.test.ts
  apps/web/src/lib/auth/oidc/oauth-request.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(oauth): leave max_age and voluntary acr_values to the provider
  apps/web/src/lib/auth/__tests__/step-up-auth.integration.test.ts
  apps/web/src/lib/auth/auth-config.ts
  apps/web/src/lib/auth/oidc/__tests__/step-up.test.ts
  apps/web/src/lib/auth/oidc/step-up.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(auth): keep password and wallet credentials out of magic-link cleanup
  apps/web/src/app/(auth)/sign-in/page.tsx
  apps/web/src/lib/auth/__tests__/magic-link-credentials.integration.test.ts
  apps/web/src/lib/auth/auth-config.ts
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(oauth): use the provider's logout and back-channel delivery
  apps/web/src/app/api/auth/oauth2/README.md
  apps/web/src/app/api/auth/oauth2/end-session/route.ts
  apps/web/src/app/api/auth/oauth2/register/route.integration.test.ts
  apps/web/src/lib/auth/__tests__/dcr-scopes.integration.test.ts
  apps/web/src/lib/auth/__tests__/end-session.integration.test.ts
  apps/web/src/lib/auth/auth-config.ts
  apps/web/src/lib/auth/oidc/__tests__/backchannel-logout.test.ts
  apps/web/src/lib/auth/oidc/__tests__/bcl-integration.test.ts
  apps/web/src/lib/auth/oidc/backchannel-logout.ts
  apps/web/src/lib/auth/oidc/dcr-client-extensions.ts
  apps/web/src/lib/db/queries/__tests__/revocation.integration.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(oauth): sign every ID token with RS256
  apps/web/src/app/(consent)/oauth/consent/__tests__/consent-client.test.tsx
  apps/web/src/app/(consent)/oauth/consent/__tests__/security-badges.test.ts
  apps/web/src/app/(consent)/oauth/consent/_components/client-security-badges.tsx
  apps/web/src/app/(consent)/oauth/consent/_components/security-badges.ts
  apps/web/src/app/(consent)/oauth/consent/consent-client.tsx
  apps/web/src/app/(consent)/oauth/consent/page.tsx
  apps/web/src/lib/auth/__tests__/haip-integration.test.ts
  apps/web/src/lib/auth/__tests__/oidc-well-known.test.ts
  apps/web/src/lib/auth/oidc/__tests__/jwt-signer.test.ts
  apps/web/src/lib/auth/oidc/__tests__/key-rotation.test.ts
  apps/web/src/lib/auth/oidc/__tests__/ml-dsa-signer.test.ts
  apps/web/src/lib/auth/oidc/disclosure/__tests__/rp-contract.test.ts
  apps/web/src/lib/auth/oidc/jwt-signer.ts
  apps/web/src/lib/auth/oidc/token-exchange.ts
  apps/web/src/lib/auth/oidc/well-known.ts
  apps/web/src/lib/privacy/primitives/__tests__/ml-dsa.test.ts
  apps/web/src/lib/privacy/primitives/post-quantum.ts
  apps/web/src/lib/trpc/routers/admin.ts
  docs/(architecture)/attestation-privacy-architecture.md
  docs/(concepts)/cryptographic-pillars.md
  docs/(protocols)/oauth-integrations.md
Due: biome-check-web, tsc-check-web, knip-check-web

fix(auth): rate-limit by the Cloudflare client IP
  apps/web/src/lib/auth/auth-config.ts
Due: biome-check-web, tsc-check-web, knip-check-web

test(e2e): disable auth rate limits on every Playwright issuer
  apps/web/src/lib/auth/auth-config.ts
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(oauth): serve PAR through the auth catch-all
  apps/web/src/app/(consent)/oauth/consent/submit/route.ts
  apps/web/src/app/api/auth/oauth2/README.md
  apps/web/src/app/api/auth/oauth2/par/route.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(auth): refresh the session cache after sign-up
  apps/web/src/app/(auth)/sign-up/_components/sign-up-form.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

fix(fpa): require openid for the claims parameter
  apps/web/src/app/api/oauth2/authorize-challenge/route.ts
  packages/sdk/src/fpa/client.test.ts
  packages/sdk/src/fpa/client.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(demo-rp): register for 1.7.6 and sign out through Zentity
  apps/demo-rp/README.md
  apps/demo-rp/src/app/api/dcr/route.test.ts
  apps/demo-rp/src/app/api/dcr/route.ts
  apps/demo-rp/src/hooks/__tests__/use-oauth-flow.test.tsx
  apps/demo-rp/src/hooks/use-oauth-flow.ts
  apps/demo-rp/src/lib/auth.test.ts
  apps/demo-rp/src/lib/auth.ts
Due: none

chore: stop next dev from generating agent rule files
  apps/demo-rp/next.config.ts
  apps/web/next.config.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(ciba): open the approval page from CIBA notification links
  apps/web/src/app/(consent)/approve/route.test.ts
  apps/web/src/app/(consent)/approve/route.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(consent): render payment approvals on the standalone approval page
  apps/web/src/components/chrome/standalone-layout.tsx
  apps/web/src/components/providers/query-provider.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

fix(oauth): keep identity releases separate per relying party
  apps/web/src/app/api/ciba/identity/stage/route.ts
  apps/web/src/app/api/ciba/identity/unstage/route.ts
  apps/web/src/lib/auth/__tests__/authorization-code-id-token.integration.test.ts
  apps/web/src/lib/auth/__tests__/userinfo-disclosure.integration.test.ts
  apps/web/src/lib/auth/auth-config.ts
  apps/web/src/lib/auth/oidc/disclosure/__tests__/context.test.ts
  apps/web/src/lib/auth/oidc/disclosure/context.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(ciba): issue payment tokens for the wallet audience
  apps/web/src/lib/agents/push-sender.ts
  apps/web/src/lib/auth/__tests__/payment-token.integration.test.ts
  apps/web/src/lib/auth/auth-config.ts
  apps/web/src/lib/auth/oidc/__tests__/payment-mint.test.ts
  apps/web/src/lib/auth/oidc/payment-mint.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(oauth): only redirect step-up rejections to registered redirect URIs
  apps/web/src/lib/auth/__tests__/step-up-auth.integration.test.ts
  apps/web/src/lib/auth/oidc/step-up.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(http): rate-limit app routes by the trusted client IP
  apps/web/src/lib/auth/auth-config.ts
  apps/web/src/lib/http/__tests__/rate-limit.test.ts
  apps/web/src/lib/http/rate-limit.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(demo-rp): derive payment confirmation codes with Web Crypto only
  apps/demo-rp/src/lib/confirmation-code.ts
Due: none

docs: describe provider-owned logout and RS256-only ID tokens
  AGENTS.md
  CLAUDE.md
  docs/(protocols)/oauth-integrations.md
  docs/adr/privacy/0013-post-quantum-cryptographic-migration.md
Due: none

fix(demo-rp): call zpay's payment lifecycle API under /zpay/v1
  apps/demo-rp/e2e/start-zpay-runtime.ts
  apps/demo-rp/playwright.config.mts
  apps/demo-rp/scripts/probe-spoof.mts
  apps/demo-rp/scripts/probe-wire.mts
  apps/demo-rp/src/app/api/aether/prepare/route.ts
  apps/demo-rp/src/app/api/aether/sign/route.test.ts
  apps/demo-rp/src/app/api/aether/sign/route.ts
  apps/demo-rp/src/lib/confirmation-code.ts
  apps/demo-rp/src/lib/zpay-client.ts
  packages/sdk/src/protocol/signed-payload.ts
Due: none

test(e2e): make the Aether and sign-up specs deterministic
  apps/demo-rp/e2e/consumer-scenarios.spec.mts
  apps/web/e2e/sign-up/full-flow.spec.ts
Due: biome-check-web, tsc-check-web, knip-check-web

test(e2e): pass WALLET_AUDIENCE to the e2e web servers
  apps/demo-rp/playwright.config.mts
  apps/web/.env.example
  apps/web/playwright.config.mts
Due: none

test(e2e): serve the e2e issuer from localhost
  apps/demo-rp/e2e/scenario-flow.mts
  apps/demo-rp/playwright.config.mts
  apps/web/e2e/run-global-setup.ts
  apps/web/playwright.config.mts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(oidc4vp): allow clock skew when checking status list tokens
  apps/web/src/lib/auth/auth-config.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(auth): escape HTML in CIBA approval emails and guard client metadata parsing
  apps/web/src/lib/auth/__tests__/ciba-ping.integration.test.ts
  apps/web/src/lib/auth/auth-config.ts
  apps/web/src/lib/email/__tests__/ciba.test.ts
  apps/web/src/lib/email/ciba.ts
Due: biome-check-web, tsc-check-web, knip-check-web

Path conditions:
  biome-check-web: any of: ^apps/web/.*\.(ts|tsx|js|jsx|json|css)$
  biome-check-landing: any of: ^apps/landing/.*\.(ts|tsx|js|jsx|json|css)$
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  ocr-requirements-lock: any of: ^apps/ocr/(pyproject\.toml|requirements\.lock)$
  cargo-fmt-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-clippy-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-fmt-signer: any of: ^apps/signer/.*\.rs$
  cargo-clippy-signer: any of: ^apps/signer/.*\.rs$
