Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web, ocr-requirements-lock, cargo-fmt-fhe, cargo-clippy-fhe, cargo-fmt-signer, cargo-clippy-signer

biome-check-web:
  name: biome-check (web)
  entry: bash -c 'cd apps/web && pnpm run lint:fix'
  language: system
  pass_filenames: false

biome-check-landing:
  name: biome-check (landing)
  entry: bash -c 'cd apps/landing && pnpm run lint:fix'
  language: system
  pass_filenames: false

tsc-check-web:
  name: TypeScript type-check (web)
  entry: bash -c 'cd apps/web && pnpm run type-check'
  language: system
  pass_filenames: false

tsc-check-landing:
  name: TypeScript type-check (landing)
  entry: bash -c 'cd apps/landing && pnpm run type-check'
  language: system
  pass_filenames: false

knip-check-web:
  name: Knip dead code check (web)
  entry: bash -c 'cd apps/web && pnpm run knip'
  language: system
  pass_filenames: false

ocr-requirements-lock:
  name: pip-compile lock (ocr)
  entry: bash scripts/check-ocr-requirements-lock.sh
  language: python
  additional_dependencies:
  - pip-tools
  pass_filenames: false

cargo-fmt-fhe:
  name: cargo fmt (fhe)
  entry: cargo fmt --manifest-path apps/fhe/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy-fhe:
  name: cargo clippy (fhe)
  entry: cargo clippy --manifest-path apps/fhe/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

cargo-fmt-signer:
  name: cargo fmt (signer)
  entry: cargo fmt --manifest-path apps/signer/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy-signer:
  name: cargo clippy (signer)
  entry: cargo clippy --manifest-path apps/signer/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

docs: add PRD-24 cross-channel revocation sync
  docs/plans/prd-24-cross-channel-revocation-sync.md
Due: none

fix: address attestation and x402 review findings
  apps/demo-rp/src/app/api/x402/access/route.test.ts
  apps/demo-rp/src/app/api/x402/access/route.ts
  apps/demo-rp/src/lib/poh-verifier.test.ts
  apps/demo-rp/src/lib/poh-verifier.ts
  apps/demo-rp/src/lib/x402-server.test.ts
  apps/demo-rp/src/lib/x402-server.ts
  apps/web/src/app/api/auth/oauth2/proof-of-human/route.test.ts
  apps/web/src/app/api/auth/oauth2/proof-of-human/route.ts
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/lib/blockchain/attestation/consent-revision.test.ts
  apps/web/src/lib/blockchain/attestation/consent-revision.ts
  apps/web/src/lib/blockchain/attestation/on-chain-attestation-view-state.test.ts
  apps/web/src/lib/blockchain/attestation/on-chain-attestation-view-state.ts
  apps/web/src/lib/trpc/routers/__tests__/attestation.test.ts
  apps/web/src/lib/trpc/routers/__tests__/compliant-token.test.ts
  apps/web/src/lib/trpc/routers/attestation.ts
  apps/web/src/lib/trpc/routers/compliant-token.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): resolve CI failures across tsc, unit, and integration tests
  .pre-commit-config.yaml
  apps/web/.husky/pre-commit
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/app/(dashboard)/dashboard/agents/_components/connected-tab.test.tsx
  apps/web/src/app/api/oauth2/identity/intent/__tests__/route.test.ts
  apps/web/src/lib/agents/display.test.ts
  apps/web/src/lib/auth/__tests__/authentication-context.integration.test.ts
  apps/web/src/lib/auth/__tests__/authorize-challenge.integration.test.ts
  apps/web/src/lib/auth/__tests__/ciba-ping.integration.test.ts
  apps/web/src/lib/auth/__tests__/mcp-e2e.integration.test.ts
  apps/web/src/lib/auth/__tests__/mcp-http.integration.test.ts
  apps/web/src/lib/auth/__tests__/oauth-auth-time.integration.test.ts
  apps/web/src/lib/auth/__tests__/rfc8707-resource.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/bcl-integration.test.ts
  apps/web/src/lib/auth/oidc/__tests__/key-rotation.test.ts
  apps/web/src/lib/auth/oidc/__tests__/protected-resources.test.ts
  apps/web/src/lib/auth/oidc/protected-resources.ts
  apps/web/src/lib/ciba/__tests__/agent-introspection.integration.test.ts
  apps/web/src/lib/email/__tests__/ciba-mailer.test.ts
  apps/web/src/lib/privacy/primitives/__tests__/derived-keys.test.ts
  apps/web/src/lib/privacy/zk/__tests__/claims.test.ts
  apps/web/src/lib/privacy/zk/__tests__/zkpassport-verifier.test.ts
  apps/web/src/lib/push/__tests__/ciba-payload.test.ts
  apps/web/src/lib/recovery/__tests__/custodial-guardian.integration.test.ts
  apps/web/src/lib/trpc/routers/__tests__/passport-chip.test.ts
  apps/web/src/test/db-test-utils.ts
  apps/web/vitest.global-setup.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(ci): resolve 3 CI-only failures
  .github/workflows/code-quality.yml
  .github/workflows/test.yml
  apps/web/src/lib/auth/oidc/protected-resources.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(ocr): track test fixture images in git
  .gitignore
  apps/ocr/tests/fixtures/__init__.py
  apps/ocr/tests/fixtures/images/blank_white.png
  apps/ocr/tests/fixtures/images/corrupted.bin
  apps/ocr/tests/fixtures/images/id_cards/Latvia.png
  apps/ocr/tests/fixtures/images/id_cards/Liechtenstein.png
  apps/ocr/tests/fixtures/images/id_cards/Lithuania.png
  apps/ocr/tests/fixtures/images/id_cards/Malta_BAD.png
  apps/ocr/tests/fixtures/images/id_cards/Monaco.png
  apps/ocr/tests/fixtures/images/id_cards/Peru.png
  apps/ocr/tests/fixtures/images/id_cards/Serbia.png
  apps/ocr/tests/fixtures/images/id_cards/Spain.png
  apps/ocr/tests/fixtures/images/id_cards/Sweden.png
  apps/ocr/tests/fixtures/images/passports/Canada.png
  apps/ocr/tests/fixtures/images/passports/China.png
  apps/ocr/tests/fixtures/images/passports/Czech_Republic.png
  apps/ocr/tests/fixtures/images/passports/ICAO_Example.png
  apps/ocr/tests/fixtures/images/passports/ICAO_Example2.png
  apps/ocr/tests/fixtures/images/passports/Iceland.png
  apps/ocr/tests/fixtures/images/passports/Interpol.png
  apps/ocr/tests/fixtures/images/passports/Japan.png
  apps/ocr/tests/fixtures/images/passports/Qatar.png
  apps/ocr/tests/fixtures/images/passports/Ukraine.png
  apps/ocr/tests/fixtures/images/resident_cards/France.png
  apps/ocr/tests/fixtures/images/resident_cards/Germany.png
  apps/ocr/tests/fixtures/images/resident_cards/Netherland.png
  apps/ocr/tests/fixtures/images/resident_cards/Portugal.png
  apps/ocr/tests/fixtures/images/resident_cards/UK.png
  apps/ocr/tests/fixtures/images/resident_cards/USA.png
  apps/ocr/tests/fixtures/images/resident_cards/USA_Permanent.png
  apps/ocr/tests/fixtures/images/tiny_image.png
  apps/ocr/tests/fixtures/images/visas/France.png
  apps/ocr/tests/fixtures/images/visas/Germany.png
  apps/ocr/tests/fixtures/images/visas/MRVA_ICAO_Example.png
  apps/ocr/tests/fixtures/images/visas/MRVB_ICAO_Example.png
  apps/ocr/tests/fixtures/images/visas/USA.png
  apps/ocr/tests/fixtures/images/visas/USA2.png
  apps/ocr/tests/fixtures/images/visas/United_Kingdom.png
Due: none

fix(web): enforce strict knip checks and remove dead dependencies
  apps/web/knip.json
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/lib/blockchain/attestation/on-chain-attestation-view-state.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web,demo-rp): add privacy mode toggle to mask PII in demos
  .gitignore
  apps/demo-rp/src/app/aether/page.tsx
  apps/demo-rp/src/app/api/x402/access/route.test.ts
  apps/demo-rp/src/app/api/x402/access/route.ts
  apps/demo-rp/src/app/bank/page.tsx
  apps/demo-rp/src/app/exchange/page.tsx
  apps/demo-rp/src/app/layout.tsx
  apps/demo-rp/src/app/page.tsx
  apps/demo-rp/src/app/veripass/page.tsx
  apps/demo-rp/src/app/x402/page.tsx
  apps/demo-rp/src/components/aether/agent-chat.tsx
  apps/demo-rp/src/components/aid/aid-dashboard.tsx
  apps/demo-rp/src/components/aid/aid-header.tsx
  apps/demo-rp/src/components/privacy-toggle.tsx
  apps/demo-rp/src/components/providers/privacy-mode-provider.tsx
  apps/demo-rp/src/components/ui/redacted.tsx
  apps/demo-rp/src/components/veripass/claim-list.tsx
  apps/demo-rp/src/components/veripass/presentation-result.tsx
  apps/demo-rp/src/components/wine/wine-cart.tsx
  apps/demo-rp/src/components/wine/wine-order-confirmation.tsx
  apps/demo-rp/src/components/x402/wallet-connect.tsx
  apps/demo-rp/src/data/x402.ts
  apps/demo-rp/src/hooks/use-x402-flow.ts
  apps/demo-rp/src/lib/x402-server.test.ts
  apps/web/src/app/(auth)/recovery/passkey/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/dashboard/app-sidebar.tsx
  apps/web/src/components/dashboard/delete-account-section.tsx
  apps/web/src/components/dashboard/email-section.tsx
  apps/web/src/components/dashboard/header-actions.tsx
  apps/web/src/components/dashboard/profile-greeting.tsx
  apps/web/src/components/dashboard/user-data-section.tsx
  apps/web/src/components/privacy-toggle.tsx
  apps/web/src/components/providers/privacy-mode-provider.tsx
  apps/web/src/components/ui/redacted.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): wire consentReferenceId for OAuth identity disclosure binding
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/disclosure-context.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): upgrade better-auth to v1.6.0 with plugin extension protocol
  apps/web/package.json
  apps/web/patches/better-call@1.3.5.patch
  apps/web/patches/better-call@2.0.2.patch
  apps/web/pnpm-lock.yaml
  apps/web/src/app/api/health/__tests__/route.test.ts
  apps/web/src/app/api/ready/__tests__/route.test.ts
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
  apps/web/src/lib/auth/__tests__/oidc-well-known.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/backchannel-logout.test.ts
  apps/web/src/lib/auth/well-known-utils.ts
  apps/web/src/lib/email/__tests__/ciba-mailer.test.ts
  apps/web/src/lib/push/__tests__/web-push.test.ts
  apps/web/vendor/better-auth-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-1.5.6.tgz
  apps/web/vendor/better-auth-1.6.0.tgz
  apps/web/vendor/better-auth-ciba-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-ciba-1.5.6.tgz
  apps/web/vendor/better-auth-core-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-core-1.5.6.tgz
  apps/web/vendor/better-auth-core-1.6.0.tgz
  apps/web/vendor/better-auth-drizzle-adapter-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-drizzle-adapter-1.5.6.tgz
  apps/web/vendor/better-auth-haip-1.5.6.tgz
  apps/web/vendor/better-auth-kysely-adapter-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-memory-adapter-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-mongo-adapter-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-oauth-provider-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-oauth-provider-1.5.6.tgz
  apps/web/vendor/better-auth-oauth-provider-1.6.0.tgz
  apps/web/vendor/better-auth-oidc4ida-1.5.6.tgz
  apps/web/vendor/better-auth-oidc4vci-1.5.6.tgz
  apps/web/vendor/better-auth-oidc4vp-0.0.0.tgz
  apps/web/vendor/better-auth-oidc4vp-1.5.6.tgz
  apps/web/vendor/better-auth-passkey-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-passkey-1.5.6.tgz
  apps/web/vendor/better-auth-prisma-adapter-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-telemetry-1.5.1-beta.3.tgz
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): normalize oauthRequestKey to match consent-stripped verification query
  apps/web/src/app/api/oauth2/identity/stage/route.ts
  apps/web/src/app/api/oauth2/identity/unstage/route.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): fix attestation pipeline — wallet gate, fhEVM decrypt, design alignment
  apps/web/src/components/dashboard/view-identity-data.tsx
  apps/web/src/lib/blockchain/fhevm/fhevm-decryption-signature.ts
  apps/web/src/lib/blockchain/wallet-verification.ts
  apps/web/src/lib/privacy/country.ts
  apps/web/src/lib/trpc/routers/__tests__/attestation.test.ts
  apps/web/src/lib/trpc/routers/attestation.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): E2E fixes + production auth-context + metrics module bugs
  apps/web/e2e/dashboard/tier-progression.spec.ts
  apps/web/e2e/global-setup.ts
  apps/web/e2e/oidc/pii-delivery.spec.ts
  apps/web/src/app/(auth)/_components/opaque-sign-in-form.tsx
  apps/web/src/app/api/metrics/client/route.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/authentication-context.ts
  apps/web/src/lib/observability/client-metric-definitions.ts
  apps/web/src/lib/observability/client-metrics.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): userHasPassword covers credential provider; recovery E2E aligned with PRD-20 UI
  .gitignore
  apps/web/e2e/recovery/social-recovery.spec.ts
  apps/web/src/lib/db/queries/auth.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): backup-codes password confirmation + recovery E2E scoping
  apps/web/e2e/recovery/social-recovery.spec.ts
  apps/web/src/app/(auth)/backup-codes/backup-codes-client.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

fix(test): switch to forks pool for deterministic unit suite
  apps/web/src/hooks/fhevm/__tests__/use-fhevm-sdk-provider.test.tsx
  apps/web/vitest.config.mts
  apps/web/vitest.setup.mts
  apps/web/vitest.unit.config.mts
  docs/adr/platform/0005-vitest-forks-pool-test-isolation.md
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(web): consolidate 7 shallow modules into domain-named deep modules
  apps/web/knip.json
  apps/web/src/app/(dashboard)/dashboard/(web3)/attestation/_components/on-chain-attestation.tsx
  apps/web/src/app/(dashboard)/dashboard/_components/verification-details.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/document-upload-client.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/liveness/camera-view.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/liveness/liveness-flow.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/liveness/liveness-verify-client.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/passport-chip/zkpassport-flow.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/verification-flow.tsx
  apps/web/src/components/ciba-approve-client.tsx
  apps/web/src/components/providers/fhevm-provider.tsx
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/hooks/client-env.ts
  apps/web/src/hooks/use-breakpoint-mobile.ts
  apps/web/src/hooks/use-device-detection.ts
  apps/web/src/hooks/use-is-mounted.ts
  apps/web/src/lib/__tests__/terminology.test.ts
  apps/web/src/lib/auth/oidc/scope-display.ts
  apps/web/src/lib/blockchain/attestation/__tests__/consent-revision.test.ts
  apps/web/src/lib/blockchain/attestation/__tests__/on-chain-attestation-view-state.test.ts
  apps/web/src/lib/blockchain/attestation/consent-revision.ts
  apps/web/src/lib/blockchain/attestation/view.ts
  apps/web/src/lib/identity/liveness/audio.ts
  apps/web/src/lib/identity/liveness/feedback.ts
  apps/web/src/lib/identity/liveness/haptics.ts
  apps/web/src/lib/identity/liveness/speech.ts
  apps/web/src/lib/identity/liveness/use-liveness-feedback.ts
  apps/web/src/lib/identity/verification/__tests__/use-verification-stepper.test.ts
  apps/web/src/lib/identity/verification/state.ts
  apps/web/src/lib/identity/verification/store.ts
  apps/web/src/lib/identity/verification/use-document-processing.ts
  apps/web/src/lib/privacy/zk/client.ts
  apps/web/src/lib/terminology.ts
  apps/web/src/lib/trpc/client.ts
  apps/web/src/lib/trpc/types.ts
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(web): extract lib/identity/liveness/human/ sub-directory
  apps/web/knip.json
  apps/web/src/app/api/assets/human-models/[...path]/route.ts
  apps/web/src/instrumentation.ts
  apps/web/src/lib/identity/document/image-processing.ts
  apps/web/src/lib/identity/liveness/human/dist.d.ts
  apps/web/src/lib/identity/liveness/human/metrics.ts
  apps/web/src/lib/identity/liveness/human/models-path.ts
  apps/web/src/lib/identity/liveness/human/models.d.ts
  apps/web/src/lib/identity/liveness/human/server.ts
  apps/web/src/lib/identity/liveness/human/types.ts
  apps/web/src/lib/trpc/routers/__tests__/liveness.test.ts
  apps/web/src/lib/trpc/routers/liveness.ts
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(web): flatten vault-unlock and rename CIBA approval view
  apps/web/src/app/(consent)/approve/[authReqId]/page.tsx
  apps/web/src/app/(consent)/mcp/interactive/[interactionId]/page.tsx
  apps/web/src/app/(consent)/oauth/consent/consent-client.tsx
  apps/web/src/app/dashboard/agents/_components/agents-client.tsx
  apps/web/src/components/__tests__/agent-approval-view.test.tsx
  apps/web/src/components/agent-approval-view.tsx
  apps/web/src/components/vault-unlock.tsx
  apps/web/src/components/vault-unlock/use-vault-unlock.ts
  apps/web/src/components/vault-unlock/vault-unlock-panel.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(web): three structural cleanups
  apps/web/src/app/.well-known/agent-configuration/route.ts
  apps/web/src/app/api/auth/agent/register-host/route.ts
  apps/web/src/app/api/auth/agent/register/route.ts
  apps/web/src/app/api/auth/agent/revoke/route.ts
  apps/web/src/app/api/status/metrics/client/route.ts
  apps/web/src/lib/agents/__tests__/agent-attestation.test.ts
  apps/web/src/lib/agents/agent-identity.ts
  apps/web/src/lib/agents/oidc-agent.ts
  apps/web/src/lib/auth/__tests__/agent-bootstrap.integration.test.ts
  apps/web/src/lib/auth/__tests__/agent-configuration.integration.test.ts
  apps/web/src/lib/auth/api-auth.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/token-exchange.ts
  apps/web/src/lib/observability/client-metric-definitions.ts
  apps/web/src/lib/observability/client-metrics.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): repair import paths missed by refactor agents
  apps/web/src/lib/auth/auth-client.ts
  apps/web/src/lib/auth/oidc/disclosure/__tests__/rp-contract.test.ts
  apps/web/src/lib/identity/liveness/socket-handler.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(test): update vi.mock path after auth-config rename
  apps/web/src/lib/auth/__tests__/api-auth.integration.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(web): consolidate 2FA routes + liveness socket/hook clusters
  apps/web/knip.json
  apps/web/server.mjs
  apps/web/src/app/(auth)/two-factor/backup-codes/_components/backup-codes-client.tsx
  apps/web/src/app/(auth)/two-factor/backup-codes/page.tsx
  apps/web/src/app/(auth)/two-factor/verify/page.tsx
  apps/web/src/app/(auth)/two-factor/verify/verify-client.tsx
  apps/web/src/app/dashboard/settings/_components/two-factor-card.tsx
  apps/web/src/app/dashboard/verify/_components/liveness/liveness-provider.tsx
  apps/web/src/lib/auth/auth-client.ts
  apps/web/src/lib/identity/liveness/socket-logger.ts
  apps/web/src/lib/identity/liveness/socket-session.ts
  apps/web/src/lib/identity/liveness/socket.ts
  apps/web/src/lib/identity/liveness/use-liveness-camera.ts
  apps/web/src/lib/identity/liveness/use-liveness-feedback.ts
  apps/web/src/lib/identity/liveness/use-liveness.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(test): update 2FA e2e URL regexes after route rename
  apps/web/e2e/recovery/social-recovery.spec.ts
Due: biome-check-web, tsc-check-web, knip-check-web

test(e2e): run automation smoke tests before recovery to preserve seeded session
  apps/web/playwright.config.mts
Due: none

refactor(web): rename files for domain predictiveness
  apps/web/src/app/api/auth/[...all]/route.ts
  apps/web/src/app/dashboard/_components/verification-details.tsx
  apps/web/src/app/dashboard/verify/_components/country-document-selector.tsx
  apps/web/src/app/dashboard/verify/_components/fhe-enrollment-dialog.tsx
  apps/web/src/app/dashboard/verify/_components/verification-flow.tsx
  apps/web/src/app/dashboard/verify/_components/verification-method-cards.tsx
  apps/web/src/app/dashboard/verify/page.tsx
  apps/web/src/lib/assurance/posture.ts
  apps/web/src/lib/auth/oidc/wallet-dcr.ts
  apps/web/src/lib/identity/verification/finalize-and-prove.ts
  apps/web/src/lib/identity/verification/materialize.ts
  apps/web/src/lib/identity/verification/ocr-completeness.ts
  apps/web/src/lib/identity/verification/read-model.ts
  apps/web/src/lib/identity/verification/zkpassport-registry.ts
  apps/web/src/lib/privacy/bbs/curve.ts
  apps/web/src/lib/privacy/bbs/holder.ts
  apps/web/src/lib/privacy/bbs/keygen.ts
  apps/web/src/lib/privacy/bbs/signer.ts
  apps/web/src/lib/privacy/bbs/verifier.ts
  apps/web/src/lib/privacy/zk/__tests__/prove-dedup.test.ts
  apps/web/src/lib/privacy/zk/prove.ts
  docs/(protocols)/bbs-credentials.md
Due: biome-check-web, tsc-check-web, knip-check-web

fix(ci): align coverage thresholds to forks-pool baseline
  apps/web/vitest.unit.config.mts
Due: none

fix(demo-rp): defer JWKS init past Next.js build-time module evaluation
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/src/lib/poh-verifier.ts
  apps/demo-rp/src/lib/verify.ts
Due: none

fix: apps/web/package.json to reduce vulnerabilities
  apps/web/package.json
Due: biome-check-web

Path conditions:
  biome-check-web: any of: ^apps/web/.*\.(ts|tsx|js|jsx|json|css)$
  biome-check-landing: any of: ^apps/landing/.*\.(ts|tsx|js|jsx|json|css)$
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  ocr-requirements-lock: any of: ^apps/ocr/(pyproject\.toml|requirements\.lock)$
  cargo-fmt-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-clippy-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-fmt-signer: any of: ^apps/signer/.*\.rs$
  cargo-clippy-signer: any of: ^apps/signer/.*\.rs$
