Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web, ocr-requirements-lock, cargo-fmt-fhe, cargo-clippy-fhe, cargo-fmt-signer, cargo-clippy-signer

biome-check-web:
  name: biome-check (web)
  entry: bash -c 'cd apps/web && pnpm run lint:fix'
  language: system
  pass_filenames: false

biome-check-landing:
  name: biome-check (landing)
  entry: bash -c 'cd apps/landing && pnpm run lint:fix'
  language: system
  pass_filenames: false

tsc-check-web:
  name: TypeScript type-check (web)
  entry: bash -c 'cd apps/web && pnpm run type-check'
  language: system
  pass_filenames: false

tsc-check-landing:
  name: TypeScript type-check (landing)
  entry: bash -c 'cd apps/landing && pnpm run type-check'
  language: system
  pass_filenames: false

knip-check-web:
  name: Knip dead code check (web)
  entry: bash -c 'cd apps/web && pnpm run knip'
  language: system
  pass_filenames: false

ocr-requirements-lock:
  name: pip-compile lock (ocr)
  entry: bash scripts/check-ocr-requirements-lock.sh
  language: python
  additional_dependencies:
  - pip-tools
  pass_filenames: false

cargo-fmt-fhe:
  name: cargo fmt (fhe)
  entry: cargo fmt --manifest-path apps/fhe/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy-fhe:
  name: cargo clippy (fhe)
  entry: cargo clippy --manifest-path apps/fhe/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

cargo-fmt-signer:
  name: cargo fmt (signer)
  entry: cargo fmt --manifest-path apps/signer/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy-signer:
  name: cargo clippy (signer)
  entry: cargo clippy --manifest-path apps/signer/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

feat(demo-rp): link logo to zentity.xyz and fix footer Platform column
  apps/demo-rp/src/app/page.tsx
  apps/demo-rp/src/components/nav.tsx
Due: none

fix(landing): remove references to deleted FEATURES.md and USE_CASES.md
  apps/landing/src/content/docs.ts
Due: biome-check-landing, tsc-check-landing

feat(web,landing): harden social login and add comprehensive legal pages
  apps/landing/src/pages/legal-pages.tsx
  apps/web/src/app/(auth)/sign-in/page.tsx
  apps/web/src/components/auth/social-login-buttons.tsx
  apps/web/src/lib/auth/auth.ts
  docs/legal/privacy-policy.md
  docs/legal/terms-of-service.md
  docs/social-login-integration-guide.md
Due: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web

feat(web,demo-rp): update better-auth to v1.5.1-beta.3
  .pre-commit-config.yaml
  apps/demo-rp/package.json
  apps/demo-rp/pnpm-lock.yaml
  apps/demo-rp/src/lib/auth.ts
  apps/web/package.json
  apps/web/patches/better-auth@1.5.1-beta.3.patch
  apps/web/pnpm-lock.yaml
  apps/web/src/app/api/fhe/enrollment/complete/__tests__/route.test.ts
  apps/web/src/lib/auth/__tests__/oauth-token-validation.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/claims.test.ts
  apps/web/src/lib/auth/plugins/eip712/server.ts
  apps/web/src/lib/auth/plugins/opaque/server.ts
  apps/web/src/lib/trpc/routers/__tests__/attestation.test.ts
  apps/web/vendor/@better-auth__core@1.5.0-beta.18.patch
  apps/web/vendor/@better-auth__core@1.5.1-beta.3.patch
  apps/web/vendor/@better-auth__oauth-provider@1.5.0-beta.18.patch
  apps/web/vendor/@better-auth__oauth-provider@1.5.1-beta.3.patch
  apps/web/vendor/@better-auth__passkey@1.5.0-beta.18.patch
  apps/web/vendor/@better-auth__passkey@1.5.1-beta.3.patch
  apps/web/vendor/better-auth-oidc4ida-0.0.0.tgz
  apps/web/vendor/better-auth-oidc4vci-0.0.0.tgz
  apps/web/vendor/better-auth-oidc4vp-0.0.0.tgz
  apps/web/vendor/better-auth@1.5.0-beta.18.patch
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): RS256 default id_token signing with multi-algorithm JWT dispatcher
  apps/web/src/app/.well-known/oauth-authorization-server/[[...issuer]]/route.ts
  apps/web/src/app/.well-known/openid-configuration/[[...issuer]]/route.ts
  apps/web/src/lib/auth/__tests__/oidc-well-known.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/id-token-claims.test.ts
  apps/web/src/lib/auth/oidc/__tests__/jwt-signer.test.ts
  apps/web/src/lib/auth/oidc/__tests__/rp-contract.test.ts
  apps/web/src/lib/auth/oidc/jwt-signer.ts
  docs/cryptographic-pillars.md
  docs/oauth-integrations.md
Due: biome-check-web, tsc-check-web, knip-check-web

chore: update external copy and maturity labels
  README.md
  apps/landing/src/components/landing/compliance-standards.tsx
  apps/landing/src/components/landing/cta-section.tsx
  apps/landing/src/components/landing/footer.tsx
  apps/landing/src/components/landing/hero.tsx
  apps/landing/src/components/landing/trust-evidence.tsx
  apps/landing/src/components/landing/use-cases.tsx
  apps/landing/src/components/seo/json-ld.tsx
  apps/landing/src/pages/capabilities-page.tsx
  apps/landing/src/pages/zk-auth-page.tsx
  apps/web/src/app/page.tsx
  docs/architecture.md
  docs/attestation-privacy-architecture.md
  docs/legal/terms-of-service.md
Due: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web

fix: apps/web/package.json to reduce vulnerabilities
  apps/web/package.json
Due: biome-check-web

feat(web): wire HAIP 1.0 compliance into auth configuration
  apps/web/e2e/oidc/oidc-helpers.ts
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/scripts/generate-dev-certs.ts
  apps/web/scripts/setup.ts
  apps/web/src/app/.well-known/oauth-authorization-server/[[...issuer]]/route.ts
  apps/web/src/app/.well-known/openid-configuration/[[...issuer]]/route.ts
  apps/web/src/app/.well-known/openid-credential-issuer/[[...issuer]]/route.ts
  apps/web/src/env.ts
  apps/web/src/lib/auth/__tests__/haip-integration.test.ts
  apps/web/src/lib/auth/__tests__/oidc-well-known.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/rp-contract.test.ts
  apps/web/src/lib/auth/oidc/jarm-key.ts
  apps/web/src/lib/auth/oidc/jwt-signer.ts
  apps/web/src/lib/auth/oidc/x5c-loader.ts
  apps/web/src/lib/auth/well-known-utils.ts
  apps/web/src/lib/db/schema/haip.ts
  apps/web/vendor/better-auth-haip-0.0.0.tgz
Due: biome-check-web, tsc-check-web, knip-check-web

chore: remove dead Docker env vars and align .env.example with compose
  .env.example
  apps/web/Dockerfile
  apps/web/scripts/docker-entrypoint.sh
  docker-compose.yml
Due: none

feat(web): add NFC passport chip verification path (Tier 3)
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/app/(dashboard)/dashboard/_components/identity-card.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/download-zkpassport-dialog.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/_components/liveness-verify-client.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/_components/qr-display.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/_components/status-display.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/_components/zkpassport-flow.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/page.tsx
  apps/web/src/components/assurance/tier-badge.tsx
  apps/web/src/components/auth/binding-auth-dialog.tsx
  apps/web/src/env.ts
  apps/web/src/lib/assurance/__tests__/compute.test.ts
  apps/web/src/lib/assurance/compute.ts
  apps/web/src/lib/assurance/data.ts
  apps/web/src/lib/assurance/features.ts
  apps/web/src/lib/assurance/types.ts
  apps/web/src/lib/auth/oidc/__tests__/claims.test.ts
  apps/web/src/lib/auth/oidc/claims.ts
  apps/web/src/lib/auth/oidc/proof-scopes.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/db/queries/passport-chip.ts
  apps/web/src/lib/db/schema/identity.ts
  apps/web/src/lib/identity/verification/compliance.ts
  apps/web/src/lib/privacy/credentials/build-enrollment-credential.ts
  apps/web/src/lib/privacy/fhe/encryption.ts
  apps/web/src/lib/privacy/zk/binding-context.ts
  apps/web/src/lib/trpc/routers/__tests__/attestation.test.ts
  apps/web/src/lib/trpc/routers/app.ts
  apps/web/src/lib/trpc/routers/passport-chip.ts
Due: biome-check-web, tsc-check-web, knip-check-web

chore: add NEXT_PUBLIC_ZKPASSPORT_ENABLED to Dockerfile build args
  apps/web/Dockerfile
  apps/web/railway.toml
Due: none

fix: copy patches/ directory in Dockerfile for pnpm install
  apps/web/.dockerignore
  apps/web/Dockerfile
Due: none

fix(web): allow ZKPassport SDK external domains in CSP
  apps/web/next.config.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): verify ZKPassport proofs server-side instead of trusting client
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/_components/zkpassport-flow.tsx
  apps/web/src/lib/trpc/routers/__tests__/passport-chip.test.ts
  apps/web/src/lib/trpc/routers/passport-chip.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add country/document pre-check to verification flow
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/app/(dashboard)/dashboard/verify/_components/country-document-selector.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/verification-method-cards.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/page.tsx
  apps/web/src/components/ui/command.tsx
  apps/web/src/components/ui/popover.tsx
  apps/web/src/lib/zkpassport/document-support.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): read correct redirect property from consent response
  apps/web/src/app/oauth/consent/consent-client.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): harden on-chain attestation and support NFC verification path
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/lib/assurance/data.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/blockchain/providers/base-provider.ts
  apps/web/src/lib/blockchain/providers/fhevm-utils.ts
  apps/web/src/lib/blockchain/providers/types.ts
  apps/web/src/lib/db/queries/attestation.ts
  apps/web/src/lib/db/queries/passkey.ts
  apps/web/src/lib/db/schema/attestation.ts
  apps/web/src/lib/privacy/secrets/profile.ts
  apps/web/src/lib/trpc/routers/__tests__/attestation.test.ts
  apps/web/src/lib/trpc/routers/attestation.ts
  apps/web/src/lib/utils/error-messages.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(demo-rp): replace hardcoded URLs with NEXT_PUBLIC_ZENTITY_URL and add hero CTAs
  apps/demo-rp/src/app/page.tsx
  apps/demo-rp/src/app/veripass/page.tsx
  apps/demo-rp/src/components/nav.tsx
  apps/demo-rp/src/lib/env.ts
Due: none

fix(web): replace technical jargon and AI-sounding copy across dashboard
  apps/web/src/app/(dashboard)/dashboard/_components/identity-actions-card.tsx
  apps/web/src/app/(dashboard)/dashboard/_components/identity-card.tsx
  apps/web/src/app/(dashboard)/dashboard/credentials/_components/credentials-content.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/fhe-enrollment-dialog.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/document/_components/document-upload-client.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/_components/liveness-verify-client.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/_components/status-display.tsx
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/components/dashboard/view-identity-data.tsx
  apps/web/src/components/defi-demo/defi-demo-client.tsx
  apps/web/src/components/defi-demo/mint-form.tsx
  apps/web/src/components/defi-demo/token-status.tsx
  apps/web/src/components/defi-demo/transfer-form.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): use dynamic explorer URLs in DeFi demo components
  apps/web/src/components/defi-demo/defi-demo-client.tsx
  apps/web/src/components/defi-demo/mint-form.tsx
  apps/web/src/components/defi-demo/transfer-form.tsx
  apps/web/src/components/defi-demo/tx-history.tsx
  apps/web/src/lib/trpc/routers/token.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web,demo-rp): implement double anonymity Phase 1 for ARCOM/CNIL compliance
  apps/demo-rp/src/app/api/veripass/issue/route.ts
  apps/demo-rp/src/data/veripass.ts
  apps/web/src/app/(dashboard)/dashboard/credentials/_components/credentials-content.tsx
  apps/web/src/app/.well-known/openid-credential-issuer/[[...issuer]]/route.ts
  apps/web/src/app/.well-known/vct/[...path]/route.ts
  apps/web/src/app/api/auth/vct/[type]/route.ts
  apps/web/src/lib/auth/__tests__/haip-integration.test.ts
  apps/web/src/lib/auth/__tests__/oidc-well-known.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/claims.test.ts
  apps/web/src/lib/auth/oidc/__tests__/id-token-claims.test.ts
  apps/web/src/lib/auth/oidc/claims.ts
  apps/web/src/lib/auth/oidc/proof-scopes.ts
  apps/web/src/lib/trpc/routers/credentials.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): implement ARCOM double anonymity Phase 2-3 — pairwise sub, transient linkage, session scrubbing
  apps/web/scripts/setup.ts
  apps/web/src/app/api/rp-admin/clients/approve/route.ts
  apps/web/src/components/dashboard/connected-apps-card.tsx
  apps/web/src/env.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/well-known-utils.ts
  apps/web/src/lib/db/schema/oauth-provider.ts
  apps/web/vitest.setup.mts
  docs/adr/0001-arcom-double-anonymity.md
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): use granted scopes for proof claims in id_token instead of ephemeral entry
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/id-token-claims.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(demo-rp): make wine scenario ARCOM double-anonymity compliant
  apps/demo-rp/src/components/wine/wine-age-gate.tsx
  apps/demo-rp/src/components/wine/wine-order-confirmation.tsx
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/src/lib/scenarios.ts
Due: none

feat(demo-rp): add regulatory compliance badges and regulation-first copy
  apps/demo-rp/Dockerfile
  apps/demo-rp/railway.toml
  apps/demo-rp/src/app/aid/page.tsx
  apps/demo-rp/src/app/api/auth/[...all]/route.ts
  apps/demo-rp/src/app/api/dcr/route.ts
  apps/demo-rp/src/app/exchange/page.tsx
  apps/demo-rp/src/app/layout.tsx
  apps/demo-rp/src/app/page.tsx
  apps/demo-rp/src/app/veripass/page.tsx
  apps/demo-rp/src/components/aid/aid-dashboard.tsx
  apps/demo-rp/src/components/bank/bank-prospect.tsx
  apps/demo-rp/src/components/exchange/exchange-trade.tsx
  apps/demo-rp/src/components/shared/compliance-badges.tsx
  apps/demo-rp/src/components/ui/tooltip.tsx
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/src/lib/scenarios.ts
Due: none

fix(web): allow react-circle-flags CDN in CSP img-src directive
  apps/web/next.config.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): allow Reown fonts CDN in CSP font-src directive
  apps/web/next.config.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web,demo-rp): implement HAIP compliance gaps and OID4VP verifier
  apps/demo-rp/scripts/generate-dev-certs.ts
  apps/demo-rp/src/app/api/oid4vp/request/route.ts
  apps/demo-rp/src/app/api/oid4vp/response/route.ts
  apps/demo-rp/src/app/api/oid4vp/session/route.ts
  apps/demo-rp/src/app/api/oid4vp/status/route.ts
  apps/demo-rp/src/app/api/veripass/issue/route.ts
  apps/demo-rp/src/app/vp/complete/page.tsx
  apps/demo-rp/src/components/shared/vp-request.tsx
  apps/demo-rp/src/components/veripass/verifier-scenarios.tsx
  apps/demo-rp/src/data/veripass.ts
  apps/demo-rp/src/hooks/use-vp-flow.ts
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/src/lib/db/connection.ts
  apps/demo-rp/src/lib/db/schema.ts
  apps/demo-rp/src/lib/dc-api.ts
  apps/demo-rp/src/lib/dpop.ts
  apps/demo-rp/src/lib/env.ts
  apps/demo-rp/src/lib/jar.ts
  apps/demo-rp/src/lib/oid4vp.ts
  apps/demo-rp/src/lib/scenarios.ts
  apps/demo-rp/src/lib/verify.ts
  apps/demo-rp/src/lib/x509.ts
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/env.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/dpop-nonce-store.ts
  apps/web/src/lib/auth/oidc/trusted-dcql-matcher.ts
  apps/web/src/lib/auth/oidc/x5c-loader.ts
  apps/web/vendor/@better-auth__oauth-provider@1.5.1-beta.3.patch
  apps/web/vendor/@better-auth__oidc4vci@0.0.0.patch
Due: biome-check-web, tsc-check-web, knip-check-web

docs: trim verbose HAIP documentation to match surrounding style density
  CLAUDE.md
  README.md
  apps/demo-rp/README.md
  apps/demo-rp/package.json
  apps/demo-rp/pnpm-lock.yaml
  apps/demo-rp/src/components/shared/vp-request.tsx
  apps/demo-rp/src/components/veripass/verifier-scenarios.tsx
  apps/demo-rp/src/data/veripass.ts
  apps/demo-rp/src/lib/verify.ts
  apps/demo-rp/src/lib/x509.ts
  apps/landing/src/components/landing/compliance-standards.tsx
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/trusted-dcql-matcher.ts
  apps/web/src/lib/auth/oidc/x509-validation.ts
  docs/architecture.md
  docs/attestation-privacy-architecture.md
  docs/oauth-integrations.md
  docs/tamper-model.md
Due: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web

fix(docs,demo-rp): close documentation gaps and fix DPoP ath + DCQL bugs
  CLAUDE.md
  apps/demo-rp/README.md
  apps/demo-rp/src/data/veripass.ts
  apps/demo-rp/src/lib/dpop.ts
  docs/architecture.md
  docs/attestation-privacy-architecture.md
  docs/oauth-integrations.md
  docs/tamper-model.md
  docs/zk-architecture.md
Due: none

fix(web,demo-rp,landing): correct ~30 copy drift instances across all apps
  apps/demo-rp/src/app/bank/page.tsx
  apps/demo-rp/src/app/exchange/page.tsx
  apps/demo-rp/src/components/wine/wine-age-gate.tsx
  apps/demo-rp/src/components/wine/wine-header.tsx
  apps/demo-rp/src/components/wine/wine-order-confirmation.tsx
  apps/demo-rp/src/data/veripass.ts
  apps/demo-rp/src/lib/scenarios.ts
  apps/landing/src/App.tsx
  apps/landing/src/components/landing/compliance-standards.tsx
  apps/landing/src/components/landing/technical-deep-dive.tsx
  apps/landing/src/pages/capabilities-page.tsx
  apps/web/src/app/(auth)/sign-in/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/_components/qr-display.tsx
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/sign-up/credential-choice.tsx
Due: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web

Add comparative analysis: OpenAC (zkID/PSE) vs Zentity
  docs/analysis-openac-vs-zentity.md
Due: none

feat(web,demo-rp): implement CIBA backchannel auth with RAR support
  CLAUDE.md
  apps/demo-rp/src/app/aether/page.tsx
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/app/globals.css
  apps/demo-rp/src/app/page.tsx
  apps/demo-rp/src/components/aether/agent-chat.tsx
  apps/demo-rp/src/data/aether.ts
  apps/demo-rp/src/hooks/use-ciba-flow.ts
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/src/lib/db/schema.ts
  apps/demo-rp/src/lib/dcr.ts
  apps/demo-rp/src/lib/scenarios.ts
  apps/web/package.json
  apps/web/patches/better-auth@1.5.1-beta.3.patch
  apps/web/pnpm-lock.yaml
  apps/web/src/app/(dashboard)/dashboard/ciba/approve/page.tsx
  apps/web/src/app/(dashboard)/dashboard/ciba/page.tsx
  apps/web/src/components/dashboard/app-sidebar.tsx
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/well-known-utils.ts
  apps/web/src/lib/db/schema/ciba.ts
  apps/web/src/lib/email/ciba-mailer.ts
  apps/web/vendor/@better-auth__oauth-provider@1.5.1-beta.3.patch
  apps/web/vendor/@better-auth__passkey@1.5.1-beta.3.patch
  apps/web/vendor/better-auth-ciba-1.0.0.tgz
  docs/architecture.md
  docs/oauth-integrations.md
Due: biome-check-web, tsc-check-web, knip-check-web

chore: add planning and execution files to gitignore
  .gitignore
Due: none

feat(web): add Web Push infrastructure and wire into CIBA notifications
  apps/web/.env.example
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/scripts/setup.ts
  apps/web/src/env.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/db/connection.ts
  apps/web/src/lib/db/schema/push.ts
  apps/web/src/lib/push/web-push.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add push subscription API routes (subscribe + unsubscribe)
  apps/web/src/app/api/push/subscribe/route.ts
  apps/web/src/app/api/push/unsubscribe/route.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add service worker, client push manager, and CIBA banner
  apps/web/knip.json
  apps/web/public/push-sw.js
  apps/web/src/app/(dashboard)/dashboard/ciba/page.tsx
  apps/web/src/app/(dashboard)/dashboard/ciba/push-banner.tsx
  apps/web/src/lib/push/client.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add PWA manifest for installability and iOS Web Push
  apps/web/src/app/manifest.ts
Due: biome-check-web, tsc-check-web, knip-check-web

Path conditions:
  biome-check-web: any of: ^apps/web/.*\.(ts|tsx|js|jsx|json|css)$
  biome-check-landing: any of: ^apps/landing/.*\.(ts|tsx|js|jsx|json|css)$
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  ocr-requirements-lock: any of: ^apps/ocr/(pyproject\.toml|requirements\.lock)$
  cargo-fmt-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-clippy-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-fmt-signer: any of: ^apps/signer/.*\.rs$
  cargo-clippy-signer: any of: ^apps/signer/.*\.rs$
