Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc-check-web, tsc-check-landing, knip-check-web, ocr-requirements-lock, cargo-fmt-fhe, cargo-clippy-fhe, cargo-fmt-signer, cargo-clippy-signer

Path conditions:
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  ocr-requirements-lock: any of: ^apps/ocr/(pyproject\.toml|requirements\.lock)$
  cargo-fmt-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-clippy-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-fmt-signer: any of: ^apps/signer/.*\.rs$
  cargo-clippy-signer: any of: ^apps/signer/.*\.rs$

refactor(liveness): improve reliability and UX of verification flow
  apps/web/server.mjs
  apps/web/src/app/globals.css
  apps/web/src/components/liveness/camera-view.tsx
  apps/web/src/components/liveness/challenge-banner.tsx
  apps/web/src/components/liveness/fullscreen-camera.tsx
  apps/web/src/components/liveness/index.ts
  apps/web/src/components/liveness/liveness-flow.tsx
  apps/web/src/components/liveness/liveness-provider.tsx
  apps/web/src/components/liveness/oval-frame.tsx
  apps/web/src/components/liveness/success-animation.tsx
  apps/web/src/components/onboarding/onboarding-store.ts
  apps/web/src/components/onboarding/step-liveness.tsx
  apps/web/src/components/onboarding/stepper-ui.tsx
  apps/web/src/features/auth/schemas/sign-up.schema.ts
  apps/web/src/hooks/liveness/use-liveness-feedback.ts
  apps/web/src/hooks/liveness/use-liveness.ts
  apps/web/src/hooks/use-liveness-camera.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/plugins/opaque/client.ts
  apps/web/src/lib/auth/plugins/opaque/server.ts
  apps/web/src/lib/auth/plugins/opaque/types.ts
  apps/web/src/lib/liveness/socket/handler.ts
  apps/web/src/lib/liveness/socket/session.ts
  apps/web/src/lib/utils/env.ts
Due: tsc-check-web, knip-check-web

fix(ci): exclude pnpm-lock.yaml from check-yaml hook
  .pre-commit-config.yaml
Due: none

fix(docker): copy local-packages for file: dependencies
  apps/web/Dockerfile
Due: none

fix(docker): whitelist local-packages in .dockerignore
  apps/web/.dockerignore
Due: none

chore(ocr): update requirements.lock (protobuf 6.33.4)
  apps/ocr/requirements.lock
Due: ocr-requirements-lock

chore(demo-hub): remove ephemeral .demo-store.json from git
  apps/demo-hub/.demo-store.json
  apps/demo-hub/.gitignore
Due: none

fix(auth): resolve passkey registration during onboarding flow
  apps/web/src/components/dashboard/passkey-management-section.tsx
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/trpc/routers/recovery.ts
  docker-compose.yml
Due: tsc-check-web, knip-check-web

feat(web): add generic OIDC4VCI credential issuance with DCR support
  apps/demo-wallet/app/page.tsx
  apps/web/.vscode/settings.json
  apps/web/server.mjs
  apps/web/src/app/(dashboard)/dashboard/credentials/_components/credentials-content.tsx
  apps/web/src/app/(dashboard)/dashboard/credentials/page.tsx
  apps/web/src/components/dashboard/app-sidebar.tsx
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/wallet-client.ts
  apps/web/src/lib/trpc/routers/app.ts
  apps/web/src/lib/trpc/routers/credentials.ts
  docker-compose.yml
  docs/adr/privacy/0010-opaque-password-auth.md
Due: tsc-check-web, knip-check-web

refactor(identity): extract verification modules and parallelize async operations
  apps/demo-hub/components/demo/scenario-flow.tsx
  apps/demo-hub/e2e/waltid-interop.spec.ts
  apps/web/next.config.ts
  apps/web/src/lib/crypto/fhe-encryption.ts
  apps/web/src/lib/identity/claims-signing.ts
  apps/web/src/lib/identity/face-validation.ts
  apps/web/src/lib/identity/verification-errors.ts
  apps/web/src/lib/trpc/routers/identity.ts
  apps/web/src/lib/trpc/routers/recovery.ts
Due: tsc-check-web, knip-check-web

fix(auth): cache OPAQUE export key for password-only secret retrieval
  apps/web/src/components/auth/opaque-sign-in-form.tsx
  apps/web/src/components/dashboard/opaque-change-password-section.tsx
  apps/web/src/lib/auth/session-manager.ts
  apps/web/src/lib/crypto/secret-vault.ts
  apps/web/src/lib/trpc/routers/identity.ts
Due: tsc-check-web, knip-check-web

chore(deps): update better-auth with client plugin deep merge fix
  apps/web/local-packages/better-auth-1.5.0-beta.6.tgz
  apps/web/local-packages/better-auth-core-1.5.0-beta.6.tgz
  apps/web/local-packages/better-auth-oidc4ida-0.0.0.tgz
  apps/web/local-packages/better-auth-oidc4vci-0.0.0.tgz
  apps/web/local-packages/better-auth-oidc4vp-0.0.0.tgz
  apps/web/local-packages/better-auth-passkey-1.5.0-beta.6.tgz
  apps/web/local-packages/better-auth-telemetry-1.5.0-beta.6.tgz
  apps/web/pnpm-lock.yaml
Due: none

refactor(onboarding): extract step-account into focused modules
  apps/web/src/components/onboarding/extracted-info-review.tsx
  apps/web/src/components/onboarding/face-verification-card.tsx
  apps/web/src/components/onboarding/step-account.tsx
  apps/web/src/components/onboarding/verification-progress.tsx
  apps/web/src/hooks/onboarding/use-face-match.ts
  apps/web/src/hooks/onboarding/use-onboarding-session.ts
  apps/web/src/lib/identity/date-utils.ts
  apps/web/src/lib/identity/finalize-and-prove.ts
Due: tsc-check-web, knip-check-web

perf(onboarding): apply Vercel React best practices
  apps/web/src/components/liveness/index.ts
  apps/web/src/components/onboarding/step-id-upload.tsx
  apps/web/src/components/onboarding/step-liveness.tsx
  apps/web/src/lib/fhevm/providers/registry.ts
  apps/web/src/lib/fhevm/providers/zama/index.ts
  apps/web/src/lib/identity/finalize-and-prove.ts
Due: tsc-check-web, knip-check-web

refactor(dashboard): apply architecture principles and React best practices
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/components/dashboard/passkey-management-section.tsx
  apps/web/src/components/dashboard/recovery-setup-section.tsx
  apps/web/src/components/dashboard/transparency-section.tsx
  apps/web/src/components/dashboard/user-data-section.tsx
  apps/web/src/components/dashboard/view-identity-data.tsx
Due: tsc-check-web, knip-check-web

perf(liveness): optimize memory usage and inference throughput
  apps/web/src/components/liveness/liveness-provider.tsx
  apps/web/src/hooks/use-liveness-camera.ts
  apps/web/src/lib/liveness/human-server.ts
  apps/web/src/lib/liveness/socket/handler.ts
Due: tsc-check-web, knip-check-web

fix(crypto): address security, memory leaks, and race conditions
  apps/web/src/app/api/metrics/client/route.ts
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/components/dashboard/opaque-change-password-section.tsx
  apps/web/src/lib/auth/session-manager.ts
  apps/web/src/lib/crypto/__tests__/crypto-client-fhe.test.ts
  apps/web/src/lib/crypto/crypto-client.ts
  apps/web/src/lib/crypto/secret-vault.ts
  apps/web/src/lib/crypto/tfhe-browser.ts
  apps/web/src/lib/observability/client-metric-definitions.ts
  apps/web/src/lib/observability/metrics.ts
  apps/web/src/lib/zk/__tests__/noir-verifier.test.ts
  apps/web/src/lib/zk/noir-worker-manager.ts
Due: tsc-check-web, knip-check-web

perf(trpc): parallelize sequential operations for ~1500ms latency reduction
  apps/web/src/lib/auth/__tests__/passkey.test.ts
  apps/web/src/lib/auth/passkey.ts
  apps/web/src/lib/trpc/routers/liveness.ts
  apps/web/src/lib/trpc/routers/recovery.ts
Due: tsc-check-web, knip-check-web

perf(onboarding): optimize FHE key enrollment and fix liveness verification
  apps/web/src/components/onboarding/onboarding-wizard.tsx
  apps/web/src/components/onboarding/step-account.tsx
  apps/web/src/lib/crypto/tfhe-keygen.client.ts
  apps/web/src/lib/liveness/socket/handler.ts
Due: tsc-check-web, knip-check-web

fix(web): validate OPAQUE cache user
  apps/web/src/lib/crypto/secret-vault.ts
Due: tsc-check-web, knip-check-web

perf(fhe): consolidate encryption batches for ~6s latency reduction
  apps/web/src/lib/crypto/fhe-encryption.ts
  apps/web/src/lib/db/schema/identity.ts
  apps/web/src/lib/trpc/routers/identity.ts
Due: tsc-check-web, knip-check-web

fix(onboarding): enable idempotent signup with retry support
  apps/web/src/components/onboarding/step-account.tsx
  apps/web/src/components/onboarding/verification-progress.tsx
  apps/web/src/lib/auth/plugins/opaque/server.ts
  apps/web/src/lib/db/queries/auth.ts
Due: tsc-check-web, knip-check-web

fix(onboarding): prevent double passkey prompts and add performance optimizations
  apps/web/src/components/dashboard/verification-actions.tsx
  apps/web/src/components/dashboard/verification-progress.tsx
  apps/web/src/components/onboarding/step-account.tsx
  apps/web/src/components/onboarding/verification-progress.tsx
  apps/web/src/lib/auth/passkey.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/trpc/routers/attestation.ts
  apps/web/src/lib/trpc/routers/onboarding.ts
Due: tsc-check-web, knip-check-web

refactor(onboarding): relocate store to lib/onboarding for better architecture
  apps/web/src/components/onboarding/onboarding-wizard.tsx
  apps/web/src/components/onboarding/step-email.tsx
  apps/web/src/components/onboarding/step-id-upload.tsx
  apps/web/src/components/onboarding/step-liveness.tsx
  apps/web/src/components/onboarding/stepper-ui.tsx
  apps/web/src/lib/onboarding/store.ts
Due: tsc-check-web, knip-check-web

style(ui): apply design system consistency and component cleanups
  apps/web/src/app/(auth)/layout.tsx
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/components/dashboard/view-identity-data.tsx
  apps/web/src/components/liveness/success-animation.tsx
  apps/web/src/components/mode-toggle.tsx
Due: tsc-check-web, knip-check-web

perf(dashboard): add request-scoped session caching and navigation prefetch
  apps/web/src/app/(auth)/sign-up/page.tsx
  apps/web/src/app/(dashboard)/dashboard/(web3)/attestation/page.tsx
  apps/web/src/app/(dashboard)/dashboard/(web3)/defi-demo/page.tsx
  apps/web/src/app/(dashboard)/dashboard/(web3)/layout.tsx
  apps/web/src/app/(dashboard)/dashboard/_components/verification-status-card.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/dashboard/settings/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verification/page.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/components/dashboard/app-sidebar.tsx
  apps/web/src/components/onboarding/onboarding-wizard.tsx
  apps/web/src/lib/auth/cached-session.ts
  apps/web/src/lib/db/queries/identity.ts
Due: tsc-check-web, knip-check-web

refactor(dashboard): restructure information architecture and improve UI consistency
  .gitignore
  apps/web/src/app/(dashboard)/dashboard/(web3)/attestation/_components/off-chain-attestation-card.tsx
  apps/web/src/app/(dashboard)/dashboard/(web3)/attestation/_components/off-chain-attestation-skeleton.tsx
  apps/web/src/app/(dashboard)/dashboard/(web3)/attestation/loading.tsx
  apps/web/src/app/(dashboard)/dashboard/(web3)/attestation/page.tsx
  apps/web/src/app/(dashboard)/dashboard/(web3)/defi-demo/page.tsx
  apps/web/src/app/(dashboard)/dashboard/_components/identity-actions-card.tsx
  apps/web/src/app/(dashboard)/dashboard/_components/identity-card.tsx
  apps/web/src/app/(dashboard)/dashboard/_components/verification-status-card.tsx
  apps/web/src/app/(dashboard)/dashboard/_components/verification-status-skeleton.tsx
  apps/web/src/app/(dashboard)/dashboard/credentials/_components/credentials-content.tsx
  apps/web/src/app/(dashboard)/dashboard/credentials/page.tsx
  apps/web/src/app/(dashboard)/dashboard/dev/exchange/page.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/dashboard/settings/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verification/_components/verification-content.tsx
  apps/web/src/app/(dashboard)/dashboard/verification/_components/verification-skeleton.tsx
  apps/web/src/app/(dashboard)/dashboard/verification/page.tsx
  apps/web/src/components/dashboard/app-sidebar.tsx
  apps/web/src/components/dashboard/dynamic-breadcrumb.tsx
  apps/web/src/components/dashboard/recovery-setup-section.tsx
  apps/web/src/components/dashboard/security-cards.tsx
  apps/web/src/components/dashboard/verification-actions.tsx
  apps/web/src/components/dashboard/view-identity-data.tsx
  apps/web/src/components/defi-demo/defi-demo-client.tsx
  apps/web/src/components/onboarding/face-verification-card.tsx
Due: tsc-check-web, knip-check-web

fix(ui): improve auth flows and standardize error feedback
  apps/web/src/app/(auth)/recover-guardian/recover-guardian-client.tsx
  apps/web/src/app/(auth)/recover-social/page.tsx
  apps/web/src/app/(auth)/sign-up/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/onboarding/step-account.tsx
  apps/web/src/components/onboarding/step-email.tsx
Due: tsc-check-web, knip-check-web

fix(ui): simplify sign-in page and reduce onboarding cognitive load
  apps/web/src/app/(auth)/sign-in/page.tsx
  apps/web/src/components/auth/opaque-sign-in-form.tsx
  apps/web/src/components/auth/social-login-buttons.tsx
  apps/web/src/components/onboarding/credential-choice.tsx
  apps/web/src/components/onboarding/extracted-info-review.tsx
  apps/web/src/components/onboarding/step-account.tsx
Due: tsc-check-web, knip-check-web

fix(security): patch h3 vulnerability and use crypto.randomInt for liveness
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/lib/liveness/liveness-session-store.ts
  apps/web/src/lib/liveness/socket/session.ts
Due: tsc-check-web, knip-check-web

fix(copy): improve accuracy and clarity across onboarding and auth flows
  apps/web/src/app/(auth)/recover-social/page.tsx
  apps/web/src/app/(auth)/sign-in/page.tsx
  apps/web/src/components/auth/passkey-sign-in-form.tsx
  apps/web/src/components/blockchain/compliance-access-card.tsx
  apps/web/src/components/dashboard/passkey-management-section.tsx
  apps/web/src/components/dashboard/recovery-setup-section.tsx
  apps/web/src/components/defi-demo/defi-demo-client.tsx
  apps/web/src/components/onboarding/step-account.tsx
  apps/web/src/components/onboarding/step-id-upload.tsx
  apps/web/src/components/onboarding/step-liveness.tsx
Due: tsc-check-web, knip-check-web

fix(security): patch tar vulnerability via pnpm override
  apps/web/package.json
  apps/web/pnpm-lock.yaml
Due: none

refactor(test): restructure test architecture by feature and type
  apps/web/e2e/auth/auth.spec.ts
  apps/web/e2e/automation/build-synpress-cache.ts
  apps/web/e2e/automation/start-web3-dev.ts
  apps/web/e2e/dashboard/dashboard.spec.ts
  apps/web/e2e/global-setup.ts
  apps/web/e2e/helpers/constants.ts
  apps/web/e2e/onboarding/full-flow.spec.ts
  apps/web/e2e/recovery/social-recovery.spec.ts
  apps/web/e2e/scripts/sync-synpress-cache.ts
  apps/web/e2e/wallet-setup/hardhat.setup.ts
  apps/web/e2e/web3/defi-demo.spec.ts
  apps/web/e2e/web3/hardhat-workflow.spec.ts
  apps/web/e2e/web3/sepolia-workflow.spec.ts
  apps/web/knip.json
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/pnpm-lock.yaml
  apps/web/src/lib/blockchain/attestation/__tests__/claim-hash.test.ts
  apps/web/src/lib/db/__tests__/connection.integration.test.ts
  apps/web/src/lib/db/__tests__/db.integration.test.ts
  apps/web/src/lib/db/queries/__tests__/attestation.integration.test.ts
  apps/web/src/lib/db/queries/__tests__/auth.integration.test.ts
  apps/web/src/lib/db/queries/__tests__/crypto.integration.test.ts
  apps/web/src/lib/db/queries/__tests__/identity.integration.test.ts
  apps/web/src/lib/db/queries/__tests__/onboarding.integration.test.ts
  apps/web/src/lib/privacy/crypto/__tests__/challenge-store.integration.test.ts
  apps/web/src/lib/trpc/routers/identity/__tests__/identity-verify-fhe.integration.test.ts
  apps/web/src/test/service-mocks.ts
  apps/web/src/test/trpc-test-utils.ts
  apps/web/vitest.setup.mts
  apps/web/vitest.unit.config.mts
Due: tsc-check-web, knip-check-web

fix(security): harden FROST implementation for RFC 9591 compliance
  apps/signer/src/audit.rs
  apps/signer/src/error.rs
  apps/signer/src/frost/coordinator.rs
  apps/signer/src/frost/hpke_crypto.rs
  apps/signer/src/frost/signer_logic.rs
  apps/signer/tests/frost_integration.rs
  apps/web/src/lib/db/queries/recovery.ts
  apps/web/src/lib/trpc/routers/recovery/challenge.ts
Due: tsc-check-web, knip-check-web, cargo-fmt-signer, cargo-clippy-signer

fix(zk): override Next.js compiled buffer with v6.0.3 for BigInt methods
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/lib/privacy/zk/noir-prover.worker.ts
Due: tsc-check-web, knip-check-web

refactor(signer): improve type safety and add documentation
  apps/signer/README.md
  apps/signer/src/audit.rs
  apps/signer/src/bin/signer.rs
  apps/signer/src/frost/coordinator.rs
  apps/signer/src/frost/decoders.rs
  apps/signer/src/frost/jwt_verification.rs
  apps/signer/src/frost/macros.rs
  apps/signer/src/frost/mod.rs
  apps/signer/src/frost/signer_logic.rs
  apps/signer/src/frost/types.rs
  apps/signer/src/routes/dkg.rs
  apps/signer/src/routes/signer_routes.rs
  apps/signer/src/routes/signing.rs
  apps/signer/tests/frost_integration.rs
Due: cargo-fmt-signer, cargo-clippy-signer
