Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc-check-web, tsc-check-landing, knip-check-web, cargo-fmt, cargo-clippy

tsc-check-web:
  name: TypeScript type-check (web)
  entry: bash -c 'cd apps/web && bun run tsc --noEmit'
  language: system
  pass_filenames: false

tsc-check-landing:
  name: TypeScript type-check (landing)
  entry: bash -c 'cd apps/landing && bun run tsc -b'
  language: system
  pass_filenames: false

knip-check-web:
  name: Knip dead code check (web)
  entry: bash -c 'cd apps/web && bun run knip'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path apps/fhe/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --manifest-path apps/fhe/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

chore(web): run scripts with bun
  apps/web/bun.lock
  apps/web/e2e/automation/build-synpress-cache.ts
  apps/web/e2e/automation/start-web3-dev.ts
  apps/web/knip.json
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/scripts/debug-attestation.ts
  apps/web/scripts/noir-print-age-public-inputs.ts
  apps/web/scripts/noir-print-docvalidity-public-inputs.ts
  apps/web/scripts/setup-coep-assets.ts
  apps/web/src/lib/zk/noir-prover.worker.ts
Due: tsc-check-web, knip-check-web

docs(rfcs): add framework modernization RFCs
  docs/rfcs/0001-passkey-wrapped-fhe-keys.md
  docs/rfcs/0002-drizzle-orm-migration.md
  docs/rfcs/0003-structured-logging.md
  docs/rfcs/0004-redis-caching-rate-limiting.md
  docs/rfcs/0005-background-jobs.md
  docs/rfcs/0006-observability.md
  docs/rfcs/0007-feature-flags.md
Due: none

feat(landing): refresh copy for new architecture
  apps/landing/README.md
  apps/landing/src/components/landing/features-grid.tsx
  apps/landing/src/components/landing/hero.tsx
  apps/landing/src/components/landing/poc-disclaimer.tsx
  apps/landing/src/components/landing/problem-solution.tsx
  apps/landing/src/components/landing/technical-deep-dive.tsx
  apps/landing/src/components/landing/three-pillars.tsx
  apps/landing/src/components/landing/use-cases.tsx
  apps/landing/src/components/seo/json-ld.tsx
  apps/landing/src/content/docs.ts
Due: tsc-check-landing

fix(web): downgrade Next.js to 16.0.10 for Bun + Turbopack compatibility
  apps/web/bun.lock
  apps/web/next.config.ts
  apps/web/package.json
Due: tsc-check-web, knip-check-web

refactor(ocr): restructure service and lock deps
  AGENTS.md
  CLAUDE.md
  apps/ocr/.dockerignore
  apps/ocr/Dockerfile
  apps/ocr/README.md
  apps/ocr/app/__init__.py
  apps/ocr/app/main.py
  apps/ocr/conftest.py
  apps/ocr/pyproject.toml
  apps/ocr/requirements.lock
  apps/ocr/requirements.txt
  apps/ocr/src/ocr_service/__init__.py
  apps/ocr/src/ocr_service/api/__init__.py
  apps/ocr/src/ocr_service/api/extract.py
  apps/ocr/src/ocr_service/api/health.py
  apps/ocr/src/ocr_service/api/ocr.py
  apps/ocr/src/ocr_service/api/process.py
  apps/ocr/src/ocr_service/api/shared.py
  apps/ocr/src/ocr_service/api/verify.py
  apps/ocr/src/ocr_service/core/__init__.py
  apps/ocr/src/ocr_service/core/auth.py
  apps/ocr/src/ocr_service/main.py
  apps/ocr/src/ocr_service/schemas.py
  apps/ocr/src/ocr_service/services/__init__.py
  apps/ocr/src/ocr_service/services/commitments.py
  apps/ocr/src/ocr_service/services/document_detector.py
  apps/ocr/src/ocr_service/services/ocr_engine.py
  apps/ocr/src/ocr_service/services/parser.py
  apps/ocr/src/ocr_service/services/pipeline.py
  apps/ocr/src/ocr_service/services/validators.py
  apps/ocr/src/ocr_service/settings.py
  apps/ocr/start.sh
  apps/ocr/tests/integration/__init__.py
  apps/ocr/tests/integration/test_api.py
  apps/ocr/tests/unit/test_commitments.py
  apps/ocr/tests/unit/test_document_detector.py
  apps/ocr/tests/unit/test_ocr.py
  apps/ocr/tests/unit/test_parser.py
  apps/ocr/tests/unit/test_validators.py
Due: none

chore(ci): update GitHub Actions to latest versions with SHA pinning
  .github/workflows/code-quality.yml
  .github/workflows/reusable-build-service.yml
Due: none

fix(ci): add persist-credentials: false to all checkout actions
  .github/workflows/code-quality.yml
Due: none

fix(ci): add required [advisories] section to cargo-deny config
  apps/fhe/deny.toml
Due: none

fix(ci): install Rust toolchain in rust-security job
  .github/workflows/code-quality.yml
Due: none

refactor(ci): remove unnecessary [advisories] section from deny.toml
  apps/fhe/deny.toml
Due: none

fix(ci): pin dtolnay/rust-toolchain to master commit SHA
  .github/workflows/code-quality.yml
Due: none

fix(ci): pin cargo-audit to v0.19.0 to avoid edition2024 requirement
  .github/workflows/code-quality.yml
Due: none

fix(ci): upgrade to Rust 1.85.0 and use latest cargo-audit
  .github/workflows/code-quality.yml
Due: none

fix(ci): use rustsec/audit-check action instead of manual cargo-audit install
  .github/workflows/code-quality.yml
Due: none

fix(ci): use actions-rust-lang/setup-rust-toolchain for cargo-audit
  .github/workflows/code-quality.yml
Due: none

refactor(fhe): simplify app wiring, routes, tests
  apps/fhe/.config/nextest.toml
  apps/fhe/Cargo.lock
  apps/fhe/Cargo.toml
  apps/fhe/README.md
  apps/fhe/railway.toml
  apps/fhe/src/app.rs
  apps/fhe/src/auth.rs
  apps/fhe/src/crypto/age.rs
  apps/fhe/src/crypto/codec.rs
  apps/fhe/src/crypto/compliance_level.rs
  apps/fhe/src/crypto/country_code.rs
  apps/fhe/src/crypto/keys.rs
  apps/fhe/src/crypto/liveness.rs
  apps/fhe/src/crypto/mod.rs
  apps/fhe/src/lib.rs
  apps/fhe/src/main.rs
  apps/fhe/src/routes/age.rs
  apps/fhe/src/routes/compliance.rs
  apps/fhe/src/routes/country.rs
  apps/fhe/src/routes/health.rs
  apps/fhe/src/routes/keys.rs
  apps/fhe/src/routes/liveness.rs
  apps/fhe/src/routes/mod.rs
  apps/fhe/src/settings.rs
  apps/fhe/src/test_support.rs
  apps/fhe/tests/age_test.rs
  apps/fhe/tests/common/mod.rs
  apps/fhe/tests/concurrency_test.rs
  apps/fhe/tests/http/fixtures.rs
  apps/fhe/tests/http/mod.rs
  apps/fhe/tests/http_age_test.rs
  apps/fhe/tests/http_auth_test.rs
  apps/fhe/tests/http_compliance_level_test.rs
  apps/fhe/tests/http_country_code_test.rs
  apps/fhe/tests/http_error_test.rs
  apps/fhe/tests/http_health_test.rs
  apps/fhe/tests/http_keys_test.rs
  apps/fhe/tests/http_liveness_test.rs
  apps/fhe/tests/persistence_test.rs
Due: cargo-fmt, cargo-clippy

fix(ci): update actions and commitlint for PR #28 failures
  .github/workflows/code-quality.yml
  commitlint.config.mjs
Due: none

chore(ci): update GitHub Actions to latest versions (#28)
  .github/workflows/code-quality.yml
  .github/workflows/reusable-build-service.yml
  commitlint.config.mjs
Due: none

fix(fhe): unblock docker release build
  apps/fhe/.dockerignore
  apps/fhe/Dockerfile
Due: none

fix(logging): avoid regex backtracking in redaction
  apps/web/src/lib/logging/redact.ts
Due: tsc-check-web, knip-check-web

fix(web): externalize pino for Next build
  apps/web/next.config.ts
Due: tsc-check-web, knip-check-web

feat(web): async identity verification pipeline
  apps/web/bun.lock
  apps/web/package.json
  apps/web/scripts/init-db.sql
  apps/web/src/components/onboarding/steps/step-id-upload.tsx
  apps/web/src/components/onboarding/steps/step-secure-keys.tsx
  apps/web/src/components/onboarding/steps/step-selfie.tsx
  apps/web/src/components/onboarding/wizard-provider.tsx
  apps/web/src/features/auth/schemas/sign-up.schema.ts
  apps/web/src/lib/db/__tests__/connection.test.ts
  apps/web/src/lib/db/migrations/0002_identity_async_verification.sql
  apps/web/src/lib/db/migrations/0003_identity_drafts_jobs_patch.sql
  apps/web/src/lib/db/migrations/meta/_journal.json
  apps/web/src/lib/db/onboarding-session.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/db/queries/onboarding.ts
  apps/web/src/lib/db/schema/identity.ts
  apps/web/src/lib/db/schema/onboarding.ts
  apps/web/src/lib/trpc/routers/identity.ts
  apps/web/src/lib/trpc/routers/onboarding.ts
  apps/web/src/lib/trpc/server.ts
  apps/web/src/test/db-test-utils.ts
  docs/architecture.md
Due: tsc-check-web, knip-check-web

feat(observability): unify tracing across services
  .pre-commit-config.yaml
  README.md
  apps/fhe/Cargo.lock
  apps/fhe/Cargo.toml
  apps/fhe/src/lib.rs
  apps/fhe/src/main.rs
  apps/fhe/src/routes/age.rs
  apps/fhe/src/routes/compliance.rs
  apps/fhe/src/routes/country.rs
  apps/fhe/src/routes/keys.rs
  apps/fhe/src/routes/liveness.rs
  apps/fhe/src/telemetry.rs
  apps/ocr/pyproject.toml
  apps/ocr/requirements.lock
  apps/ocr/src/ocr_service/api/process.py
  apps/ocr/src/ocr_service/main.py
  apps/ocr/src/ocr_service/telemetry.py
  apps/web/bun.lock
  apps/web/package.json
  apps/web/src/instrumentation.ts
  apps/web/src/lib/crypto/fhe-client.ts
  apps/web/src/lib/db/onboarding-session.ts
  apps/web/src/lib/document/ocr-client.ts
  apps/web/src/lib/logging/logger.ts
  apps/web/src/lib/observability/index.ts
  apps/web/src/lib/observability/telemetry.ts
  apps/web/src/lib/trpc/routers/crypto.ts
  apps/web/src/lib/trpc/routers/identity.ts
  apps/web/src/lib/trpc/server.ts
  docker-compose.yml
  docs/architecture.md
  docs/rfcs/0006-observability.md
  scripts/check-ocr-requirements-lock.sh
Due: tsc-check-web, knip-check-web, cargo-fmt, cargo-clippy

feat(observability): propagate trace context across service boundaries
  apps/fhe/src/app.rs
  apps/fhe/src/routes/keys.rs
  apps/fhe/src/routes/mod.rs
  apps/web/src/lib/crypto/fhe-client.ts
  apps/web/src/lib/document/ocr-client.ts
  apps/web/src/lib/observability/index.ts
  apps/web/src/lib/observability/telemetry.ts
  apps/web/src/lib/trpc/routers/crypto.ts
  docker-compose.yml
  scripts/synthetic-onboarding.ts
Due: tsc-check-web, knip-check-web, cargo-fmt, cargo-clippy

feat(web): consolidate server startup warmups in instrumentation.ts
  apps/web/scripts/docker-entrypoint.sh
  apps/web/src/instrumentation.ts
  apps/web/src/lib/liveness/human-server.ts
  apps/web/src/lib/zk/noir-verifier.ts
Due: tsc-check-web, knip-check-web

feat(web): add server-side caching for health checks and verification status
  apps/web/src/lib/trpc/routers/crypto.ts
  apps/web/src/lib/trpc/routers/identity.ts
Due: tsc-check-web, knip-check-web

feat(web): extend server warmups with Barretenberg and service health checks
  apps/web/src/instrumentation.ts
  apps/web/src/lib/attestation/claim-hash.ts
  apps/web/src/lib/crypto/barretenberg.ts
  apps/web/src/lib/observability/service-warmup.ts
  apps/web/src/lib/zk/nationality-merkle.ts
Due: tsc-check-web, knip-check-web

Path conditions:
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  cargo-fmt: any of: ^apps/fhe/.*\.rs$
  cargo-clippy: any of: ^apps/fhe/.*\.rs$
