Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web, ocr-requirements-lock, cargo-fmt-fhe, cargo-clippy-fhe, cargo-fmt-signer, cargo-clippy-signer

biome-check-web:
  name: biome-check (web)
  entry: bash -c 'cd apps/web && pnpm run lint:fix'
  language: system
  pass_filenames: false

biome-check-landing:
  name: biome-check (landing)
  entry: bash -c 'cd apps/landing && pnpm run lint:fix'
  language: system
  pass_filenames: false

tsc-check-web:
  name: TypeScript type-check (web)
  entry: bash -c 'cd apps/web && pnpm run type-check'
  language: system
  pass_filenames: false

tsc-check-landing:
  name: TypeScript type-check (landing)
  entry: bash -c 'cd apps/landing && pnpm run type-check'
  language: system
  pass_filenames: false

knip-check-web:
  name: Knip dead code check (web)
  entry: bash -c 'cd apps/web && pnpm run knip'
  language: system
  pass_filenames: false

ocr-requirements-lock:
  name: pip-compile lock (ocr)
  entry: bash scripts/check-ocr-requirements-lock.sh
  language: python
  additional_dependencies:
  - pip-tools
  pass_filenames: false

cargo-fmt-fhe:
  name: cargo fmt (fhe)
  entry: cargo fmt --manifest-path apps/fhe/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy-fhe:
  name: cargo clippy (fhe)
  entry: cargo clippy --manifest-path apps/fhe/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

cargo-fmt-signer:
  name: cargo fmt (signer)
  entry: cargo fmt --manifest-path apps/signer/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy-signer:
  name: cargo clippy (signer)
  entry: cargo clippy --manifest-path apps/signer/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

feat: better-auth branch realignment — bump to v1.5.5, eliminate oauth-provider patch
  apps/web/package.json
  apps/web/patches/@better-auth__core@1.5.5.patch
  apps/web/patches/@better-auth__oauth-provider.patch
  apps/web/patches/@better-auth__passkey@1.5.5.patch
  apps/web/patches/better-auth@1.5.5.patch
  apps/web/pnpm-lock.yaml
  apps/web/vendor/better-auth-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-ciba-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-core-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-haip-0.0.0.tgz
  apps/web/vendor/better-auth-oauth-provider-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-oidc4ida-0.0.0.tgz
  apps/web/vendor/better-auth-oidc4vci-0.0.0.tgz
  apps/web/vendor/better-auth-oidc4vp-0.0.0.tgz
  apps/web/vendor/better-auth-passkey-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-telemetry-1.5.1-beta.3.tgz
  docs/plans/progress.txt
Due: biome-check-web

fix: 7 auth/transport bugs across MCP, OAuth provider, and demo-rp
  apps/demo-rp/src/hooks/use-ciba-flow.ts
  apps/mcp/__tests__/auth/token-auth.test.ts
  apps/mcp/__tests__/tools/purchase.test.ts
  apps/mcp/src/auth/api-client.ts
  apps/mcp/src/auth/ciba.ts
  apps/mcp/src/auth/discovery.ts
  apps/mcp/src/auth/identity.ts
  apps/mcp/src/auth/service-token.ts
  apps/mcp/src/auth/token-auth.ts
  apps/mcp/src/tools/purchase.ts
  apps/mcp/src/transports/http.ts
  apps/mcp/src/transports/stdio.ts
  apps/web/src/app/api/auth/oauth2/end-session/route.ts
  apps/web/src/app/approve/[authReqId]/page.tsx
  apps/web/src/lib/auth/auth.ts
Due: biome-check-web, tsc-check-web, knip-check-web

chore: rebuild vendor tarballs with GrantType=string and .passthrough()
  apps/web/pnpm-lock.yaml
  apps/web/vendor/better-auth-ciba-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-haip-0.0.0.tgz
  apps/web/vendor/better-auth-oauth-provider-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-oidc4ida-0.0.0.tgz
  apps/web/vendor/better-auth-oidc4vci-0.0.0.tgz
  apps/web/vendor/better-auth-oidc4vp-0.0.0.tgz
Due: none

fix: pairwise subject resolution, CIBA approval security, SW caching, and demo-rp issues
  apps/demo-rp/src/app/aether/page.tsx
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/app/api/dcr/route.ts
  apps/demo-rp/src/components/shared/dcr-registration.tsx
  apps/demo-rp/src/hooks/use-ciba-flow.ts
  apps/demo-rp/src/lib/scenarios.ts
  apps/web/public/push-sw.js
  apps/web/src/app/(auth)/sign-in/page.tsx
  apps/web/src/app/api/auth/oauth2/end-session/route.ts
  apps/web/src/app/api/ciba/identity/__tests__/intent-binding.integration.test.ts
  apps/web/src/app/api/ciba/identity/stage/route.ts
  apps/web/src/app/approve/[authReqId]/page.tsx
  apps/web/src/components/auth/opaque-sign-in-form.tsx
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/pairwise.integration.test.ts
  apps/web/src/lib/auth/oidc/__tests__/pairwise.test.ts
  apps/web/src/lib/auth/oidc/backchannel-logout.ts
  apps/web/src/lib/auth/oidc/pairwise.ts
  apps/web/src/lib/auth/oidc/token-exchange.ts
Due: biome-check-web, tsc-check-web, knip-check-web

chore: rebuild vendor tarball with hardened token endpoint extensibility
  apps/web/pnpm-lock.yaml
  apps/web/vendor/better-auth-oauth-provider-1.5.1-beta.3.tgz
Due: none

fix: harden token validation, CIBA auth, BCL scoping, and token exchange
  apps/demo-rp/src/app/api/auth/backchannel-logout/route.ts
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/hooks/use-ciba-flow.ts
  apps/demo-rp/src/lib/dcr.ts
  apps/mcp/__tests__/tools/purchase.test.ts
  apps/mcp/__tests__/transports/http.test.ts
  apps/mcp/src/auth/ciba.ts
  apps/mcp/src/auth/identity.ts
  apps/mcp/src/tools/purchase.ts
  apps/mcp/src/transports/http.ts
  apps/web/src/lib/trpc/__tests__/jwt-verification.integration.test.ts
  apps/web/src/lib/trpc/jwt-session.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix: token identity contract, ephemeral lifecycle, and correctness bugs
  apps/demo-rp/src/app/api/auth/backchannel-logout/route.ts
  apps/mcp/src/__tests__/auth/identity.test.ts
  apps/mcp/src/auth/identity.ts
  apps/web/src/app/(dashboard)/dashboard/agent-policies/_components/agent-policies-client.tsx
  apps/web/src/app/(dashboard)/dashboard/agent-policies/_components/boundary-form-dialog.tsx
  apps/web/src/app/(dashboard)/dashboard/agent-policies/page.tsx
  apps/web/src/app/api/ciba/identity/unstage/route.ts
  apps/web/src/app/api/oauth2/identity/unstage/route.ts
  apps/web/src/app/approve/[authReqId]/layout.tsx
  apps/web/src/app/approve/[authReqId]/page.tsx
  apps/web/src/components/ciba/ciba-approve-client.tsx
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/claims-parameter.test.ts
  apps/web/src/lib/auth/oidc/__tests__/ephemeral-identity-claims.test.ts
  apps/web/src/lib/auth/oidc/identity-handler.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix: enforce acr_values at code issuance, passkey step-up continuation, and agent_claims safety
  apps/web/src/app/api/oauth2/authorize-challenge/route.ts
  apps/web/src/app/approve/[authReqId]/page.tsx
  apps/web/src/lib/auth/__tests__/authorize-challenge.integration.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat: instrument FHE enrollment flow with per-stage OTel metrics
  apps/web/src/app/(dashboard)/dashboard/verify/_components/fhe-enrollment-dialog.tsx
  apps/web/src/app/api/fhe/enrollment/complete/route.ts
  apps/web/src/app/api/fhe/status/route.ts
  apps/web/src/app/api/metrics/client/route.ts
  apps/web/src/app/api/secrets/blob/route.ts
  apps/web/src/lib/observability/client-metric-definitions.ts
  apps/web/src/lib/observability/client-metrics.ts
  apps/web/src/lib/observability/metrics.ts
  apps/web/src/lib/privacy/fhe/browser.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix: CIBA multi-device consistency, push cleanup, resource validation, and BCL scoping
  apps/demo-rp/src/app/api/auth/backchannel-logout/route.ts
  apps/web/src/app/api/ciba/identity/unstage/route.ts
  apps/web/src/components/ciba/ciba-approve-client.tsx
  apps/web/src/lib/auth/oidc/__tests__/resource.test.ts
  apps/web/src/lib/auth/oidc/resource.ts
  apps/web/src/lib/db/queries/ciba.ts
  apps/web/src/lib/observability/client-metrics.ts
  apps/web/src/lib/push/__tests__/web-push.test.ts
  apps/web/src/lib/push/web-push.ts
Due: biome-check-web, tsc-check-web, knip-check-web

chore: untrack gitignored docs/plans and docs/rfcs files
  docs/plans/progress.txt
  docs/rfcs/0033-agentic-auth-integration.md
  docs/rfcs/0034-ciba-web-push-notifications.md
Due: none

fix: correct broken enrollment context URL in passkey path
  apps/web/src/app/(dashboard)/dashboard/verify/_components/fhe-enrollment-dialog.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

fix: resolve 17 test failures from opaque token crash and vmThreads mock leakage
  apps/web/src/app/api/oauth2/identity/stage/__tests__/route.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/push/__tests__/web-push.test.ts
  apps/web/src/lib/push/web-push.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix: preserve pairwise subjects in token exchange and close end-session open redirect
  apps/web/src/app/api/auth/oauth2/end-session/route.ts
  apps/web/src/lib/auth/__tests__/end-session.integration.test.ts
  apps/web/src/lib/auth/__tests__/token-exchange.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/pairwise.ts
  apps/web/src/lib/auth/oidc/token-exchange.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix: filter nodejs.* metrics in OTel collector to prevent Mimir batch drops
  tooling/observability/otel-collector.yaml
Due: none

docs: fix documentation drift from recent OAuth/OIDC changes
  CLAUDE.md
  docs/architecture.md
  docs/attestation-privacy-architecture.md
  docs/oauth-integrations.md
Due: none

perf: optimize FHE enrollment from ~85s to ~15s
  apps/fhe/src/crypto/keys.rs
  apps/fhe/tests/http_fhe/keys.rs
  apps/web/next.config.ts
  apps/web/src/app/(dashboard)/dashboard/verify/_components/country-document-selector.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/fhe-enrollment-dialog.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/verify-cta.tsx
  apps/web/src/app/api/metrics/client/route.ts
  apps/web/src/lib/auth/session-manager.ts
  apps/web/src/lib/observability/client-metric-definitions.ts
  apps/web/src/lib/observability/metrics.ts
  apps/web/src/lib/privacy/fhe/__tests__/background-keygen.test.ts
  apps/web/src/lib/privacy/fhe/__tests__/keygen-client.test.ts
  apps/web/src/lib/privacy/fhe/background-keygen.ts
  apps/web/src/lib/privacy/fhe/keygen-client.ts
  apps/web/src/lib/privacy/fhe/keygen.worker.ts
Due: biome-check-web, tsc-check-web, knip-check-web, cargo-fmt-fhe, cargo-clippy-fhe

perf: fix dev server OOM and 25-46s auth route compilation
  apps/web/next.config.ts
  apps/web/src/instrumentation.ts
  apps/web/src/lib/blockchain/providers/factory.ts
  apps/web/src/lib/db/queries/attestation.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/observability/telemetry.ts
  apps/web/src/lib/trpc/routers/attestation.ts
  apps/web/src/lib/trpc/routers/compliant-token.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix: resolve demo-rp OAuth step-up flow and consent page boundary errors
  apps/demo-rp/src/app/oauth/popup-complete/page.tsx
  apps/demo-rp/src/app/oauth/start/page.tsx
  apps/demo-rp/src/components/aid/aid-dashboard.tsx
  apps/demo-rp/src/components/bank/bank-dashboard.tsx
  apps/demo-rp/src/components/wine/wine-cart.tsx
  apps/demo-rp/src/components/wine/wine-order-confirmation.tsx
  apps/demo-rp/src/hooks/__tests__/use-oauth-flow.test.tsx
  apps/demo-rp/src/hooks/use-oauth-flow.ts
  apps/demo-rp/src/lib/__tests__/scenarios.test.ts
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/src/lib/oauth-popup.ts
  apps/demo-rp/src/lib/scenarios.ts
  apps/web/src/app/api/ciba/identity/__tests__/intent-binding.integration.test.ts
  apps/web/src/app/api/ciba/identity/stage/route.ts
  apps/web/src/app/api/oauth2/identity/stage/__tests__/route.test.ts
  apps/web/src/app/api/oauth2/identity/stage/route.ts
  apps/web/src/app/oauth/consent/__tests__/consent-client.test.tsx
  apps/web/src/app/oauth/consent/__tests__/security-badges.test.ts
  apps/web/src/app/oauth/consent/_components/client-security-badges.tsx
  apps/web/src/app/oauth/consent/_components/security-badges.ts
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/app/oauth/consent/page.tsx
  apps/web/src/lib/auth/oidc/__tests__/ephemeral-identity-claims.test.ts
  apps/web/src/lib/auth/oidc/ephemeral-identity-claims.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix: isolate staged PII per auth request and restore DPoP on userinfo
  apps/demo-rp/src/lib/auth.ts
  apps/web/src/app/api/auth/[...all]/route.ts
  apps/web/src/app/api/ciba/identity/__tests__/intent-binding.integration.test.ts
  apps/web/src/app/api/ciba/identity/stage/route.ts
  apps/web/src/app/api/oauth2/identity/stage/__tests__/route.test.ts
  apps/web/src/app/api/oauth2/identity/stage/route.ts
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/lib/auth/oidc/__tests__/dpop-userinfo.test.ts
  apps/web/src/lib/auth/oidc/__tests__/ephemeral-identity-claims.test.ts
  apps/web/src/lib/auth/oidc/dpop-userinfo.ts
  apps/web/src/lib/auth/oidc/ephemeral-identity-claims.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat: production hardening — error boundaries, deep health, parallel warmup, DCR sig verification
  apps/web/src/app/api/health/route.ts
  apps/web/src/app/api/ready/route.ts
  apps/web/src/app/global-error.tsx
  apps/web/src/instrumentation.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/observability/warmup-state.ts
  docs/architecture.md
Due: biome-check-web, tsc-check-web, knip-check-web

fix: relay caller's DPoP token in MCP HTTP transport
  apps/mcp/__tests__/auth/token-manager.test.ts
  apps/mcp/src/auth/api-client.ts
  apps/mcp/src/auth/context.ts
  apps/mcp/src/auth/service-token.ts
  apps/mcp/src/transports/http.ts
Due: none

feat: structured agent claims end-to-end (Task 09)
  apps/mcp/__tests__/tools/purchase.test.ts
  apps/mcp/src/auth/ciba.ts
  apps/mcp/src/auth/identity.ts
  apps/mcp/src/tools/purchase.ts
  apps/mcp/src/tools/request-approval.ts
  apps/web/src/app/(dashboard)/_components/fhe-background-keygen.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/email/ciba-mailer.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat: CI test pipeline with path filtering and coverage gates (Task 07)
  .github/workflows/test.yml
  apps/web/vitest.config.mts
  apps/web/vitest.unit.config.mts
Due: none

style: fix MCP formatting (biome auto-fix)
  apps/mcp/__tests__/auth/dcr.test.ts
  apps/mcp/__tests__/auth/step-up.test.ts
  apps/mcp/__tests__/auth/token-manager.test.ts
  apps/mcp/__tests__/transports/http.test.ts
  apps/mcp/src/__tests__/auth/identity.test.ts
  apps/mcp/src/auth/context.ts
  apps/mcp/src/transports/http.ts
Due: none

fix: production hardening — SSRF, MCP auth, WagmiAdapter, probe timeouts
  apps/mcp/__tests__/auth/api-client.test.ts
  apps/mcp/src/auth/api-client.ts
  apps/mcp/src/auth/context.ts
  apps/mcp/src/config.ts
  apps/mcp/src/transports/http.ts
  apps/web/src/app/api/health/__tests__/route.test.ts
  apps/web/src/app/api/health/route.ts
  apps/web/src/app/api/ready/__tests__/route.test.ts
  apps/web/src/app/api/ready/route.ts
  apps/web/src/components/providers/web3-provider.tsx
  apps/web/src/env.ts
  apps/web/src/lib/auth/__tests__/dcr-validation.test.ts
  apps/web/src/lib/auth/__tests__/url-safety.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/cimd-validation.ts
  apps/web/src/lib/auth/url-safety.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix: sync MCP lockfile and add lockfile sync pre-commit hooks
  .pre-commit-config.yaml
  apps/mcp/pnpm-lock.yaml
Due: none

fix: MCP test leak, CI hygiene skip list, and MCP pre-commit hook
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
  apps/mcp/__tests__/auth/token-exchange.test.ts
Due: none

chore: modernize code quality tooling (tsconfig, knip, biome)
  .github/workflows/code-quality.yml
  apps/demo-rp/biome.json
  apps/demo-rp/src/app/aether/page.tsx
  apps/demo-rp/src/components/ui/card.tsx
  apps/demo-rp/src/components/ui/combobox.tsx
  apps/demo-rp/src/components/ui/dropdown-menu.tsx
  apps/demo-rp/src/components/ui/field.tsx
  apps/demo-rp/src/components/ui/input-group.tsx
  apps/demo-rp/src/components/ui/tooltip.tsx
  apps/demo-rp/src/components/veripass/verifier-scenarios.tsx
  apps/demo-rp/src/lib/db/connection.ts
  apps/demo-rp/tsconfig.json
  apps/landing/knip.json
  apps/landing/package.json
  apps/landing/pnpm-lock.yaml
  apps/mcp/src/auth/ciba.ts
  apps/mcp/src/transports/http.ts
  apps/mcp/tsconfig.json
  apps/web/biome.json
  apps/web/knip.json
  apps/web/package.json
  apps/web/tsconfig.json
Due: biome-check-web, biome-check-landing

security: harden encryption against malicious server (ETH Zurich 2026-058)
  apps/web/src/app/(dashboard)/dashboard/verify/_components/fhe-enrollment-dialog.tsx
  apps/web/src/app/api/__tests__/passkey-fhe-enrollment.integration.test.ts
  apps/web/src/app/api/fhe/enrollment/complete/__tests__/route.test.ts
  apps/web/src/app/api/fhe/enrollment/complete/route.ts
  apps/web/src/app/api/secrets/blob/route.ts
  apps/web/src/lib/privacy/compliance/__tests__/encrypt.test.ts
  apps/web/src/lib/privacy/compliance/decrypt.ts
  apps/web/src/lib/privacy/compliance/encrypt.ts
  apps/web/src/lib/privacy/fhe/__tests__/browser.test.ts
  apps/web/src/lib/privacy/fhe/__tests__/fingerprint.test.ts
  apps/web/src/lib/privacy/fhe/__tests__/store.test.ts
  apps/web/src/lib/privacy/fhe/background-keygen.ts
  apps/web/src/lib/privacy/fhe/browser.ts
  apps/web/src/lib/privacy/fhe/client.ts
  apps/web/src/lib/privacy/fhe/fingerprint.ts
  apps/web/src/lib/privacy/fhe/keygen-client.ts
  apps/web/src/lib/privacy/fhe/store.ts
  apps/web/src/lib/privacy/primitives/aad.ts
  apps/web/src/lib/privacy/secrets/storage.ts
  apps/web/src/lib/recovery/__tests__/recovery-keys.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

docs: update documentation for encryption hardening changes
  docs/adr/privacy/0013-post-quantum-cryptographic-migration.md
  docs/attestation-privacy-architecture.md
  docs/cryptographic-pillars.md
  docs/fhe-key-lifecycle.md
  docs/rfcs/0025-dual-track-compliance-architecture.md
  docs/tamper-model.md
Due: none

security: separate cryptographic keys from BETTER_AUTH_SECRET
  apps/web/.env.example
  apps/web/scripts/setup.ts
  apps/web/src/app/api/oauth2/authorize-challenge/route.ts
  apps/web/src/env.ts
  apps/web/src/lib/auth/__tests__/consent-integrity.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/identity-intent.ts
  apps/web/src/lib/db/queries/__tests__/crypto.integration.test.ts
  apps/web/src/lib/db/queries/crypto.ts
  apps/web/src/lib/privacy/primitives/__tests__/derived-keys.test.ts
  apps/web/src/lib/privacy/primitives/derived-keys.ts
  apps/web/src/lib/privacy/zk/__tests__/claims.test.ts
  apps/web/src/lib/privacy/zk/claims.ts
  apps/web/vitest.setup.mts
Due: biome-check-web, tsc-check-web, knip-check-web

security: unify passkey FHE enrollment with OPAQUE/wallet path
  apps/web/src/app/(dashboard)/dashboard/verify/_components/fhe-enrollment-dialog.tsx
  apps/web/src/app/api/__tests__/passkey-fhe-enrollment.integration.test.ts
  apps/web/src/app/api/fhe/enrollment/complete/__tests__/route.test.ts
  apps/web/src/app/api/fhe/enrollment/complete/route.ts
  apps/web/src/app/api/fhe/enrollment/context/__tests__/route.test.ts
  apps/web/src/app/api/fhe/enrollment/context/route.ts
  apps/web/src/app/api/fhe/keys/register/__tests__/route.test.ts
  apps/web/src/app/api/fhe/keys/register/route.ts
  apps/web/src/app/api/secrets/blob/route.ts
  apps/web/src/lib/auth/fhe-enrollment-tokens.ts
  apps/web/src/lib/db/queries/crypto.ts
  apps/web/src/lib/privacy/credentials/index.ts
  apps/web/src/lib/privacy/credentials/passkey.ts
  apps/web/src/lib/privacy/fhe/__tests__/store.test.ts
  apps/web/src/lib/privacy/fhe/browser.ts
  apps/web/src/lib/privacy/fhe/client.ts
  apps/web/src/lib/privacy/fhe/store.ts
  apps/web/src/lib/privacy/secrets/storage.ts
Due: biome-check-web, tsc-check-web, knip-check-web

docs: update key references for key separation and unified enrollment
  docs/attestation-privacy-architecture.md
  docs/cryptographic-pillars.md
  docs/fhe-key-lifecycle.md
  docs/tamper-model.md
Due: none

fix(zk): derive public input count from circuit ABI instead of VK bytes
  apps/web/src/env.ts
  apps/web/src/lib/privacy/zk/__tests__/noir-verifier.test.ts
  apps/web/src/lib/privacy/zk/noir-verifier.ts
Due: biome-check-web, tsc-check-web, knip-check-web

security(mcp): replace serviceTokenFetch with RFC 8693 token exchange
  apps/mcp/__tests__/auth/api-client.test.ts
  apps/mcp/__tests__/auth/dcr.test.ts
  apps/mcp/__tests__/transports/http.test.ts
  apps/mcp/src/auth/api-client.ts
  apps/mcp/src/auth/dcr.ts
  apps/mcp/src/config.ts
  apps/mcp/src/transports/http.ts
Due: none

docs: add auth challenge and recovery tables to ER diagram
  docs/attestation-privacy-architecture.md
Due: none

security(frost): Ed25519 HPKE key authentication in DKG
  apps/signer/src/frost/signer_logic.rs
  apps/signer/src/routes/signer_routes.rs
  apps/signer/src/storage/redb.rs
  apps/web/src/lib/db/queries/__tests__/recovery.integration.test.ts
  apps/web/src/lib/db/queries/recovery.ts
  apps/web/src/lib/db/schema/recovery.ts
  apps/web/src/lib/recovery/frost-service.ts
Due: biome-check-web, tsc-check-web, knip-check-web, cargo-fmt-signer, cargo-clippy-signer

Path conditions:
  biome-check-web: any of: ^apps/web/.*\.(ts|tsx|js|jsx|json|css)$
  biome-check-landing: any of: ^apps/landing/.*\.(ts|tsx|js|jsx|json|css)$
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  ocr-requirements-lock: any of: ^apps/ocr/(pyproject\.toml|requirements\.lock)$
  cargo-fmt-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-clippy-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-fmt-signer: any of: ^apps/signer/.*\.rs$
  cargo-clippy-signer: any of: ^apps/signer/.*\.rs$
