Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web, ocr-requirements-lock, cargo-fmt-fhe, cargo-clippy-fhe, cargo-fmt-signer, cargo-clippy-signer

Path conditions:
  biome-check-web: any of: ^apps/web/.*\.(ts|tsx|js|jsx|json|css)$
  biome-check-landing: any of: ^apps/landing/.*\.(ts|tsx|js|jsx|json|css)$
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  ocr-requirements-lock: any of: ^apps/ocr/(pyproject\.toml|requirements\.lock)$
  cargo-fmt-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-clippy-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-fmt-signer: any of: ^apps/signer/.*\.rs$
  cargo-clippy-signer: any of: ^apps/signer/.*\.rs$

test(web): add sendWebPush unit tests
  apps/web/src/lib/push/__tests__/web-push.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

docs: update progress with completed web push implementation
  progress.txt
Due: none

fix(web): align push implementation with Next.js PWA best practices
  apps/web/next.config.ts
  apps/web/src/app/(dashboard)/dashboard/ciba/push-banner.tsx
  apps/web/src/lib/push/client.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): use snake_case auth_req_id in push-sw.js inline approve/deny
  apps/web/public/push-sw.js
  progress.txt
Due: biome-check-web

test(web): add push subscribe/unsubscribe integration tests
  apps/web/src/app/api/push/__tests__/push-routes.integration.test.ts
  apps/web/src/test/db-test-utils.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add iOS PWA install prompt to CIBA push banner
  apps/web/src/app/(dashboard)/dashboard/ciba/push-banner.tsx
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): eager SW registration for update checks per Next.js PWA guide
  apps/web/public/push-sw.js
  apps/web/src/lib/push/client.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): enable CIBA token grant with act claim and authorization_details
  apps/web/package.json
  apps/web/patches/@better-auth__oauth-provider@1.5.1-beta.3.patch
  apps/web/pnpm-lock.yaml
  apps/web/src/lib/auth/auth.ts
  apps/web/vendor/better-auth-ciba-1.0.0.tgz
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): align PWA implementation with Next.js best practices
  apps/web/public/push-sw.js
  apps/web/src/app/layout.tsx
  apps/web/src/app/manifest.ts
  apps/web/src/lib/push/client.ts
  apps/web/src/lib/push/web-push.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): resolve flaky web-push unit test in vmThreads pool
  apps/web/src/lib/push/__tests__/web-push.test.ts
  apps/web/src/lib/push/web-push.ts
  apps/web/vitest.unit.config.mts
Due: biome-check-web, tsc-check-web, knip-check-web

test(web): add CIBA token endpoint integration tests
  apps/web/pnpm-lock.yaml
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
  apps/web/src/lib/auth/__tests__/oidc-well-known.test.ts
  apps/web/src/test/db-test-utils.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(demo-rp): display act claim and authorization_details in Aether agent chat
  apps/demo-rp/src/components/aether/agent-chat.tsx
Due: none

fix(web): rebuild vendor tarballs from merged feat/zentity-combined
  apps/web/package.json
  apps/web/patches/@better-auth__oauth-provider@1.5.1-beta.3.patch
  apps/web/pnpm-lock.yaml
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
  apps/web/vendor/better-auth-ciba-1.0.0.tgz
  apps/web/vendor/better-auth-ciba-1.5.1-beta.3.tgz
  apps/web/vendor/better-auth-oauth-provider-1.5.1-beta.3.tgz
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): add NEXT_PUBLIC_VAPID_PUBLIC_KEY to Dockerfile build args
  apps/web/Dockerfile
Due: none

feat(web): enable CIBA ping delivery mode with client metadata resolution
  apps/web/src/lib/auth/__tests__/ciba-ping.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/well-known-utils.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(demo-rp): add CIBA ping mode with callback endpoint and fast-path polling
  apps/demo-rp/src/app/api/ciba/callback/route.ts
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/hooks/use-ciba-flow.ts
  apps/demo-rp/src/lib/db/connection.ts
  apps/demo-rp/src/lib/db/schema.ts
  progress.txt
Due: none

refactor(web): extract detectAuthMode into shared utility
  apps/web/src/app/oauth/consent/page.tsx
  apps/web/src/lib/auth/detect-auth-mode.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add CIBA-specific identity intent and staging endpoints
  apps/web/src/app/api/ciba/identity/intent/route.ts
  apps/web/src/app/api/ciba/identity/stage/route.ts
  apps/web/src/lib/auth/oidc/identity-fields-schema.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(web): split CIBA approval page into server+client components
  apps/web/src/app/(dashboard)/dashboard/ciba/approve/ciba-approve-client.tsx
  apps/web/src/app/(dashboard)/dashboard/ciba/approve/layout.tsx
  apps/web/src/app/(dashboard)/dashboard/ciba/approve/page.tsx
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add vault unlock + identity staging to CIBA approval page
  apps/web/src/app/(dashboard)/dashboard/ciba/approve/ciba-approve-client.tsx
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/components/vault-unlock.tsx
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

test(web): add CIBA identity staging integration tests
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
  apps/web/src/test/db-test-utils.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add approvals table for durable PII release
  apps/web/src/lib/db/connection.ts
  apps/web/src/lib/db/schema/approvals.ts
  apps/web/src/test/db-test-utils.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add per-approval PII encryption helpers
  apps/web/src/lib/auth/oidc/__tests__/approval-crypto.test.ts
  apps/web/src/lib/auth/oidc/approval-crypto.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add POST /api/oauth2/release endpoint for PII redemption
  apps/web/src/app/api/oauth2/release/route.ts
  apps/web/src/lib/auth/__tests__/release-endpoint.integration.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

docs: update progress with Phase 3.2 release endpoint completion
  progress.txt
Due: none

feat(web): wire customAccessTokenClaims to embed release_handle in CIBA access tokens
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/ephemeral-release-handles.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): wire CIBA identity stage to durable approval records
  apps/web/src/app/api/ciba/identity/stage/route.ts
Due: biome-check-web, tsc-check-web, knip-check-web

docs: update progress.txt with Phase 3.2-3.5 completion
  progress.txt
Due: none

fix(web): make CIBA identity staging idempotent
  apps/web/src/app/api/ciba/identity/stage/route.ts
Due: biome-check-web, tsc-check-web, knip-check-web

chore(web): remove dead CIBA ephemeral staging tests
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add RFC 8693 token exchange grant handler
  apps/web/pnpm-lock.yaml
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/jwt-signer.ts
  apps/web/src/lib/auth/oidc/token-exchange.ts
  apps/web/vendor/better-auth-oauth-provider-1.5.1-beta.3.tgz
Due: biome-check-web, tsc-check-web, knip-check-web

test(web): add RFC 8693 token exchange integration tests
  apps/web/src/lib/auth/__tests__/token-exchange.integration.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

docs: update progress.txt with Phase 4 completion
  progress.txt
Due: none

feat(demo-rp): add token exchange to Aether CIBA flow
  apps/demo-rp/src/app/aether/page.tsx
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/components/aether/agent-chat.tsx
  apps/demo-rp/src/hooks/use-ciba-flow.ts
Due: none

docs: update progress.txt with Phase 5 completion
  progress.txt
Due: none

test(web): add CIBA → release lifecycle integration tests
  apps/web/src/lib/auth/__tests__/ciba-release-lifecycle.integration.test.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add DPoP sender-constraining to release endpoint
  apps/web/src/app/api/oauth2/release/route.ts
  apps/web/src/lib/auth/__tests__/release-endpoint.integration.test.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

test(web): add CIBA ping callback delivery integration test
  apps/web/src/lib/auth/__tests__/ciba-ping.integration.test.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat: enforce DPoP globally and add DPoP to demo-rp token flows
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/lib/auth.ts
  apps/web/src/lib/auth/__tests__/ciba-ping.integration.test.ts
  apps/web/src/lib/auth/__tests__/ciba-release-lifecycle.integration.test.ts
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
  apps/web/src/lib/auth/__tests__/token-exchange.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/token-exchange.ts
  apps/web/src/test/dpop-test-utils.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add RFC 9728 protected resource metadata and MCP discovery flags
  apps/web/src/app/.well-known/oauth-protected-resource/route.ts
  apps/web/src/lib/auth/__tests__/oidc-well-known.test.ts
  apps/web/src/lib/auth/well-known-utils.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web
