Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web, ocr-requirements-lock, cargo-fmt-fhe, cargo-clippy-fhe, cargo-fmt-signer, cargo-clippy-signer

biome-check-web:
  name: biome-check (web)
  entry: bash -c 'cd apps/web && pnpm run lint:fix'
  language: system
  pass_filenames: false

biome-check-landing:
  name: biome-check (landing)
  entry: bash -c 'cd apps/landing && pnpm run lint:fix'
  language: system
  pass_filenames: false

tsc-check-web:
  name: TypeScript type-check (web)
  entry: bash -c 'cd apps/web && pnpm run type-check'
  language: system
  pass_filenames: false

tsc-check-landing:
  name: TypeScript type-check (landing)
  entry: bash -c 'cd apps/landing && pnpm run type-check'
  language: system
  pass_filenames: false

knip-check-web:
  name: Knip dead code check (web)
  entry: bash -c 'cd apps/web && pnpm run knip'
  language: system
  pass_filenames: false

ocr-requirements-lock:
  name: pip-compile lock (ocr)
  entry: bash scripts/check-ocr-requirements-lock.sh
  language: python
  additional_dependencies:
  - pip-tools
  pass_filenames: false

cargo-fmt-fhe:
  name: cargo fmt (fhe)
  entry: cargo fmt --manifest-path apps/fhe/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy-fhe:
  name: cargo clippy (fhe)
  entry: cargo clippy --manifest-path apps/fhe/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

cargo-fmt-signer:
  name: cargo fmt (signer)
  entry: cargo fmt --manifest-path apps/signer/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy-signer:
  name: cargo clippy (signer)
  entry: cargo clippy --manifest-path apps/signer/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

fix(auth): treat undefined NODE_ENV as dev for DCR localhost guards
  apps/web/src/lib/auth/auth-config.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(oauth-consent): proxy Origin to better-auth and surface upstream errors
  apps/web/src/app/(consent)/oauth/consent/__tests__/consent-submit-response.test.ts
  apps/web/src/app/(consent)/oauth/consent/page.tsx
  apps/web/src/app/(consent)/oauth/consent/submit/response.ts
  apps/web/src/app/(consent)/oauth/consent/submit/route.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(secrets): verify profile blob exists on disk, not just the DB row
  apps/web/src/lib/db/queries/__tests__/identity.integration.test.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/privacy/secrets/__tests__/profile.test.ts
  apps/web/src/lib/privacy/secrets/profile.ts
  apps/web/src/lib/privacy/secrets/storage.server.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(sign-up): privacy-preserving email handling and orphan-anon reaper
  apps/web/.env.example
  apps/web/scripts/setup.ts
  apps/web/src/app/(auth)/sign-up/_components/sign-up-form.tsx
  apps/web/src/app/api/cron/cleanup-anon/route.ts
  apps/web/src/env.ts
  apps/web/src/lib/auth/auth-config.ts
  apps/web/src/lib/auth/origin.ts
  apps/web/src/lib/db/queries/auth.ts
  apps/web/src/lib/email/auth.ts
  apps/web/src/lib/http/rate-limit.ts
  apps/web/src/lib/logging/error-logger.ts
  apps/web/src/lib/trpc/routers/sign-up.ts
  apps/web/src/proxy.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(railway): repo-root build context for web service
  .dockerignore
  CLAUDE.md
  apps/web/railway.toml
  apps/web/scripts/deploy-to-railway.sh
Due: none

fix(vercel): demo-rp deploys from repo root with workspace deps
  .vercelignore
  CLAUDE.md
  apps/demo-rp/scripts/deploy-to-vercel.sh
  apps/demo-rp/src/lib/attestation.ts
Due: none

fix(sign-up): surface email-send errors and add post-verification CTA
  apps/web/src/app/(auth)/sign-up/_components/sign-up-form.tsx
  apps/web/src/lib/trpc/routers/sign-up.ts
Due: biome-check-web, tsc-check-web, knip-check-web

docs(demo-rp): document Vercel /tmp tradeoff for attestation key
  apps/demo-rp/src/lib/attestation.ts
Due: none

fix(privacy-mode): hide PII by default
  apps/demo-rp/src/components/providers/privacy-mode-provider.tsx
  apps/web/src/components/providers/privacy-mode-provider.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

fix(wagmi): drop duplicate injected connector
  apps/web/src/lib/blockchain/wagmi.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(zkpassport): derive chainId from devMode; SDK 0.14.2
  apps/web/package.json
  apps/web/src/lib/privacy/zk/__tests__/zkpassport-verifier.test.ts
  apps/web/src/lib/privacy/zk/zkpassport-verifier.ts
  pnpm-lock.yaml
Due: biome-check-web, tsc-check-web, knip-check-web

feat(validity): delivery scheduler + zkpassport bridge diagnostics
  apps/web/src/app/dashboard/verify/_components/passport-chip/zkpassport-flow.tsx
  apps/web/src/instrumentation.ts
  apps/web/src/lib/identity/validity/chain-ingest.ts
  apps/web/src/lib/identity/validity/scheduler.ts
  apps/web/src/lib/identity/validity/transition.ts
  apps/web/src/lib/trpc/routers/attestation.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(deps): resolve npm security alerts
  apps/demo-rp/package.json
  apps/landing/package.json
  apps/mcp/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check-web, biome-check-landing

feat(aether): wire Aether demo to zpay x402 facilitator
  apps/demo-rp/e2e/consumer-scenarios.spec.mts
  apps/demo-rp/e2e/start-zpay-runtime.ts
  apps/demo-rp/package.json
  apps/demo-rp/playwright.config.mts
  apps/demo-rp/src/app/aether/page.tsx
  apps/demo-rp/src/app/api/aether/payments/[id]/events/route.ts
  apps/demo-rp/src/app/api/aether/payments/[id]/route.ts
  apps/demo-rp/src/app/api/aether/prepare/route.ts
  apps/demo-rp/src/components/aether/agent-chat.tsx
  apps/demo-rp/src/components/aether/intent-posture-badge.tsx
  apps/demo-rp/src/components/aether/payment-bridge.tsx
  apps/demo-rp/src/components/aether/payment-status-copy.ts
  apps/demo-rp/src/components/aether/payment-success.tsx
  apps/demo-rp/src/data/aether.ts
  apps/demo-rp/src/hooks/use-payment-events.ts
  apps/demo-rp/src/lib/confirmation-code.test.ts
  apps/demo-rp/src/lib/confirmation-code.ts
  apps/demo-rp/src/lib/dpop.test.ts
  apps/demo-rp/src/lib/dpop.ts
  apps/demo-rp/src/lib/env.ts
  apps/demo-rp/src/lib/zpay-client.ts
  docker-compose.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(auth): log subject-token verify cause in token-exchange
  apps/web/src/lib/auth/oidc/token-exchange.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(agents): TypeScript intent_hash mirror with cross-language conformance (Phase 2h)
  apps/web/knip.json
  apps/web/src/lib/agents/__tests__/intent-hash.test.ts
  apps/web/src/lib/agents/intent-hash.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(agents): payment_authorization RAR schema + revocation backend (Phase 3a)
  apps/web/knip.json
  apps/web/src/app/api/auth/oauth2/revoke/route.ts
  apps/web/src/app/api/auth/oauth2/revoked/route.ts
  apps/web/src/lib/agents/__tests__/payment-authorization.test.ts
  apps/web/src/lib/agents/payment-authorization.ts
  apps/web/src/lib/auth/oidc/token-revocation.ts
  apps/web/src/lib/db/connection.ts
  apps/web/src/lib/db/schema/revoked-tokens.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(oauth): advertise payment_authorization + revocation endpoint in discovery (Phase 3c)
  apps/web/src/lib/auth/oidc/well-known.ts
  apps/web/src/lib/db/seed.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(agents): add agent.previewPaymentAuthorization tRPC query (Phase 3d)
  apps/web/src/lib/trpc/routers/agent.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(aether-bff): gate /api/aether/sign on authenticated session
  apps/demo-rp/src/app/api/aether/sign/route.ts
Due: none

feat(aether): BFF orchestrator + agent-wallet button (Phase 5)
  apps/demo-rp/src/app/api/aether/sign/route.ts
  apps/demo-rp/src/components/aether/payment-bridge.tsx
  apps/demo-rp/src/lib/env.ts
  apps/demo-rp/src/lib/zpay-client.ts
  apps/demo-rp/src/lib/zspend-client.ts
Due: none

test(agents): lock wire surface of agent.previewPaymentAuthorization
  apps/demo-rp/src/app/api/aether/sign/route.ts
  apps/web/src/lib/trpc/routers/__tests__/preview-payment-authorization.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(aether)!: SDK protocol consolidation + RAR builder + error parsing + probe harness
  apps/demo-rp/scripts/probe-e2e.mts
  apps/demo-rp/src/app/aether/page.tsx
  apps/demo-rp/src/app/api/aether/prepare/route.ts
  apps/demo-rp/src/app/api/aether/sign/route.ts
  apps/demo-rp/src/components/shared/dcr-registration.tsx
  apps/demo-rp/src/lib/dpop.ts
  apps/demo-rp/src/lib/zpay-client.ts
  apps/web/public/push-sw.js
  apps/web/src/components/agent-approval-view.tsx
  apps/web/src/lib/agents/__tests__/intent-hash.test.ts
  apps/web/src/lib/agents/__tests__/payment-authorization.test.ts
  apps/web/src/lib/agents/intent-hash.ts
  apps/web/src/lib/agents/payment-authorization.ts
  apps/web/src/lib/agents/push-sender.ts
  apps/web/src/lib/trpc/routers/agent.ts
  packages/sdk/package.json
  packages/sdk/src/protocol/claims.ts
  packages/sdk/src/protocol/did-key.test.ts
  packages/sdk/src/protocol/did-key.ts
  packages/sdk/src/protocol/index.ts
  packages/sdk/src/protocol/intent-hash.test.ts
  packages/sdk/src/protocol/intent-hash.ts
  packages/sdk/src/protocol/json-strict.test.ts
  packages/sdk/src/protocol/json-strict.ts
  packages/sdk/src/protocol/payment-authorization.test.ts
  packages/sdk/src/protocol/payment-authorization.ts
  pnpm-lock.yaml
Due: biome-check-web, tsc-check-web, knip-check-web

feat(aether)!: caller-controlled target_expiry_height on /sign
  apps/demo-rp/scripts/probe-e2e.mts
  apps/demo-rp/src/app/api/aether/sign/route.ts
  apps/demo-rp/src/lib/zspend-client.ts
Due: none

Revert "feat(aether)!: caller-controlled target_expiry_height on /sign"
  apps/demo-rp/scripts/probe-e2e.mts
  apps/demo-rp/src/app/api/aether/sign/route.ts
  apps/demo-rp/src/lib/zspend-client.ts
Due: none

docs(findings): PCZT Updater sighash mismatch investigation
  docs/findings/2026-06-08-pczt-updater-sighash.md
Due: none

docs(findings): pin PCZT SighashMismatch to IoFinalizer dummy-signing order
  docs/findings/2026-06-08-pczt-updater-sighash.md
Due: none

Reapply "feat(aether)!: caller-controlled target_expiry_height on /sign"
  apps/demo-rp/scripts/probe-e2e.mts
  apps/demo-rp/src/app/api/aether/sign/route.ts
  apps/demo-rp/src/lib/zspend-client.ts
Due: none

docs(status): zpay production-readiness map of what's done, stubbed, next
  docs/status/zpay-production-readiness.md
Due: none

refactor(demo-rp): disambiguate the EVM-x402 facilitator settle
  apps/demo-rp/src/app/api/x402/access/route.test.ts
  apps/demo-rp/src/app/api/x402/access/route.ts
  apps/demo-rp/src/lib/facilitator.ts
Due: none

fix(oauth): authenticate the revocation feed and fix its cursor
  apps/web/src/app/api/auth/oauth2/revoked/route.ts
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(liveness): replace Socket.io custom server with HTTP route handlers
  apps/web/Dockerfile
  apps/web/knip.json
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/scripts/docker-entrypoint.sh
  apps/web/server.mjs
  apps/web/src/app/api/identity/liveness/frame/route.ts
  apps/web/src/app/api/identity/liveness/session/route.ts
  apps/web/src/app/dashboard/verify/_components/liveness/camera-view.tsx
  apps/web/src/app/dashboard/verify/_components/liveness/flow.tsx
  apps/web/src/app/dashboard/verify/_components/liveness/orchestrator.tsx
  apps/web/src/app/dashboard/verify/_components/liveness/provider.tsx
  apps/web/src/app/dashboard/verify/_components/verification-flow.tsx
  apps/web/src/instrumentation.ts
  apps/web/src/lib/identity/liveness/__tests__/session.test.ts
  apps/web/src/lib/identity/liveness/camera.ts
  apps/web/src/lib/identity/liveness/capture.ts
  apps/web/src/lib/identity/liveness/challenges.ts
  apps/web/src/lib/identity/liveness/errors.ts
  apps/web/src/lib/identity/liveness/feedback.ts
  apps/web/src/lib/identity/liveness/session-store.ts
  apps/web/src/lib/identity/liveness/session.ts
  apps/web/src/lib/identity/liveness/socket.ts
  apps/web/src/lib/identity/liveness/thresholds.ts
  apps/web/src/lib/identity/liveness/use-liveness.ts
  apps/web/src/lib/trpc/routers/__tests__/liveness.test.ts
  apps/web/src/lib/trpc/routers/liveness.ts
  apps/web/src/lib/trpc/server.ts
  pnpm-lock.yaml
Due: biome-check-web, tsc-check-web, knip-check-web

feat: move to better-auth 1.7.0-beta.8 (granted-scopes revert)
  apps/demo-rp/package.json
  apps/demo-rp/src/lib/db/schema.ts
  apps/web/package.json
  apps/web/scripts/backfill-account-granted-scopes.ts
  apps/web/src/lib/db/schema/auth.ts
  pnpm-lock.yaml
Due: biome-check-web, tsc-check-web, knip-check-web

Path conditions:
  biome-check-web: any of: ^apps/web/.*\.(ts|tsx|js|jsx|json|css)$
  biome-check-landing: any of: ^apps/landing/.*\.(ts|tsx|js|jsx|json|css)$
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  ocr-requirements-lock: any of: ^apps/ocr/(pyproject\.toml|requirements\.lock)$
  cargo-fmt-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-clippy-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-fmt-signer: any of: ^apps/signer/.*\.rs$
  cargo-clippy-signer: any of: ^apps/signer/.*\.rs$
