Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web, ocr-requirements-lock, cargo-fmt-fhe, cargo-clippy-fhe, cargo-fmt-signer, cargo-clippy-signer

Path conditions:
  biome-check-web: any of: ^apps/web/.*\.(ts|tsx|js|jsx|json|css)$
  biome-check-landing: any of: ^apps/landing/.*\.(ts|tsx|js|jsx|json|css)$
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  ocr-requirements-lock: any of: ^apps/ocr/(pyproject\.toml|requirements\.lock)$
  cargo-fmt-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-clippy-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-fmt-signer: any of: ^apps/signer/.*\.rs$
  cargo-clippy-signer: any of: ^apps/signer/.*\.rs$

test(web): add recovery key authentication integration tests
  apps/web/src/lib/recovery/__tests__/recovery-auth.integration.test.ts
  apps/web/src/test/db-test-utils.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): bind guardian approvals to FROST signing via EdDSA JWTs
  apps/web/src/lib/auth/oidc/jwt-signer.ts
  apps/web/src/lib/recovery/frost-service.ts
  apps/web/src/lib/recovery/guardian-jwt.ts
  apps/web/src/lib/trpc/routers/recovery/challenge.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(signer): persist HPKE key pair across signer restarts
  apps/signer/src/frost/signer_logic.rs
  apps/signer/src/storage/redb.rs
  progress.txt
Due: cargo-fmt-signer, cargo-clippy-signer

docs: mark Task 09 Recovery Key Authentication as complete
  docs/plans/tasks/09-recovery-key-authentication.md
  progress.txt
Due: none

feat(web): add HMAC integrity protection to OAuth consent scopes
  apps/web/src/lib/auth/__tests__/consent-integrity.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/consent-integrity.test.ts
  apps/web/src/lib/auth/oidc/consent-integrity.ts
  apps/web/src/lib/db/schema/oauth-provider.ts
  docs/plans/tasks/12-oauth-security-hardening.md
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): block force-adoption of clients owned by another org
  apps/web/src/app/api/rp-admin/clients/approve/route.ts
  docs/plans/tasks/12-oauth-security-hardening.md
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add identity revocation cascade with schema and query filters
  apps/web/src/lib/db/queries/__tests__/revocation.integration.test.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/db/schema/identity.ts
  docs/plans/tasks/11-identity-revocation-engine.md
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): replace X509 thumbprint check with full chain validation
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/x509-validation.test.ts
  apps/web/src/lib/auth/oidc/x509-validation.ts
  docs/plans/tasks/12-oauth-security-hardening.md
  docs/tamper-model.md
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): bind release handles by (userId, authReqId, clientId)
  apps/web/src/app/api/ciba/identity/stage/route.ts
  apps/web/src/lib/auth/__tests__/ciba-release-lifecycle.integration.test.ts
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/ephemeral-release-handles.ts
  docs/plans/tasks/12-oauth-security-hardening.md
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): validate software_statement as JWT in DCR registration
  apps/web/src/lib/auth/auth.ts
  docs/plans/tasks/12-oauth-security-hardening.md
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): default token exchange scope to openid for ID token subjects
  apps/web/src/lib/auth/__tests__/token-exchange.integration.test.ts
  apps/web/src/lib/auth/oidc/token-exchange.ts
  docs/plans/tasks/12-oauth-security-hardening.md
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add 90-day expiry and rotation to JARM ECDH-ES key
  apps/web/src/lib/auth/oidc/jarm-key.ts
  docs/plans/tasks/12-oauth-security-hardening.md
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add end_session_endpoint and sid claim for BCL clients
  apps/web/src/app/api/auth/oauth2/end-session/route.ts
  apps/web/src/lib/auth/auth.ts
  docs/plans/tasks/10-back-channel-logout.md
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add CUSTODIAL_SIGNER_URL and CUSTODIAL_SIGNER_ID env vars
  apps/web/src/env.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add admin and self-service identity revocation tRPC procedures
  apps/web/src/lib/trpc/routers/identity/revoke.ts
  apps/web/src/lib/trpc/routers/identity/router.ts
  docs/plans/tasks/11-identity-revocation-engine.md
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): implement OIDC Back-Channel Logout token delivery
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/backchannel-logout.ts
  apps/web/src/lib/auth/well-known-utils.ts
  docs/plans/tasks/10-back-channel-logout.md
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): send custodial recovery email and add integration tests
  apps/web/src/lib/email/recovery-mailer.ts
  apps/web/src/lib/recovery/__tests__/custodial-guardian.integration.test.ts
  apps/web/src/lib/trpc/routers/recovery/challenge.ts
  docs/plans/tasks/14-custodial-frost-recovery.md
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

test(web): add BCL module unit tests and mark Task 10 mostly complete
  apps/web/src/lib/auth/oidc/__tests__/backchannel-logout.test.ts
  docs/plans/tasks/10-back-channel-logout.md
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

docs: mark Task 11 Identity Revocation Engine as complete
  docs/plans/tasks/11-identity-revocation-engine.md
Due: none

feat(web): add custodialEmail guardian type with max-1 and not-sole constraints
  apps/web/src/lib/recovery/constants.ts
  apps/web/src/lib/trpc/routers/recovery/guardian.ts
  apps/web/src/lib/trpc/routers/recovery/router.ts
  docs/plans/tasks/14-custodial-frost-recovery.md
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

test(web): add cross-grant handle isolation test for CIBA release handles
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
  docs/plans/tasks/04-ciba-request-binding-replay-safety.md
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

docs: correct ZK nationality encoding and identity_binding circuit docs
  docs/zk-architecture.md
  docs/zk-nationality-proofs.md
  progress.txt
Due: none

docs: document integrity controls (FHE HMAC, consent HMAC, JWKS encryption, JARM rotation)
  CLAUDE.md
  docs/attestation-privacy-architecture.md
  docs/cryptographic-pillars.md
  docs/oauth-integrations.md
  docs/tamper-model.md
  progress.txt
Due: none

docs: document compliance derivation engine and identity revocation cascade
  CLAUDE.md
  apps/web/README.md
  docs/architecture.md
  docs/attestation-privacy-architecture.md
  docs/ssi-architecture.md
  progress.txt
Due: none

docs: document token exchange, release handle binding, and update RFC-0033
  docs/agentic-authorization.md
  docs/oauth-integrations.md
  docs/rfcs/0033-agentic-auth-integration.md
  progress.txt
Due: none

docs: document FROST recovery enhancements and custodial guardian
  CLAUDE.md
  apps/signer/README.md
  apps/web/README.md
  docs/architecture.md
  docs/fhe-key-lifecycle.md
  docs/railway-signer-deployment.md
  docs/recovery-trust-model.md
  docs/tamper-model.md
  progress.txt
Due: none

docs: document sybil deduplication (HMAC dedup, per-RP nullifiers, proof:sybil)
  CLAUDE.md
  docs/attestation-privacy-architecture.md
  docs/oauth-integrations.md
  docs/ssi-architecture.md
  docs/tamper-model.md
  docs/zk-architecture.md
  docs/zk-nationality-proofs.md
  progress.txt
Due: none

docs: sync ER diagram with RECOVERY_KEY_PINS and CIBA_REQUESTS tables
  apps/landing/README.md
  docs/attestation-privacy-architecture.md
  docs/noir-profiling.md
  progress.txt
Due: none

docs: document OIDC Back-Channel Logout with CIBA revocation
  CLAUDE.md
  docs/architecture.md
  docs/oauth-integrations.md
  docs/tamper-model.md
  progress.txt
Due: none

docs: document CIBA push notifications, requiresVaultUnlock, and Aether demo
  CLAUDE.md
  apps/demo-rp/README.md
  docs/agentic-authorization.md
  docs/oauth-integrations.md
  docs/rfcs/0034-ciba-web-push-notifications.md
  progress.txt
Due: none

docs: document MCP identity server across all architectural docs
  CLAUDE.md
  README.md
  docs/architecture.md
  docs/cryptographic-pillars.md
  progress.txt
Due: none

docs: add MCP Server to CLAUDE.md Architecture table
  CLAUDE.md
Due: none

feat(web): add admin role system with better-auth admin plugin
  apps/web/src/lib/assurance/__tests__/data.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/db/schema/auth.ts
  apps/web/src/lib/trpc/routers/identity/__tests__/revoke.test.ts
  apps/web/src/lib/trpc/routers/identity/revoke.ts
  apps/web/src/lib/trpc/server.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add JWKS signing key rotation with admin procedure
  apps/web/src/lib/auth/oidc/__tests__/key-rotation.test.ts
  apps/web/src/lib/auth/oidc/jwt-signer.ts
  apps/web/src/lib/trpc/routers/admin.ts
  apps/web/src/lib/trpc/routers/app.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add shared rate limiting infrastructure
  apps/web/src/app/api/ciba/push/subscribe/route.ts
  apps/web/src/app/api/ciba/push/unsubscribe/route.ts
  apps/web/src/app/api/fhe/enrollment/complete/route.ts
  apps/web/src/app/api/fhe/enrollment/context/route.ts
  apps/web/src/app/api/fhe/keys/register/route.ts
  apps/web/src/app/api/fhe/status/route.ts
  apps/web/src/app/api/fhe/verify-age/route.ts
  apps/web/src/app/api/log-client-error/route.ts
  apps/web/src/app/api/metrics/client/route.ts
  apps/web/src/app/api/oauth2/authorize-challenge/route.ts
  apps/web/src/app/api/oauth2/identity/unstage/route.ts
  apps/web/src/app/api/oauth2/release/route.ts
  apps/web/src/app/api/ocr/route.ts
  apps/web/src/app/api/password/pwned/route.ts
  apps/web/src/app/api/secrets/blob/route.ts
  apps/web/src/app/api/zk/nationality-proof/route.ts
  apps/web/src/app/api/zk/nationality-proof/verify/route.ts
  apps/web/src/lib/auth/__tests__/authorize-challenge.integration.test.ts
  apps/web/src/lib/auth/oidc/identity-handler.ts
  apps/web/src/lib/trpc/routers/liveness.ts
  apps/web/src/lib/utils/__tests__/rate-limit.test.ts
  apps/web/src/lib/utils/rate-limit.ts
  apps/web/src/lib/utils/rate-limiters.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add consent security badges and fix rate limiter test isolation
  apps/web/src/app/api/oauth2/authorize-challenge/route.ts
  apps/web/src/app/oauth/consent/__tests__/consent-client.test.tsx
  apps/web/src/app/oauth/consent/__tests__/security-badges.test.ts
  apps/web/src/app/oauth/consent/_components/client-security-badges.tsx
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/app/oauth/consent/page.tsx
  apps/web/src/lib/utils/__tests__/rate-limit.test.ts
  apps/web/src/lib/utils/rate-limit.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): implement OIDC claims parameter filtering (Section 5.5)
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/claims-parameter.test.ts
  apps/web/src/lib/auth/oidc/claims-parameter.ts
  apps/web/src/lib/auth/well-known-utils.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): enforce MCP protocol compliance (resource indicators, CIMD)
  apps/web/src/app/.well-known/oauth-protected-resource/route.ts
  apps/web/src/lib/auth/__tests__/cimd.integration.test.ts
  apps/web/src/lib/auth/__tests__/mcp-e2e.integration.test.ts
  apps/web/src/lib/auth/__tests__/oidc-well-known.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/cimd.ts
  apps/web/src/lib/db/schema/oauth-provider.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add agent boundary auto-approval for CIBA requests
  apps/web/src/app/(dashboard)/dashboard/agent-policies/_components/agent-policies-client.tsx
  apps/web/src/app/(dashboard)/dashboard/agent-policies/_components/boundary-form-dialog.tsx
  apps/web/src/app/(dashboard)/dashboard/agent-policies/page.tsx
  apps/web/src/app/(dashboard)/dashboard/ciba/page.tsx
  apps/web/src/components/ciba/ciba-approve-client.tsx
  apps/web/src/components/dashboard/app-sidebar.tsx
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/ciba/__tests__/agent-boundaries-router.integration.test.ts
  apps/web/src/lib/ciba/__tests__/boundary-evaluation.integration.test.ts
  apps/web/src/lib/ciba/auto-approve.ts
  apps/web/src/lib/ciba/boundary-evaluation.ts
  apps/web/src/lib/db/schema/agent-boundaries.ts
  apps/web/src/lib/db/schema/ciba.ts
  apps/web/src/lib/trpc/routers/agent-boundaries.ts
  apps/web/src/lib/trpc/routers/app.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

docs: sync CLAUDE.md with tasks 16-22 (admin, rate limits, JWKS rotation, agent boundaries)
  CLAUDE.md
  progress.txt
Due: none
