Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web, ocr-requirements-lock, cargo-fmt-fhe, cargo-clippy-fhe, cargo-fmt-signer, cargo-clippy-signer

biome-check-web:
  name: biome-check (web)
  entry: bash -c 'cd apps/web && pnpm run lint:fix'
  language: system
  pass_filenames: false

biome-check-landing:
  name: biome-check (landing)
  entry: bash -c 'cd apps/landing && pnpm run lint:fix'
  language: system
  pass_filenames: false

tsc-check-web:
  name: TypeScript type-check (web)
  entry: bash -c 'cd apps/web && pnpm run type-check'
  language: system
  pass_filenames: false

tsc-check-landing:
  name: TypeScript type-check (landing)
  entry: bash -c 'cd apps/landing && pnpm run type-check'
  language: system
  pass_filenames: false

knip-check-web:
  name: Knip dead code check (web)
  entry: bash -c 'cd apps/web && pnpm run knip'
  language: system
  pass_filenames: false

ocr-requirements-lock:
  name: pip-compile lock (ocr)
  entry: bash scripts/check-ocr-requirements-lock.sh
  language: python
  additional_dependencies:
  - pip-tools
  pass_filenames: false

cargo-fmt-fhe:
  name: cargo fmt (fhe)
  entry: cargo fmt --manifest-path apps/fhe/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy-fhe:
  name: cargo clippy (fhe)
  entry: cargo clippy --manifest-path apps/fhe/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

cargo-fmt-signer:
  name: cargo fmt (signer)
  entry: cargo fmt --manifest-path apps/signer/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy-signer:
  name: cargo clippy (signer)
  entry: cargo clippy --manifest-path apps/signer/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

feat: add CIBA CLI test harness, move JWKS to /oauth2/jwks, rewrite OAuth docs
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/src/lib/verify.ts
  apps/web/package.json
  apps/web/scripts/ciba-cli-test.ts
  apps/web/src/app/api/auth/oauth2/jwks/route.ts
  apps/web/src/app/api/oauth2/release/route.ts
  apps/web/src/lib/auth/__tests__/oidc-well-known.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oauth-token-validation.ts
  apps/web/src/lib/auth/oidc/__tests__/rp-contract.test.ts
  apps/web/src/lib/auth/oidc/token-exchange.ts
  apps/web/src/lib/auth/well-known-utils.ts
  docs/attestation-privacy-architecture.md
  docs/oauth-integrations.md
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): harden push notification safety for identity-scoped CIBA requests
  apps/web/public/push-sw.js
  apps/web/src/app/api/push/__tests__/push-routes.integration.test.ts
  apps/web/src/app/api/push/subscribe/route.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/push/__tests__/web-push.test.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): bind CIBA intent tokens to auth_req_id and persist authorization_details
  apps/web/src/app/api/ciba/identity/__tests__/intent-binding.integration.test.ts
  apps/web/src/app/api/ciba/identity/intent/route.ts
  apps/web/src/app/api/ciba/identity/stage/route.ts
  apps/web/src/lib/auth/oidc/identity-intent.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): scope release handles to authReqId and add atomic redemption
  apps/web/src/app/api/ciba/identity/stage/route.ts
  apps/web/src/app/api/oauth2/release/route.ts
  apps/web/src/lib/auth/__tests__/ciba-release-lifecycle.integration.test.ts
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/ephemeral-release-handles.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

fix(demo-rp): harden CIBA ping/poll flow against race conditions
  apps/demo-rp/src/hooks/use-ciba-flow.ts
  apps/demo-rp/src/lib/auth.ts
  progress.txt
Due: none

test: add regression tests for authorization_details round-trip and handle isolation
  apps/web/src/lib/auth/__tests__/ciba-release-lifecycle.integration.test.ts
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

test: add missing Phase 3 acceptance criteria tests for release handle isolation
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
  apps/web/src/lib/auth/__tests__/release-endpoint.integration.test.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add assurance-aware ID token claims (acr, amr, acr_eidas)
  apps/web/src/lib/assurance/__tests__/oidc-claims.test.ts
  apps/web/src/lib/assurance/data.ts
  apps/web/src/lib/assurance/oidc-claims.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/well-known-utils.ts
  apps/web/src/lib/db/schema/auth.ts
  apps/web/vendor/better-auth-oauth-provider-1.5.1-beta.3.tgz
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

test: add integration tests for assurance claims in CIBA-issued ID tokens
  apps/web/src/lib/auth/__tests__/assurance-id-token.integration.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add at_hash access token hash binding to ID tokens
  apps/web/pnpm-lock.yaml
  apps/web/src/lib/assurance/__tests__/oidc-claims.test.ts
  apps/web/src/lib/assurance/oidc-claims.ts
  apps/web/src/lib/auth/__tests__/assurance-id-token.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/well-known-utils.ts
  apps/web/vendor/better-auth-oauth-provider-1.5.1-beta.3.tgz
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): enrich token exchange ID tokens with assurance claims
  apps/web/src/lib/auth/__tests__/token-exchange.integration.test.ts
  apps/web/src/lib/auth/oidc/token-exchange.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(demo-rp): display assurance claims and validate at_hash
  apps/demo-rp/src/components/aether/agent-chat.tsx
  apps/demo-rp/src/lib/auth.ts
  progress.txt
Due: none

test: add auth_time assertions to assurance ID token integration tests
  apps/web/src/lib/auth/__tests__/assurance-id-token.integration.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

docs: update progress with final completion status
  progress.txt
Due: none

feat(web): enforce acr_values and max_age on authorize endpoint
  apps/web/src/lib/auth/__tests__/step-up-auth.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/step-up.test.ts
  apps/web/src/lib/auth/oidc/step-up-hook.ts
  apps/web/src/lib/auth/oidc/step-up.ts
  apps/web/src/test/db-test-utils.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): enforce acr_values on CIBA approval and token exchange
  apps/web/package.json
  apps/web/src/app/(dashboard)/dashboard/ciba/approve/ciba-approve-client.tsx
  apps/web/src/lib/auth/__tests__/step-up-ciba.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/step-up-ciba.ts
  apps/web/src/lib/db/schema/ciba.ts
  apps/web/vendor/@better-auth__ciba@1.5.1-beta.3.patch
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(demo-rp): add step-up authentication to OAuth and CIBA scenarios
  apps/demo-rp/src/app/aether/page.tsx
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/hooks/use-ciba-flow.ts
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/src/lib/scenarios.ts
  apps/web/src/lib/auth/oidc/step-up-hook.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add RFC 8707 resource indicator validation on PAR endpoint
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/resource.test.ts
  apps/web/src/lib/auth/oidc/resource.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(demo-rp): send resource indicator in all OAuth and CIBA flows
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/lib/auth.ts
  progress.txt
Due: none

test(web): add RFC 8707 resource indicator integration tests
  apps/web/src/lib/auth/__tests__/rfc8707-resource.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add CIMD client resolution for MCP URL-formatted client_id
  apps/web/src/lib/auth/__tests__/cimd.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/cimd.test.ts
  apps/web/src/lib/auth/oidc/cimd-validation.ts
  apps/web/src/lib/auth/oidc/cimd.ts
  apps/web/src/lib/db/schema/oauth-provider.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add WWW-Authenticate headers and MCP end-to-end integration test
  apps/web/src/app/api/auth/[...all]/route.ts
  apps/web/src/lib/auth/__tests__/mcp-e2e.integration.test.ts
  apps/web/src/lib/auth/oidc/www-authenticate.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): regenerate CIBA vendor patch with valid git diff format
  apps/web/pnpm-lock.yaml
  apps/web/vendor/@better-auth__ciba@1.5.1-beta.3.patch
Due: none

feat(web): complete PWA manifest with scope, shortcuts, and maskable icon
  apps/web/src/app/manifest.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add standalone /approve/[authReqId] route and rich notifications
  apps/web/src/app/(dashboard)/dashboard/ciba/approve/ciba-approve-client.tsx
  apps/web/src/app/(dashboard)/dashboard/ciba/approve/page.tsx
  apps/web/src/app/approve/[authReqId]/layout.tsx
  apps/web/src/app/approve/[authReqId]/page.tsx
  apps/web/src/lib/auth/auth.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add app shell caching to service worker
  apps/web/public/push-sw.js
  progress.txt
Due: biome-check-web

refactor(web): extract shared OPAQUE login module and add auth challenge schema
  apps/web/src/lib/auth/plugins/opaque/login.ts
  apps/web/src/lib/auth/plugins/opaque/server.ts
  apps/web/src/lib/db/schema/auth-challenge.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add Authorization Challenge Endpoint with 3-round OPAQUE flow
  apps/web/src/app/api/oauth2/authorize-challenge/route.ts
  apps/web/src/lib/auth/well-known-utils.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

test(web): add authorization challenge endpoint integration tests
  apps/web/src/lib/auth/__tests__/authorize-challenge.integration.test.ts
  apps/web/src/test/db-test-utils.ts
  apps/web/vitest.setup.mts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add token exchange for authorization challenge codes
  apps/web/pnpm-lock.yaml
  apps/web/src/app/api/oauth2/authorize-challenge/route.ts
  apps/web/src/lib/auth/__tests__/authorize-challenge.integration.test.ts
  apps/web/vendor/better-auth-oauth-provider-1.5.1-beta.3.tgz
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add credential resolution and PAR request_uri for redirect_to_web
  apps/web/src/app/api/oauth2/authorize-challenge/route.ts
  apps/web/src/lib/auth/__tests__/authorize-challenge.integration.test.ts
  apps/web/src/lib/db/schema/auth-challenge.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add first-party enforcement, rate limiting, and session cleanup
  apps/web/src/app/api/oauth2/authorize-challenge/route.ts
  apps/web/src/lib/auth/__tests__/authorize-challenge.integration.test.ts
  apps/web/src/lib/db/schema/oauth-provider.ts
  apps/web/src/test/dpop-test-utils.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

test(web): add authorization code replay test for Phase 5 hardening
  apps/web/src/lib/auth/__tests__/authorize-challenge.integration.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add EIP-712 wallet challenge flow to Authorization Challenge Endpoint
  apps/web/src/app/api/oauth2/authorize-challenge/route.ts
  apps/web/src/lib/auth/plugins/eip712/server.ts
  apps/web/src/lib/auth/plugins/eip712/utils.ts
Due: biome-check-web, tsc-check-web, knip-check-web

test(web): add EIP-712 wallet challenge integration tests
  apps/web/src/lib/auth/__tests__/authorize-challenge.integration.test.ts
  apps/web/src/lib/auth/plugins/eip712/utils.ts
  progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add step-up re-authentication for first-party clients (Phase 4)
  apps/web/src/app/api/oauth2/authorize-challenge/route.ts
  apps/web/src/lib/auth/oidc/step-up-ciba.ts
  apps/web/src/lib/db/schema/auth-challenge.ts
Due: biome-check-web, tsc-check-web, knip-check-web

test(web): add step-up re-authentication integration tests (Phase 4)
  apps/web/src/app/api/oauth2/authorize-challenge/route.ts
  apps/web/src/lib/auth/__tests__/authorize-challenge.integration.test.ts
  apps/web/src/lib/auth/__tests__/step-up-ciba.integration.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

docs: update progress.txt — Phase 4 complete, all 5 phases done
  progress.txt
Due: none

test(web): assert acr claim in step-up token exchange response
  apps/web/src/lib/auth/__tests__/authorize-challenge.integration.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

docs: add First-Party Apps and acr_values to OAuth documentation
  CLAUDE.md
  docs/oauth-integrations.md
  progress.txt
Due: none

Path conditions:
  biome-check-web: any of: ^apps/web/.*\.(ts|tsx|js|jsx|json|css)$
  biome-check-landing: any of: ^apps/landing/.*\.(ts|tsx|js|jsx|json|css)$
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  ocr-requirements-lock: any of: ^apps/ocr/(pyproject\.toml|requirements\.lock)$
  cargo-fmt-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-clippy-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-fmt-signer: any of: ^apps/signer/.*\.rs$
  cargo-clippy-signer: any of: ^apps/signer/.*\.rs$
