Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web, ocr-requirements-lock, cargo-fmt-fhe, cargo-clippy-fhe, cargo-fmt-signer, cargo-clippy-signer

Path conditions:
  biome-check-web: any of: ^apps/web/.*\.(ts|tsx|js|jsx|json|css)$
  biome-check-landing: any of: ^apps/landing/.*\.(ts|tsx|js|jsx|json|css)$
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  ocr-requirements-lock: any of: ^apps/ocr/(pyproject\.toml|requirements\.lock)$
  cargo-fmt-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-clippy-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-fmt-signer: any of: ^apps/signer/.*\.rs$
  cargo-clippy-signer: any of: ^apps/signer/.*\.rs$

fix(zkpassport): use shared Barretenberg API for proof verification
  apps/web/src/lib/privacy/zk/zkpassport-verifier.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(secrets): wire SECRET_BLOB_DIR env var for persistent blob storage
  apps/web/src/env.ts
  apps/web/src/lib/privacy/secrets/storage.server.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(demo-rp): handle expired aether tokens
  apps/demo-rp/src/lib/agent-runtime.test.ts
  apps/demo-rp/src/lib/agent-runtime.ts
  apps/demo-rp/src/lib/auth.ts
Due: none

refactor(agent-auth): separate login and bootstrap tokens
  apps/demo-rp/src/lib/agent-runtime.test.ts
  apps/demo-rp/src/lib/agent-runtime.ts
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/src/lib/scenarios.ts
  apps/mcp/__tests__/auth/bootstrap.test.ts
  apps/mcp/__tests__/auth/browser-redirect.test.ts
  apps/mcp/__tests__/auth/dcr.test.ts
  apps/mcp/__tests__/auth/token-exchange.test.ts
  apps/mcp/__tests__/transports/http.test.ts
  apps/mcp/__tests__/transports/stdio.test.ts
  apps/mcp/src/auth/agent-registration.ts
  apps/mcp/src/auth/bootstrap.ts
  apps/mcp/src/auth/browser-redirect.ts
  apps/mcp/src/auth/dcr.ts
  apps/mcp/src/auth/token-exchange.ts
  apps/mcp/src/transports/http.ts
  apps/mcp/src/transports/stdio.ts
  apps/web/src/app/.well-known/agent-configuration/route.ts
  apps/web/src/app/api/auth/agent/register-host/route.ts
  apps/web/src/app/api/auth/agent/register/route.ts
  apps/web/src/app/api/auth/agent/revoke/route.test.ts
  apps/web/src/app/api/auth/agent/revoke/route.ts
  apps/web/src/lib/auth/__tests__/agent-bootstrap.integration.test.ts
  apps/web/src/lib/auth/__tests__/agent-configuration.integration.test.ts
  apps/web/src/lib/auth/__tests__/api-auth.integration.test.ts
  apps/web/src/lib/auth/__tests__/step-up-auth.integration.test.ts
  apps/web/src/lib/auth/api-auth.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/agent-scopes.ts
  apps/web/src/lib/auth/oidc/dpop-userinfo.ts
  apps/web/src/lib/auth/oidc/oauth-scopes.ts
  apps/web/src/lib/auth/oidc/opaque-access-token.ts
  apps/web/src/lib/auth/oidc/token-exchange.ts
  apps/web/src/lib/db/schema/oauth-provider.ts
  apps/web/src/lib/trpc/server.ts
  docs/(architecture)/agent-architecture.md
  docs/(protocols)/oauth-integrations.md
  docs/(specs)/pact-v0.1-draft.md
  docs/adr/platform/0004-agent-provider-adapter-architecture.md
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): restrict auth JWKS adapter to jose-safe signing keys
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/jwt-signing-keys.integration.test.ts
  apps/web/src/lib/auth/oidc/jwt-signing-keys.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(demo-rp): harden oauth exchange and veripass claims
  apps/demo-rp/README.md
  apps/demo-rp/src/app/veripass/page.tsx
  apps/demo-rp/src/components/veripass/verifier-scenarios.tsx
  apps/demo-rp/src/data/veripass.ts
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/src/lib/oauth-response.test.ts
  apps/demo-rp/src/lib/oauth-response.ts
  apps/demo-rp/src/lib/veripass-claims.test.ts
  apps/demo-rp/src/lib/veripass-claims.ts
  apps/demo-rp/src/lib/wallet.ts
Due: none

fix(web): harden and unify identity verification flows
  apps/web/next.config.ts
  apps/web/src/app/(dashboard)/dashboard/_components/identity-card.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/fhe-enrollment-dialog.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/document/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/_components/liveness-verify-client.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/_components/status-display.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/_components/zkpassport-flow.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/page.tsx
  apps/web/src/components/dashboard/fhe-status-poller.tsx
  apps/web/src/components/verification/verification-finalization-notice.tsx
  apps/web/src/components/verification/verification-journey-card.tsx
  apps/web/src/hooks/verification/use-verification-binding-auth.ts
  apps/web/src/lib/assurance/__tests__/compute.test.ts
  apps/web/src/lib/assurance/__tests__/data.integration.test.ts
  apps/web/src/lib/assurance/compute.ts
  apps/web/src/lib/assurance/types.ts
  apps/web/src/lib/db/queries/__tests__/identity.integration.test.ts
  apps/web/src/lib/db/schema/identity.ts
  apps/web/src/lib/identity/verification/__tests__/profile-vault.test.ts
  apps/web/src/lib/identity/verification/profile-vault.ts
  apps/web/src/lib/privacy/zk/__tests__/worker-fetch.test.ts
  apps/web/src/lib/privacy/zk/noir-prover.worker.ts
  apps/web/src/lib/privacy/zk/worker-fetch.ts
  apps/web/src/lib/trpc/routers/identity/finalize.ts
  apps/web/src/lib/trpc/routers/identity/helpers/job-processor.ts
  apps/web/src/lib/trpc/routers/identity/prepare-document.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(email): add email lifecycle — add, change, verify
  apps/demo-rp/src/components/shared/assurance-badges.tsx
  apps/web/src/app/(dashboard)/_components/email-verification-banner.tsx
  apps/web/src/app/(dashboard)/dashboard/settings/page.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/components/dashboard/email-section.tsx
  apps/web/src/components/dashboard/user-data-section.tsx
  apps/web/src/lib/auth/__tests__/email-classification.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/email-classification.ts
  apps/web/src/lib/db/queries/recovery.ts
  apps/web/src/lib/email/__tests__/ciba-mailer.test.ts
  apps/web/src/lib/email/auth-mailer.ts
  apps/web/src/lib/email/ciba-mailer.ts
  apps/web/src/lib/trpc/routers/recovery/challenge.ts
  apps/web/src/lib/trpc/routers/sign-up.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(auth): volatile identity release engine
  apps/mcp/__tests__/auth/ciba.test.ts
  apps/mcp/__tests__/auth/context.test.ts
  apps/mcp/__tests__/auth/host-key.test.ts
  apps/mcp/__tests__/auth/identity-resolution.test.ts
  apps/mcp/__tests__/auth/token-exchange.test.ts
  apps/mcp/__tests__/transports/http.test.ts
  apps/mcp/__tests__/transports/stdio.test.ts
  apps/mcp/src/__tests__/agent.test.ts
  apps/mcp/src/auth/auth-surfaces.ts
  apps/mcp/src/auth/ciba.ts
  apps/mcp/src/auth/context.ts
  apps/mcp/src/auth/host-key.ts
  apps/mcp/src/auth/identity.ts
  apps/mcp/src/auth/token-manager.ts
  apps/mcp/src/server/index.ts
  apps/mcp/src/tools/index.ts
  apps/mcp/src/tools/purchase.ts
  apps/mcp/src/tools/request-approval.ts
  apps/mcp/src/tools/whoami.ts
  apps/web/src/app/api/ciba/identity/__tests__/intent-binding.integration.test.ts
  apps/web/src/app/api/ciba/identity/stage/route.ts
  apps/web/src/app/api/ciba/identity/unstage/route.ts
  apps/web/src/app/api/oauth2/identity/stage/route.ts
  apps/web/src/app/api/oauth2/identity/unstage/route.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/claims-delivery.test.ts
  apps/web/src/lib/auth/oidc/__tests__/ephemeral-identity-claims.test.ts
  apps/web/src/lib/auth/oidc/claims-parameter.ts
  apps/web/src/lib/auth/oidc/ephemeral-identity-claims.ts
  apps/web/src/lib/auth/oidc/identity-handler.ts
  docs/adr/privacy/0014-volatile-identity-release-store.md
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): unified verification architecture — Phase 1 write convergence
  apps/web/README.md
  apps/web/e2e/global-setup.ts
  apps/web/src/app/(dashboard)/dashboard/_components/identity-card.tsx
  apps/web/src/app/api/zk/nationality-proof/verify/route.ts
  apps/web/src/lib/assurance/__tests__/data.integration.test.ts
  apps/web/src/lib/assurance/data.ts
  apps/web/src/lib/db/__tests__/db.integration.test.ts
  apps/web/src/lib/db/queries/__tests__/crypto.integration.test.ts
  apps/web/src/lib/db/queries/auth.ts
  apps/web/src/lib/db/queries/crypto.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/db/schema/crypto.ts
  apps/web/src/lib/identity/verification/materialize.ts
  apps/web/src/lib/trpc/routers/__tests__/proof-security.test.ts
  apps/web/src/lib/trpc/routers/passport-chip.ts
  apps/web/src/lib/trpc/routers/zk/challenge.ts
  apps/web/src/lib/trpc/routers/zk/proof.ts
  apps/web/src/test/db-test-utils.ts
  docs/plans/tasks/progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): unified verification architecture — Phase 2 read convergence
  apps/mcp/__tests__/tools/my-proofs.test.ts
  apps/mcp/src/tools/my-proofs.ts
  apps/web/src/app/(dashboard)/dashboard/developer/inspector/page.tsx
  apps/web/src/lib/assurance/__tests__/compute.test.ts
  apps/web/src/lib/assurance/__tests__/data.integration.test.ts
  apps/web/src/lib/assurance/compute.ts
  apps/web/src/lib/assurance/data.ts
  apps/web/src/lib/auth/oidc/__tests__/claims.test.ts
  apps/web/src/lib/auth/oidc/claims.ts
  apps/web/src/lib/db/queries/__tests__/crypto.integration.test.ts
  apps/web/src/lib/db/queries/crypto.ts
  apps/web/src/lib/identity/verification/unified-model.ts
  apps/web/src/lib/privacy/zk/age-proof-types.ts
  apps/web/src/lib/privacy/zk/client.ts
  apps/web/src/lib/trpc/routers/__tests__/attestation.test.ts
  apps/web/src/lib/trpc/routers/attestation.ts
  apps/web/src/lib/trpc/routers/zk/proof.ts
  apps/web/src/lib/trpc/routers/zk/router.ts
  docs/plans/tasks/plan-prd-17-unified-verification-architecture.md
  docs/plans/tasks/progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

fix(auth): clone byte arrays in binding material cache to prevent TTL wipe race
  apps/mcp/__tests__/auth/ciba.test.ts
  apps/mcp/__tests__/auth/dcr.test.ts
  apps/mcp/__tests__/auth/host-key.test.ts
  apps/mcp/src/auth/auth-surfaces.ts
  apps/mcp/src/auth/ciba.ts
  apps/mcp/src/auth/host-key.ts
  apps/mcp/src/auth/installed-agent-scopes.ts
  apps/web/src/lib/assurance/__tests__/data.integration.test.ts
  apps/web/src/lib/assurance/data.ts
  apps/web/src/lib/identity/verification/materialize.ts
  apps/web/src/lib/identity/verification/ocr-proof-sessions.ts
  apps/web/src/lib/identity/verification/unified-model.ts
  apps/web/src/lib/privacy/credentials/cache.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): enforce exact disclosure binding
  apps/web/package.json
  apps/web/src/app/api/ciba/identity/stage/route.ts
  apps/web/src/app/api/ciba/identity/unstage/route.ts
  apps/web/src/app/api/oauth2/authorize-challenge/route.ts
  apps/web/src/app/api/oauth2/identity/stage/__tests__/route.test.ts
  apps/web/src/app/api/oauth2/identity/stage/route.ts
  apps/web/src/app/api/oauth2/identity/unstage/route.ts
  apps/web/src/lib/auth/__tests__/authorization-code-id-token.integration.test.ts
  apps/web/src/lib/auth/__tests__/authorize-challenge.integration.test.ts
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
  apps/web/src/lib/auth/__tests__/userinfo-disclosure.integration.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/claims-delivery.test.ts
  apps/web/src/lib/auth/oidc/__tests__/claims-parameter.test.ts
  apps/web/src/lib/auth/oidc/__tests__/disclosure-context.test.ts
  apps/web/src/lib/auth/oidc/__tests__/ephemeral-identity-claims.test.ts
  apps/web/src/lib/auth/oidc/__tests__/id-token-claims.test.ts
  apps/web/src/lib/auth/oidc/__tests__/oauth-query.test.ts
  apps/web/src/lib/auth/oidc/claims-parameter.ts
  apps/web/src/lib/auth/oidc/disclosure-context.ts
  apps/web/src/lib/auth/oidc/ephemeral-identity-claims.ts
  apps/web/src/lib/auth/oidc/identity-handler.ts
  apps/web/src/lib/auth/oidc/oauth-query.ts
  apps/web/src/lib/db/schema/auth-challenge.ts
  apps/web/src/lib/db/schema/oauth-provider.ts
  docs/adr/privacy/0014-volatile-identity-release-store.md
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): simplify approval UI and detect missing profile data
  apps/web/src/app/mcp/interactive/[interactionId]/layout.tsx
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/components/ciba/ciba-approve-client.tsx
  apps/web/src/lib/auth/oidc/disclosure-registry.ts
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(web): unify design system — semantic tokens, no backgrounds, no icon circles
  apps/web/src/app/(dashboard)/_components/email-verification-banner.tsx
  apps/web/src/app/(dashboard)/dashboard/_components/identity-card.tsx
  apps/web/src/app/(dashboard)/dashboard/agents/_components/agents-dashboard-client.tsx
  apps/web/src/app/(dashboard)/dashboard/ciba/_components/push-banner.tsx
  apps/web/src/app/(dashboard)/dashboard/ciba/page.tsx
  apps/web/src/app/(dashboard)/dashboard/developer/inspector/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/_components/directional-nudge.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/_components/liveness-flow.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/_components/quality-alert.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/_components/status-display.tsx
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/components/ciba/ciba-approve-client.tsx
  apps/web/src/components/ui/alert.tsx
  apps/web/src/components/verification/verification-finalization-notice.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(web): unify identity card header with actions card pattern
  apps/web/src/app/(dashboard)/dashboard/_components/identity-card.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(web): replace semantically wrong icons with contextual alternatives
  apps/web/src/app/(auth)/recovery/guardian/page.tsx
  apps/web/src/app/(auth)/recovery/passkey/page.tsx
  apps/web/src/app/(auth)/sign-in/page.tsx
  apps/web/src/app/(dashboard)/dashboard/_components/identity-actions-card.tsx
  apps/web/src/app/(dashboard)/dashboard/_components/identity-card.tsx
  apps/web/src/app/(dashboard)/dashboard/agents/_components/agents-dashboard-client.tsx
  apps/web/src/app/(dashboard)/dashboard/ciba/page.tsx
  apps/web/src/app/(dashboard)/dashboard/credentials/_components/credentials-content.tsx
  apps/web/src/app/(dashboard)/dashboard/developer/inspector/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/fhe-enrollment-dialog.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/_components/status-display.tsx
  apps/web/src/components/assurance/tier-badge.tsx
  apps/web/src/components/ciba/ciba-approve-client.tsx
  apps/web/src/components/dashboard/app-sidebar.tsx
  apps/web/src/components/dashboard/compliance-access-card.tsx
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/components/dashboard/passkey-management-section.tsx
  apps/web/src/components/dashboard/set-password-section.tsx
  apps/web/src/components/dashboard/transparency-section.tsx
  apps/web/src/components/verification/verification-journey-card.tsx
  apps/web/src/lib/auth/oidc/scope-display.ts
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(web): unify Agent Requests + Agents into single tabbed page
  CLAUDE.md
  apps/demo-rp/src/components/aether/agent-chat.tsx
  apps/web/pnpm-lock.yaml
  apps/web/public/push-sw.js
  apps/web/src/app/(dashboard)/dashboard/agents/_components/agents-dashboard-client.test.tsx
  apps/web/src/app/(dashboard)/dashboard/agents/_components/agents-dashboard-client.tsx
  apps/web/src/app/(dashboard)/dashboard/agents/_components/connected-tab.test.tsx
  apps/web/src/app/(dashboard)/dashboard/agents/_components/connected-tab.tsx
  apps/web/src/app/(dashboard)/dashboard/agents/_components/live-updater.tsx
  apps/web/src/app/(dashboard)/dashboard/agents/_components/push-banner.tsx
  apps/web/src/app/(dashboard)/dashboard/agents/_components/pwa-install-banner.tsx
  apps/web/src/app/(dashboard)/dashboard/agents/_components/requests-tab.tsx
  apps/web/src/app/(dashboard)/dashboard/agents/approve/layout.tsx
  apps/web/src/app/(dashboard)/dashboard/agents/approve/page.tsx
  apps/web/src/app/(dashboard)/dashboard/agents/page.tsx
  apps/web/src/app/(dashboard)/dashboard/ciba/page.tsx
  apps/web/src/app/approve/[authReqId]/page.tsx
  apps/web/src/app/manifest.ts
  apps/web/src/components/ciba/ciba-approve-client.tsx
  apps/web/src/components/dashboard/app-sidebar.tsx
  apps/web/src/components/dashboard/dynamic-breadcrumb.tsx
  apps/web/src/lib/agents/display.test.ts
  apps/web/src/lib/agents/display.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): consolidate verification into single-page stepper flow (PRD-17)
  apps/web/.gitignore
  apps/web/e2e/dashboard/tier-progression.spec.ts
  apps/web/next.config.ts
  apps/web/src/app/(dashboard)/dashboard/_components/identity-card.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/document/document-upload-client.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/fhe-enrollment-dialog.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/fhe-error-banner.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/liveness/audio-toggle.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/liveness/camera-view.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/liveness/challenge-banner.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/liveness/directional-nudge.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/liveness/liveness-flow.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/liveness/liveness-provider.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/liveness/liveness-verify-client.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/liveness/oval-frame.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/liveness/quality-alert.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/liveness/screen-reader-announcer.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/liveness/success-animation.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/passport-chip/qr-display.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/passport-chip/status-display.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/passport-chip/zkpassport-flow.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/verification-flow.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/verification-method-cards.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/verify-cta.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/document/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/passport-chip/page.tsx
  apps/web/src/components/dashboard/__tests__/fhe-status-poller.test.tsx
  apps/web/src/components/dashboard/dynamic-breadcrumb.tsx
  apps/web/src/components/dashboard/fhe-status-poller.tsx
  apps/web/src/components/verification/verification-journey-card.tsx
  apps/web/src/hooks/__tests__/use-verification-stepper.test.ts
  apps/web/src/hooks/use-verification-stepper.ts
  apps/web/src/lib/assurance/features.ts
  apps/web/src/lib/identity/verification/__tests__/steps.test.ts
  apps/web/src/lib/identity/verification/steps.ts
  docs/plans/tasks/plan-prd-17-unified-verification-architecture.md
  docs/plans/tasks/progress.txt
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(web): extract shared CIBA approval resolution, eliminate double-fetch (PRD-18)
  apps/web/src/app/(dashboard)/dashboard/agents/approve/page.tsx
  apps/web/src/app/approve/[authReqId]/page.tsx
  apps/web/src/components/ciba/ciba-approve-client.tsx
  apps/web/src/lib/ciba/__tests__/resolve-approval.integration.test.ts
  apps/web/src/lib/ciba/resolve-approval.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): replace CIBA approve page with inline Sheet on agents page (PRD-18)
  apps/web/src/app/(dashboard)/dashboard/agents/_components/agents-client.tsx
  apps/web/src/app/(dashboard)/dashboard/agents/_components/requests-tab.tsx
  apps/web/src/app/(dashboard)/dashboard/agents/approve/layout.tsx
  apps/web/src/app/(dashboard)/dashboard/agents/approve/page.tsx
  apps/web/src/app/(dashboard)/dashboard/agents/page.tsx
  apps/web/src/app/approve/[authReqId]/page.tsx
  apps/web/src/components/ciba/ciba-approve-client.tsx
  apps/web/src/components/dashboard/dynamic-breadcrumb.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(web): replace credentials page with Dialog on dashboard (PRD-19)
  apps/web/src/app/(dashboard)/dashboard/_components/credentials-content.tsx
  apps/web/src/app/(dashboard)/dashboard/_components/identity-actions-card.tsx
  apps/web/src/app/(dashboard)/dashboard/credentials/page.tsx
  apps/web/src/components/dashboard/app-sidebar.tsx
  apps/web/src/components/dashboard/dynamic-breadcrumb.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(web): replace inspector page with collapsible on identity card (PRD-19)
  apps/web/src/app/(dashboard)/dashboard/_components/identity-card.tsx
  apps/web/src/app/(dashboard)/dashboard/developer/inspector/page.tsx
  apps/web/src/components/dashboard/app-sidebar.tsx
  apps/web/src/components/dashboard/dynamic-breadcrumb.tsx
  apps/web/src/components/dashboard/verification-details.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

fix(agent): harden approval and disclosure flows
  apps/mcp/__tests__/auth/token-exchange.test.ts
  apps/mcp/__tests__/tools/my-profile.test.ts
  apps/mcp/src/auth/token-exchange.ts
  apps/mcp/src/tools/my-profile.ts
  apps/mcp/src/transports/http.ts
  apps/web/src/app/(dashboard)/dashboard/agents/_components/connected-tab.test.tsx
  apps/web/src/app/(dashboard)/dashboard/agents/_components/connected-tab.tsx
  apps/web/src/app/api/auth/agent/capabilities/route.test.ts
  apps/web/src/app/api/ciba/identity/__tests__/intent-binding.integration.test.ts
  apps/web/src/app/oauth/consent/__tests__/consent-client.test.tsx
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/components/ciba/ciba-approve-client.test.tsx
  apps/web/src/components/ciba/ciba-approve-client.tsx
  apps/web/src/lib/auth/__tests__/agent-bootstrap.integration.test.ts
  apps/web/src/lib/auth/oidc/token-exchange.ts
  apps/web/src/lib/db/seed/capabilities.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(landing): use virtual module for markdown content
  apps/landing/app/markdown-content.d.ts
  apps/landing/app/routes/privacy.tsx
  apps/landing/app/routes/terms.tsx
  apps/landing/app/routes/whitepaper.tsx
  apps/landing/vite.config.ts
  docs/(protocols)/disclosure-profile.md
Due: biome-check-landing, tsc-check-landing

feat(web): wire permit-based attestation flow with client-side FHE encryption
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/app/(dashboard)/dashboard/(web3)/defi-demo/_components/defi-demo-client.tsx
  apps/web/src/app/(dashboard)/dashboard/(web3)/defi-demo/_components/tx-history.tsx
  apps/web/src/components/dashboard/compliance-access-card.tsx
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/lib/blockchain/networks.ts
  apps/web/src/lib/blockchain/providers/base-provider.ts
  apps/web/src/lib/blockchain/providers/factory.ts
  apps/web/src/lib/blockchain/providers/fhevm-mock-provider.ts
  apps/web/src/lib/blockchain/providers/fhevm-utils.ts
  apps/web/src/lib/blockchain/providers/fhevm-zama-provider.ts
  apps/web/src/lib/blockchain/providers/types.ts
  apps/web/src/lib/db/queries/__tests__/attestation.integration.test.ts
  apps/web/src/lib/db/queries/attestation.ts
  apps/web/src/lib/trpc/client.ts
  apps/web/src/lib/trpc/routers/__tests__/attestation.test.ts
  apps/web/src/lib/trpc/routers/attestation.ts
  apps/web/src/lib/trpc/routers/compliant-token.ts
  apps/web/src/lib/trpc/server.ts
Due: biome-check-web, tsc-check-web, knip-check-web

copy(demo-rp): rewrite scenario copy and reorganize landing page
  apps/demo-rp/src/app/aether/page.tsx
  apps/demo-rp/src/app/bank/page.tsx
  apps/demo-rp/src/app/exchange/page.tsx
  apps/demo-rp/src/app/page.tsx
  apps/demo-rp/src/app/veripass/page.tsx
  apps/demo-rp/src/app/x402/page.tsx
  apps/demo-rp/src/components/wine/wine-age-gate.tsx
  apps/demo-rp/src/lib/scenarios.ts
Due: none

fix(demo-rp): correct x402 wire format and add explorer links
  apps/demo-rp/src/app/api/x402/access/route.ts
  apps/demo-rp/src/components/x402/protocol-trace.tsx
  apps/demo-rp/src/data/x402.ts
  apps/demo-rp/src/hooks/use-x402-flow.ts
  apps/demo-rp/src/lib/env.ts
  apps/demo-rp/src/lib/x402-server.ts
Due: none

rename(web): /.well-known/poh-issuer → /.well-known/proof-of-human
  apps/demo-rp/src/lib/x402-server.ts
  apps/web/src/app/.well-known/proof-of-human/route.test.ts
  apps/web/src/app/.well-known/proof-of-human/route.ts
  apps/web/src/lib/auth/well-known-utils.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(landing): add /payments page for x402 compliance integration
  apps/landing/app/components/landing/footer.tsx
  apps/landing/app/components/landing/nav.tsx
  apps/landing/app/routes.ts
  apps/landing/app/routes/payments.tsx
Due: biome-check-landing, tsc-check-landing

fix(demo-rp,landing): rename age-gated to verified-identity in x402 resources
  apps/demo-rp/src/data/x402.ts
  apps/landing/app/routes/payments.tsx
Due: biome-check-landing, tsc-check-landing

feat(web): harden attestation pipeline (Batch A — no contract change)
  apps/web/knip.json
  apps/web/src/lib/blockchain/attestation/proof-set-hash.ts
  apps/web/src/lib/blockchain/wallet-verification.ts
  apps/web/src/lib/db/queries/attestation.ts
  apps/web/src/lib/identity/verification/compliance.ts
  apps/web/src/lib/identity/verification/iso-3166-numeric.ts
  apps/web/src/lib/trpc/routers/attestation.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): integrate IdentityRegistry v2 and fix MetaMask on wallet pages
  apps/web/knip.json
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/public/coi-serviceworker.js
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/lib/blockchain/attestation/proof-set-hash.ts
  apps/web/src/lib/blockchain/wallet-verification.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): add EIP-712 consent signing to attestation flow
  apps/web/src/components/dashboard/on-chain-attestation.tsx
Due: biome-check-web, tsc-check-web, knip-check-web
