Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc-check-web, tsc-check-landing, knip-check-web, cargo-fmt, cargo-clippy

tsc-check-web:
  name: TypeScript type-check (web)
  entry: bash -c 'cd apps/web && bun run tsc --noEmit'
  language: system
  pass_filenames: false

tsc-check-landing:
  name: TypeScript type-check (landing)
  entry: bash -c 'cd apps/landing && bun run tsc -b'
  language: system
  pass_filenames: false

knip-check-web:
  name: Knip dead code check (web)
  entry: bash -c 'cd apps/web && bun run knip'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path apps/fhe/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --manifest-path apps/fhe/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

style(landing): apply biome import organization
  apps/landing/src/App.tsx
  apps/landing/src/components/docs/docs-layout.tsx
  apps/landing/src/components/docs/markdown-renderer.tsx
  apps/landing/src/components/landing/cta-section.tsx
  apps/landing/src/components/landing/features-grid.tsx
  apps/landing/src/components/landing/hero.tsx
  apps/landing/src/components/landing/mid-page-cta.tsx
  apps/landing/src/components/landing/nav.tsx
  apps/landing/src/components/landing/technical-deep-dive.tsx
  apps/landing/src/components/landing/three-pillars.tsx
  apps/landing/src/components/landing/use-cases.tsx
  apps/landing/src/components/ui/alert-dialog.tsx
  apps/landing/src/components/ui/breadcrumb.tsx
  apps/landing/src/components/ui/combobox.tsx
  apps/landing/src/components/ui/dropdown-menu.tsx
  apps/landing/src/components/ui/field.tsx
  apps/landing/src/components/ui/input-group.tsx
  apps/landing/src/components/ui/input.tsx
  apps/landing/src/components/ui/select.tsx
  apps/landing/src/components/ui/sheet.tsx
  apps/landing/src/components/ui/sidebar.tsx
  apps/landing/src/main.tsx
  apps/landing/src/pages/docs-page.tsx
  apps/landing/vite.config.ts
Due: tsc-check-landing

fix(auth): add TRUSTED_ORIGINS env var for IPv6 localhost in Docker
  apps/web/src/lib/auth/auth.ts
  docker-compose.yml
Due: tsc-check-web, knip-check-web

docs: add deployment instructions for Vercel and Railway
  CLAUDE.md
Due: none

Revert "docs: add deployment instructions for Vercel and Railway"
  CLAUDE.md
Due: none

fix(docker): add id parameter to BuildKit cache mounts for Railway compatibility
  apps/fhe/Dockerfile
  apps/ocr/Dockerfile
  apps/web/Dockerfile
Due: none

fix(liveness): stabilize callbacks and improve performance
  apps/web/src/app/api/liveness/frame/route.ts
  apps/web/src/components/onboarding/steps/step-selfie.tsx
  apps/web/src/hooks/liveness/use-selfie-liveness-flow.ts
  apps/web/src/hooks/use-liveness-camera.ts
  apps/web/src/lib/liveness/human-server.ts
Due: tsc-check-web, knip-check-web

chore: migrate biome config to 2.x nested structure
  apps/landing/biome.json
  apps/web/biome.json
  biome.json
Due: none

fix(web): stabilize e2e attestation flow
  .vscode/launch.json
  apps/web/bun.lock
  apps/web/e2e/auth.spec.ts
  apps/web/e2e/automation/validate-workflow.spec.ts
  apps/web/e2e/dashboard.spec.ts
  apps/web/e2e/helpers/connect-wallet.ts
  apps/web/e2e/helpers/test-user.ts
  apps/web/e2e/web3-sepolia.spec.ts
  apps/web/e2e/web3-workflow.spec.ts
  apps/web/package.json
  apps/web/scripts/debug-attestation.mjs
  apps/web/src/app/(dashboard)/dashboard/defi-demo/page.tsx
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/components/dashboard/view-identity-data.tsx
  apps/web/src/components/defi-demo/compliance-access-card.tsx
  apps/web/src/components/onboarding/wizard-provider.tsx
  apps/web/src/hooks/fhevm/use-fhe-transfer.ts
  apps/web/src/lib/blockchain/config/networks.ts
  apps/web/src/lib/blockchain/providers/base-provider.ts
  apps/web/src/lib/blockchain/providers/evm-provider.ts
  apps/web/src/lib/blockchain/providers/factory.ts
  apps/web/src/lib/blockchain/providers/fhevm-utils.ts
  apps/web/src/lib/contracts.ts
  apps/web/src/lib/db/db.ts
  apps/web/src/lib/trpc/routers/attestation.ts
  apps/web/src/lib/trpc/routers/token.ts
  apps/web/src/lib/wagmi/config.ts
Due: tsc-check-web, knip-check-web

test(e2e): skip sepolia when unfunded
  AGENTS.md
  CLAUDE.md
  apps/web/e2e/web3-sepolia.spec.ts
Due: tsc-check-web, knip-check-web

feat(web): unify shadcn theming and demo UI
  apps/web/src/app/(auth)/magic-link-sent/page.tsx
  apps/web/src/app/(dashboard)/dashboard/dev/page.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verification/page.tsx
  apps/web/src/app/api/liveness/frame/route.ts
  apps/web/src/app/api/liveness/stream/route.ts
  apps/web/src/app/api/liveness/stream/sse.ts
  apps/web/src/app/demo/exchange/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/app/page.tsx
  apps/web/src/components/auth/password-requirements.tsx
  apps/web/src/components/dashboard/age-proof-demo.tsx
  apps/web/src/components/dashboard/dashboard-tabs.tsx
  apps/web/src/components/dashboard/fhe-verification-demo.tsx
  apps/web/src/components/dashboard/name-verification-demo.tsx
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/components/dashboard/transparency-section.tsx
  apps/web/src/components/dashboard/user-data-section.tsx
  apps/web/src/components/dashboard/verification-actions.tsx
  apps/web/src/components/dashboard/verification-progress.tsx
  apps/web/src/components/dashboard/view-identity-data.tsx
  apps/web/src/components/defi-demo/compliance-access-card.tsx
  apps/web/src/components/defi-demo/defi-demo-client.tsx
  apps/web/src/components/defi-demo/mint-form.tsx
  apps/web/src/components/defi-demo/token-status.tsx
  apps/web/src/components/defi-demo/transfer-form.tsx
  apps/web/src/components/defi-demo/tx-history.tsx
  apps/web/src/components/onboarding/steps/step-id-upload.tsx
  apps/web/src/components/onboarding/steps/step-review-complete.tsx
  apps/web/src/components/onboarding/steps/step-selfie.tsx
  apps/web/src/components/onboarding/wizard-provider.tsx
  apps/web/src/components/onboarding/wizard-stepper.tsx
  apps/web/src/components/onboarding/wizard.tsx
  apps/web/src/components/ui/alert.tsx
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/progress.tsx
  apps/web/src/components/ui/spinner.tsx
Due: tsc-check-web, knip-check-web

fix(web): stabilize kyc, bb-worker, and attestation
  .env.example
  apps/web/Dockerfile
  apps/web/knip.json
  apps/web/scripts/docker-entrypoint.sh
  apps/web/src/app/api/kyc/kyc-db.ts
  apps/web/src/app/api/kyc/kyc-utils.ts
  apps/web/src/app/api/kyc/route.ts
  apps/web/src/app/api/kyc/upload/route.ts
  apps/web/src/lib/blockchain/providers/fhevm-mock-provider.ts
  apps/web/src/lib/blockchain/providers/fhevm-utils.ts
  apps/web/src/lib/blockchain/providers/fhevm-zama-provider.ts
  apps/web/src/lib/crypto/challenge-store.ts
  apps/web/src/lib/db/db.ts
  apps/web/src/lib/db/sqlite.ts
  apps/web/src/lib/utils/error-messages.ts
  apps/web/src/lib/zk/age-proofs.ts
  apps/web/src/lib/zk/bb-worker.mjs
  docker-compose.yml
Due: tsc-check-web, knip-check-web

feat(web): surface compliance access grant tx
  apps/web/next.config.ts
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/components/defi-demo/compliance-access-card.tsx
  apps/web/src/components/defi-demo/defi-demo-client.tsx
  apps/web/src/lib/trpc/routers/token.ts
Due: tsc-check-web, knip-check-web

fix(docker): use Railway service IDs for cache mounts and add runtime env vars
  .gitignore
  apps/fhe/Cargo.lock
  apps/fhe/Dockerfile
  apps/ocr/Dockerfile
  apps/web/Dockerfile
Due: none

fix(web): add euint64 supply cap check and remaining capacity display
  apps/web/src/components/defi-demo/mint-form.tsx
  apps/web/src/lib/trpc/routers/token.ts
Due: tsc-check-web, knip-check-web

fix(web): resolve defi demo compliance access and attestation issues
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/components/defi-demo/compliance-access-card.tsx
  apps/web/src/components/defi-demo/defi-demo-client.tsx
  apps/web/src/lib/trpc/routers/token.ts
  apps/web/src/lib/utils/error-messages.ts
Due: tsc-check-web, knip-check-web

feat(web): restructure dashboard with sidebar navigation
  apps/web/bun.lock
  apps/web/package.json
  apps/web/src/app/(dashboard)/dashboard/attestation/page.tsx
  apps/web/src/app/(dashboard)/dashboard/defi-demo/page.tsx
  apps/web/src/app/(dashboard)/dashboard/dev/exchange/page.tsx
  apps/web/src/app/(dashboard)/dashboard/dev/rp/page.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/components/auth/sign-out-button.tsx
  apps/web/src/components/blockchain/compliance-access-card.tsx
  apps/web/src/components/dashboard/app-sidebar.tsx
  apps/web/src/components/dashboard/dashboard-tabs.tsx
  apps/web/src/components/dashboard/dynamic-breadcrumb.tsx
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/components/defi-demo/defi-demo-client.tsx
  apps/web/src/components/ui/breadcrumb.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/components/ui/sheet.tsx
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/components/ui/skeleton.tsx
  apps/web/src/components/ui/tooltip.tsx
  apps/web/src/hooks/use-mobile.ts
  apps/web/src/lib/feature-flags.ts
  docker-compose.yml
Due: tsc-check-web, knip-check-web

feat(web): dynamic fhevm config selection for mainnet/sepolia
  apps/web/src/app/api/fhevm/diagnostics/route.ts
  apps/web/src/lib/blockchain/providers/fhevm-zama-provider.ts
  apps/web/src/lib/fhevm/providers/zama/relayer.ts
  apps/web/src/types/fhevm-sdk.d.ts
Due: tsc-check-web, knip-check-web

fix(ci): resolve pipeline failures for e2e fixtures, markdown, and commitlint
  .gitignore
  apps/web/e2e/fixtures/auth.fixture.ts
  apps/web/e2e/fixtures/synpress.ts
  commitlint.config.cjs
  docs/web3-architecture.md
Due: tsc-check-web, knip-check-web

fix(ci): resolve commitlint ESM and docker buildx PR issues
  .github/workflows/reusable-build-service.yml
  commitlint.config.mjs
Due: none

fix(ci): use unix timestamp for SOURCE_DATE_EPOCH
  .github/workflows/reusable-build-service.yml
Due: none

fix(ci): disable commitlint subject-case and pass auth secret as build-arg
  .github/workflows/reusable-build-service.yml
  commitlint.config.mjs
Due: none

fix(docker): add default Sepolia fhEVM contract addresses for CI builds
  apps/web/Dockerfile
Due: none

fix(zk): add timeout and diagnostic logging for client-side ZK proof generation
  apps/fhe/railway.toml
  apps/web/Dockerfile
  apps/web/knip.json
  apps/web/railway.toml
  apps/web/scripts/init-db.sql
  apps/web/src/components/onboarding/steps/step-review-complete.tsx
  apps/web/src/lib/zk/noir-prover.worker.ts
  apps/web/src/lib/zk/noir-worker-manager.ts
Due: tsc-check-web, knip-check-web

fix(ci): skip no-commit-to-branch hook in CI workflow
  .github/workflows/code-quality.yml
Due: none

fix(zk): add timeout and diagnostic logging for client-side ZK proof generation (#20)
  .github/workflows/code-quality.yml
  apps/fhe/railway.toml
  apps/web/Dockerfile
  apps/web/knip.json
  apps/web/railway.toml
  apps/web/scripts/init-db.sql
  apps/web/src/components/onboarding/steps/step-review-complete.tsx
  apps/web/src/lib/zk/noir-prover.worker.ts
  apps/web/src/lib/zk/noir-worker-manager.ts
Due: tsc-check-web, knip-check-web

fix(web3): use complete country code mapping for FHE decryption display
  apps/web/src/components/dashboard/view-identity-data.tsx
  apps/web/src/lib/zk/nationality-data.ts
Due: tsc-check-web, knip-check-web

fix(ocr): use COPY instead of unsupported bind mount in Dockerfile
  apps/ocr/Dockerfile
Due: none

feat(zk): enable multi-threaded ZK proofs via coi-serviceworker
  apps/web/.gitignore
  apps/web/Dockerfile
  apps/web/biome.json
  apps/web/knip.json
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/public/coi-serviceworker.js
  apps/web/scripts/setup-coep-assets.mjs
  apps/web/src/app/layout.tsx
  apps/web/src/components/providers/web3-provider.tsx
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/lib/fhevm/providers/zama/relayer.ts
  apps/web/src/lib/zk/noir-prover.worker.ts
  apps/web/src/lib/zk/noir-worker-manager.ts
  docker-compose.yml
Due: tsc-check-web, knip-check-web

fix(web): align turbopack and COOP for e2e
  apps/web/Dockerfile
  apps/web/README.md
  apps/web/biome.json
  apps/web/bun.lock
  apps/web/e2e/automation/build-synpress-cache.js
  apps/web/e2e/automation/start-web3-dev.js
  apps/web/knip.json
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/public/coi-serviceworker.js
  apps/web/scripts/setup-coep-assets.mjs
  apps/web/src/app/layout.tsx
  apps/web/src/hooks/fhevm/use-fhe-encryption.ts
  apps/web/src/lib/zk/noir-prover.worker.ts
  apps/web/vitest.config.mts
  biome.json
Due: tsc-check-web, knip-check-web

chore(web): run scripts with bun
  apps/web/bun.lock
  apps/web/e2e/automation/build-synpress-cache.ts
  apps/web/e2e/automation/start-web3-dev.ts
  apps/web/knip.json
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/scripts/debug-attestation.ts
  apps/web/scripts/noir-print-age-public-inputs.ts
  apps/web/scripts/noir-print-docvalidity-public-inputs.ts
  apps/web/scripts/setup-coep-assets.ts
  apps/web/src/lib/zk/noir-prover.worker.ts
Due: tsc-check-web, knip-check-web

fix(web): downgrade Next.js to 16.0.10 for Bun + Turbopack compatibility
  apps/web/bun.lock
  apps/web/next.config.ts
  apps/web/package.json
Due: tsc-check-web, knip-check-web

docs(rfcs): add framework modernization RFCs
  docs/rfcs/0001-passkey-wrapped-fhe-keys.md
  docs/rfcs/0002-drizzle-orm-migration.md
  docs/rfcs/0003-structured-logging.md
  docs/rfcs/0004-redis-caching-rate-limiting.md
  docs/rfcs/0005-background-jobs.md
  docs/rfcs/0006-observability.md
  docs/rfcs/0007-feature-flags.md
Due: none

feat(landing): refresh copy for new architecture
  apps/landing/README.md
  apps/landing/src/components/landing/features-grid.tsx
  apps/landing/src/components/landing/hero.tsx
  apps/landing/src/components/landing/poc-disclaimer.tsx
  apps/landing/src/components/landing/problem-solution.tsx
  apps/landing/src/components/landing/technical-deep-dive.tsx
  apps/landing/src/components/landing/three-pillars.tsx
  apps/landing/src/components/landing/use-cases.tsx
  apps/landing/src/components/seo/json-ld.tsx
  apps/landing/src/content/docs.ts
Due: tsc-check-landing

Path conditions:
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  cargo-fmt: any of: ^apps/fhe/.*\.rs$
  cargo-clippy: any of: ^apps/fhe/.*\.rs$
