Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc-check-web, tsc-check-landing, knip-check-web, cargo-fmt, cargo-clippy

tsc-check-web:
  name: TypeScript type-check (web)
  entry: bash -c 'cd apps/web && bun run tsc --noEmit'
  language: system
  pass_filenames: false

tsc-check-landing:
  name: TypeScript type-check (landing)
  entry: bash -c 'cd apps/landing && bun run tsc -b'
  language: system
  pass_filenames: false

knip-check-web:
  name: Knip dead code check (web)
  entry: bash -c 'cd apps/web && bun run knip'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path apps/fhe/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --manifest-path apps/fhe/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

feat(zk): add noir profiling tools and optimize proving pipeline
  .gitignore
  apps/web/package.json
  apps/web/scripts/noir-profile.ts
  apps/web/scripts/setup-coep-assets.ts
  apps/web/src/components/onboarding/steps/step-create-account.tsx
  apps/web/src/hooks/fhevm/use-fhe-decrypt.ts
  apps/web/src/lib/trpc/routers/crypto.ts
  apps/web/src/lib/zk/bb-worker.mjs
  apps/web/src/lib/zk/noir-prover.worker.ts
  apps/web/src/lib/zk/noir-verifier.ts
  docs/noir-profiling.md
Due: tsc-check-web, knip-check-web

feat(web): async FHE encryption + secret blob storage
  .env.example
  .gitignore
  apps/web/src/app/api/secrets/blob/route.ts
  apps/web/src/lib/crypto/__tests__/crypto-client-fhe.test.ts
  apps/web/src/lib/crypto/__tests__/fhe-key-store.test.ts
  apps/web/src/lib/crypto/crypto-client.ts
  apps/web/src/lib/crypto/fhe-client.ts
  apps/web/src/lib/crypto/fhe-encryption.ts
  apps/web/src/lib/crypto/fhe-key-store.ts
  apps/web/src/lib/crypto/secret-blob-store.ts
  apps/web/src/lib/db/migrations/0006_secret_blob_refs.sql
  apps/web/src/lib/db/migrations/meta/_journal.json
  apps/web/src/lib/db/queries/__tests__/identity.test.ts
  apps/web/src/lib/db/queries/crypto.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/db/schema/crypto.ts
  apps/web/src/lib/trpc/routers/__tests__/identity-verify-fhe.test.ts
  apps/web/src/lib/trpc/routers/crypto.ts
  apps/web/src/lib/trpc/routers/identity.ts
  apps/web/src/lib/trpc/routers/secrets.ts
  docker-compose.yml
Due: tsc-check-web, knip-check-web

fix(web): dedupe FHE registration and stabilize tests
  apps/web/next.config.ts
  apps/web/src/app/api/log-client-error/__tests__/route.test.ts
  apps/web/src/lib/crypto/__tests__/crypto-client-fhe.test.ts
  apps/web/src/lib/crypto/crypto-client.ts
  apps/web/src/lib/db/connection.ts
  apps/web/src/lib/document/__tests__/ocr-client-logging.test.ts
  apps/web/src/lib/fhevm/providers/zama/relayer.ts
  apps/web/src/lib/trpc/routers/__tests__/attestation.test.ts
  apps/web/src/lib/trpc/routers/__tests__/identity-process-document.test.ts
  apps/web/src/lib/trpc/routers/attestation.ts
  apps/web/src/lib/trpc/routers/identity.ts
  apps/web/src/lib/zk/bb-worker.mjs
Due: tsc-check-web, knip-check-web

fix(web): make ZK verifier warmup resilient
  apps/web/src/lib/zk/noir-verifier.ts
Due: tsc-check-web, knip-check-web

chore(landing): format sidebar helpers
  apps/landing/src/components/ui/sidebar.tsx
Due: tsc-check-landing

chore: format configs and scripts
  .markdownlint.json
  biome.json
  scripts/synthetic-onboarding.ts
Due: none

refactor(web): move to drizzle push-only schema
  .gitignore
  AGENTS.md
  CLAUDE.md
  apps/web/.dockerignore
  apps/web/Dockerfile
  apps/web/README.md
  apps/web/bun.lock
  apps/web/drizzle.config.ts
  apps/web/e2e/global-setup.ts
  apps/web/package.json
  apps/web/railway.toml
  apps/web/scripts/docker-entrypoint.sh
  apps/web/scripts/init-db.sql
  apps/web/src/lib/db/__tests__/connection.test.ts
  apps/web/src/lib/db/connection.ts
  apps/web/src/lib/db/migrations/0000_modern_hellion.sql
  apps/web/src/lib/db/migrations/0001_passkey_secrets.sql
  apps/web/src/lib/db/migrations/0002_identity_async_verification.sql
  apps/web/src/lib/db/migrations/0003_identity_drafts_jobs_patch.sql
  apps/web/src/lib/db/migrations/0004_passkey_credentials.sql
  apps/web/src/lib/db/migrations/0005_onboarding_session_by_id.sql
  apps/web/src/lib/db/migrations/0006_secret_blob_refs.sql
  apps/web/src/lib/db/migrations/meta/0000_snapshot.json
  apps/web/src/lib/db/migrations/meta/_journal.json
  apps/web/src/lib/db/schema/index.ts
  docker-compose.yml
  docs/rfcs/0001-passkey-wrapped-fhe-keys.md
  docs/rfcs/0002-drizzle-orm-migration.md
  docs/rfcs/0008-better-auth-passkey-prf-proposal.md
Due: tsc-check-web, knip-check-web

fix: clean linting and CI checks
  .pre-commit-config.yaml
  apps/fhe/src/main.rs
  apps/landing/biome.json
  apps/web/src/components/onboarding/wizard-stepper.tsx
  apps/web/src/hooks/fhevm/__tests__/use-fhe-decrypt.test.tsx
  apps/web/src/hooks/fhevm/use-fhevm-sdk.ts
  apps/web/src/hooks/liveness/use-selfie-liveness-flow.ts
  apps/web/src/lib/__tests__/nationality-merkle.test.ts
  apps/web/src/lib/logging/logger.ts
  apps/web/src/lib/trpc/routers/__tests__/passkey-auth.test.ts
  apps/web/src/lib/zk/nationality-merkle.ts
Due: tsc-check-web, knip-check-web, cargo-fmt, cargo-clippy

fix(web): improve vitest config and fix webauthn-prf test mocks
  apps/web/src/lib/crypto/__tests__/webauthn-prf.test.ts
  apps/web/src/lib/db/connection.ts
  apps/web/vitest.config.mts
  apps/web/vitest.global-setup.ts
  apps/web/vitest.setup.mts
Due: tsc-check-web, knip-check-web

fix(web): stabilize passkey registration and FHE status
  apps/web/bun.lock
  apps/web/package.json
  apps/web/src/app/api/secrets/blob/route.ts
  apps/web/src/components/dashboard/verification-progress.tsx
  apps/web/src/components/onboarding/steps/step-create-account.tsx
  apps/web/src/lib/auth/passkey-auth.ts
  apps/web/src/lib/auth/registration-token.ts
  apps/web/src/lib/crypto/crypto-client.ts
  apps/web/src/lib/crypto/fhe-key-store.ts
  apps/web/src/lib/crypto/tfhe-browser.ts
  apps/web/src/lib/trpc/routers/__tests__/passkey-auth.test.ts
  apps/web/src/lib/trpc/routers/passkey-auth.ts
Due: tsc-check-web, knip-check-web

style(landing): satisfy biome lint rules
  apps/landing/src/App.tsx
  apps/landing/src/components/docs/docs-layout.tsx
  apps/landing/src/components/docs/markdown-renderer.tsx
  apps/landing/src/components/docs/mermaid-block.tsx
  apps/landing/src/components/example.tsx
  apps/landing/src/components/landing/cta-section.tsx
  apps/landing/src/components/landing/features-grid.tsx
  apps/landing/src/components/landing/footer.tsx
  apps/landing/src/components/landing/hero.tsx
  apps/landing/src/components/landing/mid-page-cta.tsx
  apps/landing/src/components/landing/nav.tsx
  apps/landing/src/components/landing/poc-disclaimer.tsx
  apps/landing/src/components/landing/problem-solution.tsx
  apps/landing/src/components/landing/technical-deep-dive.tsx
  apps/landing/src/components/landing/three-pillars.tsx
  apps/landing/src/components/landing/use-cases.tsx
  apps/landing/src/components/logo.tsx
  apps/landing/src/components/ui/alert-dialog.tsx
  apps/landing/src/components/ui/breadcrumb.tsx
  apps/landing/src/components/ui/card.tsx
  apps/landing/src/components/ui/combobox.tsx
  apps/landing/src/components/ui/dropdown-menu.tsx
  apps/landing/src/components/ui/field.tsx
  apps/landing/src/components/ui/input-group.tsx
  apps/landing/src/components/ui/input.tsx
  apps/landing/src/components/ui/label.tsx
  apps/landing/src/components/ui/scroll-area.tsx
  apps/landing/src/components/ui/select.tsx
  apps/landing/src/components/ui/separator.tsx
  apps/landing/src/components/ui/sheet.tsx
  apps/landing/src/components/ui/sidebar.tsx
  apps/landing/src/components/ui/skeleton.tsx
  apps/landing/src/components/ui/tabs.tsx
  apps/landing/src/components/ui/textarea.tsx
  apps/landing/src/components/ui/tooltip.tsx
  apps/landing/src/pages/docs-page.tsx
Due: tsc-check-landing

docs(landing): refresh privacy messaging
  apps/landing/src/components/landing/features-grid.tsx
  apps/landing/src/components/landing/hero.tsx
  apps/landing/src/components/landing/poc-disclaimer.tsx
  apps/landing/src/components/landing/problem-solution.tsx
  apps/landing/src/components/landing/technical-deep-dive.tsx
  apps/landing/src/components/landing/three-pillars.tsx
  apps/landing/src/components/landing/use-cases.tsx
Due: tsc-check-landing

docs: refresh architecture and security docs
  CLAUDE.md
  apps/web/README.md
  docs/architecture.md
  docs/attestation-privacy-architecture.md
  docs/password-security.md
  docs/rp-redirect-flow.md
  docs/tamper-model.md
  docs/web2-to-web3-transition.md
  docs/web3-architecture.md
  docs/zk-architecture.md
  docs/zk-nationality-proofs.md
Due: none

fix(disclosure): return faceMatchProof in payload
  apps/web/src/app/api/identity/disclosure/route.ts
Due: tsc-check-web, knip-check-web

refactor(web): stream dashboard sections and optimize perf
  apps/ocr/requirements.lock
  apps/web/src/app/(dashboard)/dashboard/_components/verification-status-card.tsx
  apps/web/src/app/(dashboard)/dashboard/_components/verification-status-skeleton.tsx
  apps/web/src/app/(dashboard)/dashboard/attestation/_components/off-chain-attestation-card.tsx
  apps/web/src/app/(dashboard)/dashboard/attestation/_components/off-chain-attestation-skeleton.tsx
  apps/web/src/app/(dashboard)/dashboard/attestation/loading.tsx
  apps/web/src/app/(dashboard)/dashboard/attestation/page.tsx
  apps/web/src/app/(dashboard)/dashboard/defi-demo/page.tsx
  apps/web/src/app/(dashboard)/dashboard/dev/page.tsx
  apps/web/src/app/(dashboard)/dashboard/loading.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/dashboard/settings/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verification/_components/verification-content.tsx
  apps/web/src/app/(dashboard)/dashboard/verification/_components/verification-skeleton.tsx
  apps/web/src/app/(dashboard)/dashboard/verification/page.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/dashboard/app-sidebar.tsx
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/components/dashboard/passkey-management-section.tsx
  apps/web/src/components/dashboard/profile-greeting.tsx
  apps/web/src/components/dashboard/settings-tabs.tsx
  apps/web/src/components/dashboard/transparency-section.tsx
  apps/web/src/components/dashboard/user-data-section.tsx
  apps/web/src/components/dashboard/verification-progress.tsx
  apps/web/src/components/providers/passkey-auth-provider.tsx
  apps/web/src/lib/constants/verification-labels.ts
  apps/web/src/lib/crypto/profile-secret.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/trpc/routers/identity.ts
  apps/web/src/lib/trpc/server.ts
  docs/rfcs/0013-verification-ux-evidence-bundle.md
Due: tsc-check-web, knip-check-web

refactor(ui): adopt shadcn component patterns across dashboard
  apps/web/bun.lock
  apps/web/package.json
  apps/web/src/app/(dashboard)/dashboard/dev/page.tsx
  apps/web/src/app/(dashboard)/dashboard/settings/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verification/_components/verification-content.tsx
  apps/web/src/app/not-found.tsx
  apps/web/src/components/auth/oauth-buttons.tsx
  apps/web/src/components/auth/passkey-sign-in-form.tsx
  apps/web/src/components/dashboard/auth-methods-section.tsx
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/components/dashboard/passkey-management-section.tsx
  apps/web/src/components/dashboard/settings-tabs.tsx
  apps/web/src/components/dashboard/user-data-section.tsx
  apps/web/src/components/dashboard/verification-actions.tsx
  apps/web/src/components/defi-demo/defi-demo-client.tsx
  apps/web/src/components/defi-demo/token-status.tsx
  apps/web/src/components/defi-demo/tx-history.tsx
  apps/web/src/components/onboarding/steps/step-create-account.tsx
  apps/web/src/components/ui/empty.tsx
  apps/web/src/components/ui/item.tsx
Due: tsc-check-web, knip-check-web

feat(web): add binary transport for FHE
  apps/web/.husky/pre-commit
  apps/web/src/app/api/fhe/keys/register/__tests__/route.test.ts
  apps/web/src/app/api/fhe/verify-age/__tests__/route.test.ts
  apps/web/src/lib/crypto/__tests__/crypto-client-fhe.test.ts
  apps/web/src/lib/crypto/binary-transport.ts
  apps/web/src/lib/crypto/crypto-client.ts
  apps/web/src/lib/crypto/secret-blob-client.ts
Due: tsc-check-web, knip-check-web

fix(auth): isolate user caches on shared browsers
  apps/web/src/components/auth/passkey-sign-in-form.tsx
  apps/web/src/components/auth/sign-in-form.tsx
  apps/web/src/components/dashboard/app-sidebar.tsx
  apps/web/src/components/providers/passkey-auth-provider.tsx
  apps/web/src/lib/auth/passkey-auth.ts
  apps/web/src/lib/auth/session-manager.ts
  apps/web/src/lib/crypto/__tests__/fhe-key-store.test.ts
  apps/web/src/lib/crypto/fhe-key-store.ts
  apps/web/src/lib/crypto/profile-secret.ts
  apps/web/src/lib/observability/flow-client.ts
Due: tsc-check-web, knip-check-web

feat(web): add secret vault and envelope formats
  apps/web/src/components/onboarding/steps/step-create-account.tsx
  apps/web/src/lib/crypto/__tests__/passkey-vault.test.ts
  apps/web/src/lib/crypto/crypto-client.ts
  apps/web/src/lib/crypto/fhe-key-store.ts
  apps/web/src/lib/crypto/passkey-vault.ts
  apps/web/src/lib/crypto/profile-secret.ts
  apps/web/src/lib/crypto/secret-blob-client.ts
  apps/web/src/lib/crypto/secret-vault.ts
  apps/web/src/lib/crypto/tfhe-browser.ts
  apps/web/src/lib/trpc/routers/__tests__/passkey-auth.test.ts
  apps/web/src/lib/trpc/routers/passkey-auth.ts
Due: tsc-check-web, knip-check-web

feat(web): refine onboarding key setup status
  apps/web/src/components/onboarding/steps/step-create-account.tsx
  apps/web/src/lib/crypto/crypto-client.ts
Due: tsc-check-web, knip-check-web

feat(zk): harden noir/bb verification and metadata
  apps/web/biome.json
  apps/web/bun.lock
  apps/web/noir-circuits/age_verification/artifacts/age_verification.json
  apps/web/noir-circuits/doc_validity/artifacts/doc_validity.json
  apps/web/noir-circuits/face_match/artifacts/face_match.json
  apps/web/noir-circuits/nationality_membership/artifacts/nationality_membership.json
  apps/web/package.json
  apps/web/scripts/check-noir-versions.ts
  apps/web/src/app/demo/exchange/page.tsx
  apps/web/src/components/onboarding/steps/step-create-account.tsx
  apps/web/src/instrumentation.ts
  apps/web/src/lib/crypto/age-proof-types.ts
  apps/web/src/lib/db/queries/crypto.ts
  apps/web/src/lib/db/schema/crypto.ts
  apps/web/src/lib/trpc/routers/crypto.ts
  apps/web/src/lib/zk/asset-integrity.ts
  apps/web/src/lib/zk/bb-worker.mjs
  apps/web/src/lib/zk/noir-prover.worker.ts
  apps/web/src/lib/zk/noir-verifier.ts
  apps/web/src/lib/zk/noir-version-check.ts
  apps/web/src/lib/zk/noir-worker-manager.ts
  biome.json
Due: tsc-check-web, knip-check-web

docs: refresh project guide and ADRs
  README.md
  docs/adr/README.md
  docs/adr/fhe/0001-fhevm-onchain-attestations.md
  docs/adr/fhe/0002-split-encryption-and-computation.md
  docs/adr/fhe/0003-passkey-wrapped-fhe-keys.md
  docs/adr/fhe/0004-dedicated-fhe-service-binary-transport.md
  docs/adr/privacy/0001-passkey-first-auth-prf-custody.md
  docs/adr/privacy/0002-encrypted-secret-blob-storage.md
  docs/adr/privacy/0003-passkey-sealed-profile.md
  docs/adr/privacy/0004-consent-based-disclosure.md
  docs/adr/privacy/0005-hash-only-claims-and-audit-hashes.md
  docs/adr/privacy/0006-explicit-decrypt-gesture.md
  docs/adr/privacy/0007-secret-vault-envelope-formats.md
  docs/adr/template.md
  docs/adr/zk/0001-client-side-zk-proving.md
  docs/adr/zk/0002-coep-coop-coi-multithreaded-proving.md
  docs/adr/zk/0003-dual-vkey-hashes.md
  docs/adr/zk/0004-vkey-derived-public-input-count.md
  docs/adr/zk/0005-ultrahonkverifierbackend-server-verify.md
  docs/adr/zk/0006-zk-asset-integrity-and-version-guards.md
  docs/adr/zk/0007-noir-worker-pool.md
  docs/architecture.md
  docs/attestation-privacy-architecture.md
  docs/tamper-model.md
  docs/web2-to-web3-transition.md
  docs/web3-architecture.md
  docs/zk-architecture.md
  docs/zk-nationality-proofs.md
Due: none

feat(landing): standardize UI components and improve design system
  apps/landing/AGENTS.md
  apps/landing/README.md
  apps/landing/src/App.tsx
  apps/landing/src/components/docs/markdown-renderer.tsx
  apps/landing/src/components/landing/cta-section.tsx
  apps/landing/src/components/landing/features-grid.tsx
  apps/landing/src/components/landing/footer.tsx
  apps/landing/src/components/landing/four-pillars.tsx
  apps/landing/src/components/landing/hero.tsx
  apps/landing/src/components/landing/index.ts
  apps/landing/src/components/landing/mid-page-cta.tsx
  apps/landing/src/components/landing/nav.tsx
  apps/landing/src/components/landing/poc-disclaimer.tsx
  apps/landing/src/components/landing/problem-solution.tsx
  apps/landing/src/components/landing/technical-deep-dive.tsx
  apps/landing/src/components/landing/three-pillars.tsx
  apps/landing/src/components/landing/use-cases.tsx
  apps/landing/src/components/seo/json-ld.tsx
  apps/landing/src/components/ui/alert.tsx
  apps/landing/src/components/ui/button.tsx
  apps/landing/src/components/ui/colored-icon-box.tsx
  apps/landing/src/components/ui/tabs.tsx
  apps/landing/src/content/docs.ts
  apps/landing/src/index.css
  apps/landing/src/lib/colors.ts
Due: tsc-check-landing

docs: overhaul architecture docs and navigation
  CLAUDE.md
  README.md
  apps/fhe/README.md
  apps/landing/src/content/docs.ts
  apps/ocr/README.md
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  docs/architecture.md
  docs/attestation-privacy-architecture.md
  docs/blockchain-setup.md
  docs/cryptographic-pillars.md
  docs/noir-profiling.md
  docs/password-security.md
  docs/rp-redirect-flow.md
  docs/tamper-model.md
  docs/verification.md
  docs/web2-to-web3-transition.md
  docs/web3-architecture.md
  docs/zk-architecture.md
  docs/zk-nationality-proofs.md
Due: tsc-check-web, tsc-check-landing, knip-check-web

ci: align rust toolchain and stabilize landing lint
  .github/workflows/code-quality.yml
Due: none

docs(rfcs): add FROST threshold signature RFCs
  docs/rfcs/0014-frost-social-recovery.md
  docs/rfcs/0015-frost-threshold-registrar.md
Due: none

fix(web): resolve vitest test hanging and OOM issues
  apps/web/package.json
  apps/web/vitest.config.mts
  apps/web/vitest.global-setup.ts
  apps/web/vitest.setup.mts
Due: tsc-check-web, knip-check-web

refactor(web): streamline passkey unlock flow
  apps/web/src/app/(auth)/recover-passkey/page.tsx
  apps/web/src/components/auth/__tests__/passkey-sign-in-form.integration.test.tsx
  apps/web/src/components/auth/passkey-sign-in-form.tsx
  apps/web/src/components/dashboard/__tests__/passkey-management-section.integration.test.tsx
  apps/web/src/components/dashboard/passkey-management-section.tsx
  apps/web/src/components/dashboard/profile-greeting.tsx
  apps/web/src/components/dashboard/user-data-section.tsx
  apps/web/src/components/onboarding/steps/step-create-account.tsx
  apps/web/src/components/providers/passkey-auth-provider.tsx
  apps/web/src/lib/auth/__tests__/passkey.test.ts
  apps/web/src/lib/auth/passkey.ts
  apps/web/src/lib/auth/session-manager.ts
  apps/web/src/lib/crypto/secret-vault.ts
  docs/adr/privacy/0009-passkey-unlock-cache-ux.md
  docs/better-auth-gap-analysis.md
Due: tsc-check-web, knip-check-web

fix(web): prevent onboarding stepper flash
  apps/web/src/components/onboarding/steps/step-create-account.tsx
  apps/web/src/components/onboarding/wizard-provider.tsx
Due: tsc-check-web, knip-check-web

docs(rfcs): add Bun migration and OIDC4VC, and update FROST
  docs/adr/platform/0001-bun-to-node-migration.md
  docs/rfcs/0014-frost-social-recovery.md
  docs/rfcs/0016-oidc-vc-issuance-and-presentation.md
Due: none

chore(ocr): update requirements.lock (anyio, urllib3)
  apps/ocr/requirements.lock
Due: none

Path conditions:
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  cargo-fmt: any of: ^apps/fhe/.*\.rs$
  cargo-clippy: any of: ^apps/fhe/.*\.rs$
