Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web, ocr-requirements-lock, cargo-fmt-fhe, cargo-clippy-fhe, cargo-fmt-signer, cargo-clippy-signer

biome-check-web:
  name: biome-check (web)
  entry: bash -c 'cd apps/web && pnpm run lint:fix'
  language: system
  pass_filenames: false

biome-check-landing:
  name: biome-check (landing)
  entry: bash -c 'cd apps/landing && pnpm run lint:fix'
  language: system
  pass_filenames: false

tsc-check-web:
  name: TypeScript type-check (web)
  entry: bash -c 'cd apps/web && pnpm run type-check'
  language: system
  pass_filenames: false

tsc-check-landing:
  name: TypeScript type-check (landing)
  entry: bash -c 'cd apps/landing && pnpm run type-check'
  language: system
  pass_filenames: false

knip-check-web:
  name: Knip dead code check (web)
  entry: bash -c 'cd apps/web && pnpm run knip'
  language: system
  pass_filenames: false

ocr-requirements-lock:
  name: pip-compile lock (ocr)
  entry: bash scripts/check-ocr-requirements-lock.sh
  language: python
  additional_dependencies:
  - pip-tools
  pass_filenames: false

cargo-fmt-fhe:
  name: cargo fmt (fhe)
  entry: cargo fmt --manifest-path apps/fhe/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy-fhe:
  name: cargo clippy (fhe)
  entry: cargo clippy --manifest-path apps/fhe/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

cargo-fmt-signer:
  name: cargo fmt (signer)
  entry: cargo fmt --manifest-path apps/signer/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy-signer:
  name: cargo clippy (signer)
  entry: cargo clippy --manifest-path apps/signer/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

fix(web): update stale wallet dcr import
  apps/web/server.mjs
Due: none

fix(web,docs): drop purchase-authorization URN; enforce JWT typ on agent attestations
  .gitignore
  apps/web/src/app/.well-known/agent-configuration/route.ts
  apps/web/src/app/api/auth/agent/register/route.ts
  apps/web/src/lib/agents/host-attestation.ts
  apps/web/src/lib/auth/__tests__/token-exchange.integration.test.ts
  apps/web/src/lib/auth/oidc/token-exchange.ts
  docs/(architecture)/agent-architecture.md
  docs/(specs)/pact-v0.1-draft.md
  docs/(specs)/veil-v0.1-draft.md
  docs/.gitignore
Due: biome-check-web, tsc-check-web, knip-check-web

chore(docs): remove prd-24-cross-channel-revocation-sync.md from tracking
  docs/plans/prd-24-cross-channel-revocation-sync.md
Due: none

fix(demo-rp): reject VP tokens with missing or empty KB-JWT
  apps/demo-rp/src/lib/verify.test.ts
  apps/demo-rp/src/lib/verify.ts
Due: none

fix(docs): add frontmatter title to bbs-credentials so fumadocs-mdx build passes
  docs/(protocols)/bbs-credentials.md
Due: none

fix(security): harden oauth token and poh handling
  apps/demo-rp/src/app/api/auth/backchannel-logout/route.test.ts
  apps/demo-rp/src/app/api/auth/backchannel-logout/route.ts
  apps/demo-rp/src/lib/auth.test.ts
  apps/demo-rp/src/lib/auth.ts
  apps/web/src/app/.well-known/proof-of-human/route.test.ts
  apps/web/src/app/api/auth/oauth2/proof-of-human/route.test.ts
  apps/web/src/app/api/auth/oauth2/proof-of-human/route.ts
  apps/web/src/lib/async-handler.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(landing): generate MCP tool manifest from source
  apps/landing/app/lib/mcp-tool-manifest.generated.ts
  apps/landing/app/routes/agents.tsx
  apps/landing/package.json
  apps/landing/scripts/mcp-tool-manifest.js
  apps/landing/scripts/mcp-tool-manifest.test.ts
  apps/landing/scripts/sync-mcp-tool-manifest.js
Due: biome-check-landing, tsc-check-landing

feat(web): add attestation purpose picker
  apps/web/src/app/dashboard/(web3)/attestation/_components/compliance-access-card.test.tsx
  apps/web/src/app/dashboard/(web3)/attestation/_components/compliance-access-card.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): persist attestation consent receipts
  apps/web/src/app/dashboard/(web3)/attestation/_components/on-chain-attestation.tsx
  apps/web/src/lib/db/queries/attestation.ts
  apps/web/src/lib/trpc/routers/__tests__/attestation.test.ts
  apps/web/src/lib/trpc/routers/attestation.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): harden pairwise unlinkability
  apps/web/src/lib/agents/__tests__/actor-subject.test.ts
  apps/web/src/lib/agents/actor-subject.ts
  apps/web/src/lib/agents/management.ts
  apps/web/src/lib/auth/__tests__/sybil-nullifier.integration.test.ts
  apps/web/src/lib/auth/auth-config.ts
  apps/web/src/lib/auth/oidc/__tests__/pairwise.integration.test.ts
  apps/web/src/lib/auth/oidc/pairwise-subject-index.ts
  apps/web/src/lib/auth/oidc/pairwise.ts
  apps/web/src/lib/db/queries/__tests__/revocation.integration.test.ts
  apps/web/src/lib/db/queries/auth.ts
  apps/web/src/lib/db/schema/oauth-provider.ts
  apps/web/src/lib/identity/verification/__tests__/dedup.test.ts
  apps/web/src/lib/identity/verification/dedup.ts
  apps/web/src/test-utils/claims-test-utils.ts
  apps/web/src/test-utils/db-test-utils.ts
  docs/(architecture)/ssi-architecture.md
  docs/(protocols)/disclosure-profile.md
  docs/(protocols)/zk-architecture.md
  docs/(specs)/veil-v0.1-draft.md
  docs/adr/privacy/0015-disclosure-surface-assignment.md
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): polyfill AsyncLocalStorage for custom server
  apps/web/server.mjs
  apps/web/src/instrumentation.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): prefer cryptographic ground truth over client claims
  apps/web/src/app/api/auth/oauth2/proof-of-human/route.test.ts
  apps/web/src/app/api/auth/oauth2/proof-of-human/route.ts
  apps/web/src/app/dashboard/(web3)/attestation/_components/on-chain-attestation.tsx
  apps/web/src/lib/agents/actor-subject.ts
  apps/web/src/lib/auth/__tests__/end-session.integration.test.ts
  apps/web/src/lib/auth/__tests__/token-exchange.integration.test.ts
  apps/web/src/lib/auth/oidc/__tests__/pairwise.integration.test.ts
  apps/web/src/lib/auth/oidc/pairwise-subject-index.ts
  apps/web/src/lib/auth/oidc/pairwise.ts
  apps/web/src/lib/blockchain/attestation/providers.ts
  apps/web/src/lib/db/queries/attestation.ts
  apps/web/src/lib/trpc/routers/__tests__/attestation.test.ts
  apps/web/src/lib/trpc/routers/attestation.ts
Due: biome-check-web, tsc-check-web, knip-check-web

chore(deps): resolve dependabot advisories across the monorepo
  apps/demo-rp/package.json
  apps/demo-rp/pnpm-lock.yaml
  apps/fhe/Cargo.lock
  apps/landing/package.json
  apps/landing/pnpm-lock.yaml
  apps/mcp/package.json
  apps/mcp/pnpm-lock.yaml
  apps/ocr/pyproject.toml
  apps/signer/Cargo.lock
  apps/web/package.json
  apps/web/pnpm-lock.yaml
Due: biome-check-web, biome-check-landing, ocr-requirements-lock

fix: apps/web/package.json to reduce vulnerabilities
  apps/web/package.json
Due: biome-check-web

feat(oauth): integrate demo-rp validity notices
  apps/demo-rp/src/app/aid/page.tsx
  apps/demo-rp/src/app/api/auth/validity-state/route.test.ts
  apps/demo-rp/src/app/api/auth/validity-state/route.ts
  apps/demo-rp/src/app/bank/page.tsx
  apps/demo-rp/src/app/exchange/page.tsx
  apps/demo-rp/src/app/wine/page.tsx
  apps/demo-rp/src/components/shared/provider-validity-card.tsx
  apps/demo-rp/src/lib/auth.test.ts
  apps/demo-rp/src/lib/validity.ts
  apps/web/package.json
  apps/web/scripts/demo-rp-validity-smoke.ts
  apps/web/src/app/api/auth/[...all]/route.ts
  apps/web/src/app/api/auth/oauth2/register/route.integration.test.ts
  apps/web/src/app/api/auth/oauth2/register/route.ts
  apps/web/src/app/api/auth/oauth2/token/route.test.ts
  apps/web/src/app/api/auth/oauth2/token/route.ts
  apps/web/src/app/api/internal/validity/chain/route.ts
  apps/web/src/app/api/internal/validity/deliver/route.ts
  apps/web/src/app/api/internal/validity/freshness/route.ts
  apps/web/src/lib/auth/auth-config.ts
  apps/web/src/lib/auth/oidc/dcr-client-extensions.ts
  apps/web/src/lib/auth/oidc/haip/oauth-response.ts
  apps/web/src/lib/http/admin-auth.ts
Due: biome-check-web, tsc-check-web, knip-check-web

test(validity): harden delivery coverage and architecture notes
  apps/web/src/lib/db/queries/__tests__/revocation.integration.test.ts
  docs/adr/platform/0006-account-scoped-identity-snapshot-and-validity-pipeline.md
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): scope sybil nullifiers per relying party
  CLAUDE.md
  apps/web/scripts/demo-rp-validity-smoke.ts
  apps/web/src/app/dashboard/verify/_components/passport-chip/zkpassport-flow.tsx
  apps/web/src/lib/auth/__tests__/sybil-nullifier.integration.test.ts
  apps/web/src/lib/auth/auth-config.ts
  apps/web/src/lib/auth/oidc/sybil.ts
  apps/web/src/lib/db/__tests__/db.integration.test.ts
  apps/web/src/lib/db/queries/__tests__/identity.integration.test.ts
  apps/web/src/lib/db/queries/__tests__/revocation.integration.test.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/db/schema/identity.ts
  apps/web/src/lib/identity/document/process.ts
  apps/web/src/lib/identity/validity/chain-ingest.ts
  apps/web/src/lib/identity/verification/__tests__/compliance.test.ts
  apps/web/src/lib/identity/verification/__tests__/read-model.integration.test.ts
  apps/web/src/lib/identity/verification/dedup.ts
  apps/web/src/lib/identity/verification/materialize.ts
  apps/web/src/lib/privacy/zk/zkpassport-verifier.ts
  apps/web/src/lib/trpc/routers/__tests__/passport-chip.test.ts
  apps/web/src/lib/trpc/routers/identity.ts
  apps/web/src/lib/trpc/routers/passport-chip.ts
  apps/web/src/test-utils/claims-test-utils.ts
  docs/(architecture)/attestation-privacy-architecture.md
  docs/(architecture)/ssi-architecture.md
  docs/(architecture)/tamper-model.md
  docs/(concepts)/architecture.md
  docs/(protocols)/disclosure-profile.md
  docs/(protocols)/oauth-integrations.md
  docs/(protocols)/zk-architecture.md
  docs/(protocols)/zk-nationality-proofs.md
  docs/(specs)/veil-v0.1-draft.md
  docs/adr/platform/0006-account-scoped-identity-snapshot-and-validity-pipeline.md
  docs/adr/privacy/0015-disclosure-surface-assignment.md
Due: biome-check-web, tsc-check-web, knip-check-web

chore: gitignore nested node_modules
  .gitignore
Due: none

fix(lint): clear pre-existing complexity, useAwait, and formatting findings
  apps/demo-rp/src/app/api/auth/backchannel-logout/route.test.ts
  apps/demo-rp/src/app/api/auth/backchannel-logout/route.ts
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/app/api/x402/access/route.ts
  apps/demo-rp/src/components/aether/agent-chat.tsx
  apps/demo-rp/src/components/shared/provider-validity-card.tsx
  apps/demo-rp/src/components/x402/json-block.tsx
  apps/demo-rp/src/components/x402/solidity-panel.tsx
  apps/demo-rp/src/hooks/use-x402-flow.ts
  apps/demo-rp/src/lib/auth.test.ts
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/src/lib/dpop.ts
  apps/demo-rp/src/lib/validity.ts
  apps/demo-rp/src/lib/verify.test.ts
  apps/mcp/__tests__/auth/discovery.test.ts
  apps/mcp/__tests__/auth/interactive-tool-flow.test.ts
  apps/mcp/__tests__/tools/my-proofs.test.ts
  apps/mcp/__tests__/tools/whoami.test.ts
  apps/mcp/scripts/e2e-smoke.ts
  apps/mcp/src/auth/fpa.ts
  apps/mcp/src/auth/interactive-tool-flow.ts
  apps/mcp/src/auth/profile-fields.ts
  apps/mcp/src/server/index.ts
  apps/mcp/src/services/account-summary.ts
  apps/mcp/src/services/profile-read.ts
  apps/mcp/src/tools/check-compliance.ts
  apps/mcp/src/tools/my-profile.ts
  apps/mcp/src/tools/my-proofs.ts
  apps/mcp/src/tools/purchase.ts
Due: none

fix(agents): enforce delegation depth and stabilize e2e rollout
  apps/demo-rp/package.json
  apps/landing/package.json
  apps/mcp/package.json
  apps/web/e2e/global-setup.ts
  apps/web/package.json
  apps/web/src/app/(auth)/sign-up/_components/sign-up-form.tsx
  apps/web/src/lib/agents/claims.ts
  apps/web/src/lib/auth/__tests__/token-exchange.integration.test.ts
  apps/web/src/lib/auth/oidc/token-exchange.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check-web, biome-check-landing, tsc-check-web, knip-check-web

feat(sdk): add relying-party helpers and migrate demo rp
  apps/demo-rp/src/app/api/auth/backchannel-logout/route.test.ts
  apps/demo-rp/src/app/api/auth/backchannel-logout/route.ts
  apps/demo-rp/src/app/api/auth/validity/route.test.ts
  apps/demo-rp/src/app/api/auth/validity/route.ts
  apps/demo-rp/src/app/api/ciba/route.ts
  apps/demo-rp/src/app/api/veripass/issue/route.ts
  apps/demo-rp/src/app/api/x402/access/route.test.ts
  apps/demo-rp/src/app/api/x402/access/route.ts
  apps/demo-rp/src/data/x402.ts
  apps/demo-rp/src/lib/agent-runtime.test.ts
  apps/demo-rp/src/lib/agent-runtime.ts
  apps/demo-rp/src/lib/auth.test.ts
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/src/lib/dpop.test.ts
  apps/demo-rp/src/lib/dpop.ts
  apps/demo-rp/src/lib/poh-client.ts
  apps/demo-rp/src/lib/poh-verifier.test.ts
  apps/demo-rp/src/lib/poh-verifier.ts
  apps/demo-rp/src/lib/validity.ts
  apps/demo-rp/src/lib/verify.test.ts
  apps/demo-rp/src/lib/verify.ts
  apps/landing/scripts/mcp-tool-manifest.test.ts
  apps/web/e2e/auth/auth.spec.ts
  packages/sdk/package.json
  packages/sdk/src/rp/dpop-client.test.ts
  packages/sdk/src/rp/dpop-client.ts
  packages/sdk/src/rp/index.ts
  packages/sdk/src/rp/payment-required.test.ts
  packages/sdk/src/rp/payment-required.ts
  packages/sdk/src/rp/proof-of-human.test.ts
  packages/sdk/src/rp/proof-of-human.ts
  packages/sdk/src/rp/token-verifier.test.ts
  packages/sdk/src/rp/token-verifier.ts
  packages/sdk/src/rp/userinfo.test.ts
  packages/sdk/src/rp/userinfo.ts
  pnpm-lock.yaml
Due: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web

feat(sdk): add first-party auth client
  apps/mcp/__tests__/auth/access-token-provider.test.ts
  apps/mcp/__tests__/auth/bootstrap.test.ts
  apps/mcp/__tests__/auth/browser-redirect.test.ts
  apps/mcp/__tests__/auth/dcr.test.ts
  apps/mcp/__tests__/auth/first-party-auth.test.ts
  apps/mcp/__tests__/auth/fpa.test.ts
  apps/mcp/__tests__/auth/step-up.test.ts
  apps/mcp/__tests__/auth/token-exchange.test.ts
  apps/mcp/__tests__/auth/token-manager.test.ts
  apps/mcp/__tests__/transports/stdio.test.ts
  apps/mcp/src/auth/access-token-provider.ts
  apps/mcp/src/auth/bootstrap.ts
  apps/mcp/src/auth/dcr.ts
  apps/mcp/src/auth/discovery.ts
  apps/mcp/src/auth/first-party-auth.ts
  apps/mcp/src/auth/fpa.ts
  apps/mcp/src/auth/step-up.ts
  apps/mcp/src/auth/token-exchange.ts
  apps/mcp/src/auth/token-manager.ts
  apps/mcp/src/transports/stdio.ts
  packages/sdk/package.json
  packages/sdk/src/fpa/client.test.ts
  packages/sdk/src/fpa/client.ts
  packages/sdk/src/fpa/discovery.test.ts
  packages/sdk/src/fpa/discovery.ts
  packages/sdk/src/fpa/index.ts
  packages/sdk/src/fpa/oauth.test.ts
  packages/sdk/src/fpa/oauth.ts
  packages/sdk/src/fpa/opaque.ts
  packages/sdk/src/fpa/pkce.ts
  pnpm-lock.yaml
Due: none

feat(sdk): add agent CIBA and x402 integration
  apps/mcp/__tests__/auth/interactive-tool-flow.test.ts
  apps/mcp/__tests__/tools/purchase.test.ts
  apps/mcp/src/auth/ciba.ts
  apps/mcp/src/auth/host-key.ts
  apps/mcp/src/auth/identity.ts
  apps/mcp/src/auth/interactive-tool-flow.ts
  apps/mcp/src/tools/purchase.ts
  packages/sdk/src/agent.test.ts
  packages/sdk/src/agent.ts
  packages/sdk/src/ciba.test.ts
  packages/sdk/src/ciba.ts
  packages/sdk/src/fpa/discovery.ts
  packages/sdk/src/index.ts
  packages/sdk/src/rp/proof-of-human.ts
  packages/sdk/src/x402.test.ts
  packages/sdk/src/x402.ts
Due: none

feat(sdk): move agent registration into sdk
  apps/mcp/__tests__/auth/context.test.ts
  apps/mcp/__tests__/auth/identity-resolution.test.ts
  apps/mcp/__tests__/tools/purchase.test.ts
  apps/mcp/__tests__/transports/stdio.test.ts
  apps/mcp/src/auth/agent-registration-contract.ts
  apps/mcp/src/auth/agent-registration.ts
  apps/mcp/src/auth/context.ts
  apps/mcp/src/auth/runtime-manager.ts
  apps/mcp/src/auth/runtime-state.ts
  apps/mcp/src/transports/stdio.ts
  apps/web/src/lib/agents/session.ts
  docs/(architecture)/agent-architecture.md
  packages/sdk/src/agent-registration.test.ts
  packages/sdk/src/agent-registration.ts
  packages/sdk/src/index.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(sdk): surface structured refresh errors
  packages/sdk/README.md
  packages/sdk/src/fpa/client.test.ts
  packages/sdk/src/fpa/client.ts
  packages/sdk/src/node/installed-client.test.ts
  packages/sdk/src/protocol/claims.ts
Due: none

refactor(agent): finalize AAP claims and SDK auth boundary
  apps/mcp/src/transports/token-auth.ts
  apps/web/src/lib/agents/__tests__/actor-subject.test.ts
  apps/web/src/lib/agents/__tests__/agent-introspection.integration.test.ts
  apps/web/src/lib/agents/__tests__/token-snapshot.test.ts
  apps/web/src/lib/agents/actor-subject.ts
  apps/web/src/lib/agents/claims.ts
  apps/web/src/lib/agents/token-snapshot.ts
  apps/web/src/lib/auth/__tests__/ciba-token.integration.test.ts
  apps/web/src/lib/auth/__tests__/token-exchange.integration.test.ts
  apps/web/src/lib/auth/__tests__/userinfo-disclosure.integration.test.ts
  apps/web/src/lib/auth/auth-config.ts
  docs/(architecture)/agent-architecture.md
  docs/(protocols)/disclosure-profile.md
  docs/(protocols)/oauth-integrations.md
  packages/sdk/src/rp/dpop-proof-verifier.test.ts
  packages/sdk/src/rp/dpop-proof-verifier.ts
  packages/sdk/src/rp/index.ts
  scripts/check-agent-sdk-rollout.mjs
Due: biome-check-web, tsc-check-web, knip-check-web

fix(ci): stabilize sdk workspace rollout
  .dockerignore
  .github/workflows/build-attest.yml
  .github/workflows/code-quality.yml
  .github/workflows/reusable-build-service.yml
  .github/workflows/test.yml
  apps/demo-rp/Dockerfile
  apps/demo-rp/next.config.ts
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/tsconfig.next.json
  apps/web/Dockerfile
  apps/web/src/app/(auth)/sign-up/_components/sign-up-form.tsx
  apps/web/src/app/(consent)/oauth/consent/__tests__/consent-submit-response.test.ts
  apps/web/src/app/(consent)/oauth/consent/page.tsx
  apps/web/src/app/(consent)/oauth/consent/submit/response.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(ci): validate sdk workspace consumers
  .github/workflows/build-attest.yml
  .github/workflows/code-quality.yml
  .github/workflows/test.yml
Due: none

test(web): cover AAP claim helpers
  apps/web/src/lib/agents/__tests__/claims.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

chore: align x402 demo dependencies
  apps/demo-rp/package.json
  apps/demo-rp/src/lib/x402-client.ts
  pnpm-lock.yaml
Due: none

Path conditions:
  biome-check-web: any of: ^apps/web/.*\.(ts|tsx|js|jsx|json|css)$
  biome-check-landing: any of: ^apps/landing/.*\.(ts|tsx|js|jsx|json|css)$
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  ocr-requirements-lock: any of: ^apps/ocr/(pyproject\.toml|requirements\.lock)$
  cargo-fmt-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-clippy-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-fmt-signer: any of: ^apps/signer/.*\.rs$
  cargo-clippy-signer: any of: ^apps/signer/.*\.rs$
