Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web, ocr-requirements-lock, cargo-fmt-fhe, cargo-clippy-fhe, cargo-fmt-signer, cargo-clippy-signer

biome-check-web:
  name: biome-check (web)
  entry: bash -c 'cd apps/web && pnpm run lint:fix'
  language: system
  pass_filenames: false

biome-check-landing:
  name: biome-check (landing)
  entry: bash -c 'cd apps/landing && pnpm run lint:fix'
  language: system
  pass_filenames: false

tsc-check-web:
  name: TypeScript type-check (web)
  entry: bash -c 'cd apps/web && pnpm run type-check'
  language: system
  pass_filenames: false

tsc-check-landing:
  name: TypeScript type-check (landing)
  entry: bash -c 'cd apps/landing && pnpm run type-check'
  language: system
  pass_filenames: false

knip-check-web:
  name: Knip dead code check (web)
  entry: bash -c 'cd apps/web && pnpm run knip'
  language: system
  pass_filenames: false

ocr-requirements-lock:
  name: pip-compile lock (ocr)
  entry: bash scripts/check-ocr-requirements-lock.sh
  language: python
  additional_dependencies:
  - pip-tools
  pass_filenames: false

cargo-fmt-fhe:
  name: cargo fmt (fhe)
  entry: cargo fmt --manifest-path apps/fhe/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy-fhe:
  name: cargo clippy (fhe)
  entry: cargo clippy --manifest-path apps/fhe/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

cargo-fmt-signer:
  name: cargo fmt (signer)
  entry: cargo fmt --manifest-path apps/signer/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy-signer:
  name: cargo clippy (signer)
  entry: cargo clippy --manifest-path apps/signer/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

fix(signer): harden FROST recovery message handling
  apps/signer/src/frost/coordinator.rs
  apps/signer/src/frost/mod.rs
  apps/signer/src/frost/recovery_message.rs
  apps/signer/src/frost/signer_logic.rs
  apps/signer/tests/frost_integration.rs
  apps/web/src/lib/trpc/routers/recovery/__tests__/verification.test.ts
  apps/web/src/lib/trpc/routers/recovery/verification.ts
Due: biome-check-web, tsc-check-web, knip-check-web, cargo-fmt-signer, cargo-clippy-signer

fix(zk): bind identity proofs to sender and audience context
  apps/web/noir-circuits/identity_binding/artifacts/identity_binding.json
  apps/web/noir-circuits/identity_binding/src/main.nr
  apps/web/src/lib/identity/verification/finalize-and-prove.ts
  apps/web/src/lib/privacy/zk/__tests__/identity-binding-artifact.test.ts
  apps/web/src/lib/privacy/zk/__tests__/noir-verifier.test.ts
  apps/web/src/lib/privacy/zk/client.ts
  apps/web/src/lib/privacy/zk/noir-prover.ts
  apps/web/src/lib/privacy/zk/noir-prover.worker.ts
  apps/web/src/lib/privacy/zk/noir-worker-manager.ts
  apps/web/src/lib/privacy/zk/proof-types.ts
  apps/web/src/lib/trpc/routers/__tests__/proof-security.test.ts
  apps/web/src/lib/trpc/routers/crypto/__tests__/audience.test.ts
  apps/web/src/lib/trpc/routers/crypto/audience.ts
  apps/web/src/lib/trpc/routers/crypto/challenge.ts
  apps/web/src/lib/trpc/routers/crypto/proof.ts
  docs/cryptographic-pillars.md
  docs/rfcs/0020-privacy-preserving-wallet-binding.md
  docs/rfcs/0021-zcash-shielded-aid.md
  docs/zk-architecture.md
Due: biome-check-web, tsc-check-web, knip-check-web

fix(liveness): enforce attestation challenge verification
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/_components/liveness-verify-client.tsx
  apps/web/src/lib/identity/liveness/attestation.ts
  apps/web/src/lib/identity/liveness/liveness-session-store.ts
  apps/web/src/lib/trpc/routers/__tests__/liveness.test.ts
  apps/web/src/lib/trpc/routers/liveness.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): verify encrypted attribute ciphertext integrity
  apps/web/src/lib/db/queries/__tests__/crypto.integration.test.ts
  apps/web/src/lib/db/queries/crypto.ts
  apps/web/src/lib/db/schema/crypto.ts
Due: biome-check-web, tsc-check-web, knip-check-web

chore(web): add zkproof8 benchmark harness
  apps/web/scripts/zkproof8-benchmarks.ts
Due: biome-check-web, tsc-check-web, knip-check-web

chore(fhe): increase test timeout for slower environments
  apps/fhe/src/settings.rs
Due: cargo-fmt-fhe, cargo-clippy-fhe

security(zk): bind selfie to liveness session and add circuit input bounds
  apps/web/noir-circuits/address_jurisdiction/Nargo.toml
  apps/web/noir-circuits/address_jurisdiction/artifacts/address_jurisdiction.json
  apps/web/noir-circuits/address_jurisdiction/src/main.nr
  apps/web/noir-circuits/age_verification/artifacts/age_verification.json
  apps/web/noir-circuits/age_verification/src/main.nr
  apps/web/noir-circuits/doc_validity/artifacts/doc_validity.json
  apps/web/noir-circuits/doc_validity/src/main.nr
  apps/web/src/lib/db/schema/identity.ts
  apps/web/src/lib/identity/liveness/socket/handler.ts
  apps/web/src/lib/trpc/routers/__tests__/liveness.test.ts
  apps/web/src/lib/trpc/routers/liveness.ts
Due: biome-check-web, tsc-check-web, knip-check-web

security(fhe): harden ciphertext integrity and remove debug endpoint
  apps/fhe/src/app.rs
  apps/fhe/src/routes/keys.rs
  apps/fhe/src/routes/mod.rs
  apps/web/src/lib/db/queries/__tests__/crypto.integration.test.ts
  apps/web/src/lib/db/queries/crypto.ts
Due: biome-check-web, tsc-check-web, knip-check-web, cargo-fmt-fhe, cargo-clippy-fhe

security(csp): add strict Content-Security-Policy header in production
  apps/web/next.config.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(security): harden zk inputs and frost nonce reuse
  apps/signer/src/frost/signer_logic.rs
  apps/signer/src/storage/redb.rs
  apps/web/noir-circuits/age_verification/artifacts/age_verification.json
  apps/web/noir-circuits/age_verification/src/main.nr
  apps/web/src/lib/trpc/routers/__tests__/proof-security.test.ts
  apps/web/src/lib/trpc/routers/crypto/proof.ts
Due: biome-check-web, tsc-check-web, knip-check-web, cargo-fmt-signer, cargo-clippy-signer

docs(security): align architecture docs with hardening changes
  docs/attestation-privacy-architecture.md
  docs/railway-signer-deployment.md
  docs/rfcs/0025-dual-track-compliance-architecture.md
  docs/tamper-model.md
  docs/zk-architecture.md
Due: none

fix(web): require identity binding for full verification
  apps/web/src/lib/assurance/__tests__/compute.test.ts
  apps/web/src/lib/assurance/__tests__/data.integration.test.ts
  apps/web/src/lib/assurance/compute.ts
  apps/web/src/lib/auth/oidc/__tests__/claims.test.ts
  apps/web/src/lib/auth/oidc/claims.ts
  apps/web/src/lib/db/__tests__/db.integration.test.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/trpc/routers/__tests__/attestation.test.ts
  apps/web/src/lib/trpc/routers/credentials.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): enforce mandatory identity binding in proof pipeline
  apps/web/src/lib/auth/oidc/__tests__/claims.test.ts
  apps/web/src/lib/auth/oidc/__tests__/proof-scopes.test.ts
  apps/web/src/lib/auth/oidc/claims.ts
  apps/web/src/lib/auth/oidc/proof-scopes.ts
  apps/web/src/lib/identity/verification/finalize-and-prove.ts
  apps/web/src/lib/trpc/routers/__tests__/proof-security.test.ts
  apps/web/src/lib/trpc/routers/crypto/proof.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): enforce session-bound zk proof architecture
  apps/web/src/app/api/crypto/nationality-proof/verify/route.ts
  apps/web/src/lib/assurance/__tests__/data.integration.test.ts
  apps/web/src/lib/db/__tests__/db.integration.test.ts
  apps/web/src/lib/db/queries/__tests__/crypto.integration.test.ts
  apps/web/src/lib/db/queries/__tests__/identity.integration.test.ts
  apps/web/src/lib/db/queries/crypto.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/db/schema/crypto.ts
  apps/web/src/lib/identity/verification/finalize-and-prove.ts
  apps/web/src/lib/privacy/fhe/__tests__/browser.test.ts
  apps/web/src/lib/privacy/zk/challenge-store.ts
  apps/web/src/lib/privacy/zk/client.ts
  apps/web/src/lib/trpc/routers/__tests__/proof-security.test.ts
  apps/web/src/lib/trpc/routers/crypto/challenge.ts
  apps/web/src/lib/trpc/routers/crypto/proof.ts
  apps/web/src/lib/trpc/routers/crypto/router.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): require successful face match to complete verification
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/_components/liveness-verify-client.tsx
  apps/web/src/components/verification/face-verification-card.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web,fhe): harden crypto field mapping and key validation
  CLAUDE.md
  apps/fhe/src/crypto/keys.rs
  apps/fhe/src/routes/batch.rs
  apps/fhe/src/routes/keys.rs
  apps/web/src/app/(dashboard)/dashboard/settings/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/fhe-enrollment-dialog.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/_components/binding-auth-dialog.tsx
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/components/sign-up/sign-up-form.tsx
  apps/web/src/components/sign-up/wallet-signup-form.tsx
  apps/web/src/lib/auth/plugins/eip712/client.ts
  apps/web/src/lib/auth/plugins/eip712/server.ts
  apps/web/src/lib/blockchain/attestation/__tests__/claim-hash.test.ts
  apps/web/src/lib/blockchain/attestation/claim-hash.ts
  apps/web/src/lib/identity/document/process-document.ts
  apps/web/src/lib/privacy/zk/__tests__/hash-to-field.test.ts
  apps/web/src/lib/privacy/zk/hash-to-field.ts
  apps/web/src/lib/privacy/zk/noir-prover.worker.ts
  apps/web/src/lib/trpc/routers/__tests__/proof-security.test.ts
  apps/web/src/lib/trpc/routers/crypto/proof.ts
  apps/web/src/lib/trpc/routers/identity/helpers/job-processor.ts
  docs/architecture.md
  docs/cryptographic-pillars.md
  docs/fhe-key-lifecycle.md
  docs/zk-architecture.md
Due: biome-check-web, tsc-check-web, knip-check-web, cargo-fmt-fhe, cargo-clippy-fhe

docs(rfc): add sybil-resistant enrollment uniqueness RFC
  docs/rfcs/0027-sybil-resistant-enrollment-uniqueness.md
Due: none

fix(web,zk): enforce base_commitment verification in identity binding
  apps/web/noir-circuits/identity_binding/artifacts/identity_binding.json
  apps/web/noir-circuits/identity_binding/src/main.nr
  apps/web/src/app/(dashboard)/dashboard/verify/_components/fhe-enrollment-dialog.tsx
  apps/web/src/app/api/fhe/enrollment/complete/route.ts
  apps/web/src/lib/db/queries/crypto.ts
  apps/web/src/lib/db/schema/crypto.ts
  apps/web/src/lib/privacy/fhe/store.ts
  apps/web/src/lib/privacy/secrets/index.ts
  apps/web/src/lib/privacy/zk/__tests__/noir-verifier.test.ts
  apps/web/src/lib/privacy/zk/client.ts
  apps/web/src/lib/privacy/zk/noir-prover.ts
  apps/web/src/lib/privacy/zk/noir-prover.worker.ts
  apps/web/src/lib/privacy/zk/noir-worker-manager.ts
  apps/web/src/lib/privacy/zk/proof-types.ts
  apps/web/src/lib/trpc/routers/__tests__/proof-security.test.ts
  apps/web/src/lib/trpc/routers/crypto/proof.ts
  apps/web/src/lib/trpc/routers/secrets.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(security): harden binding cache lifecycle and signer guardian validation
  apps/signer/src/config.rs
  apps/web/src/lib/privacy/credentials/__tests__/cache.test.ts
  apps/web/src/lib/privacy/credentials/cache.ts
  apps/web/src/lib/privacy/zk/binding-context.ts
Due: biome-check-web, tsc-check-web, knip-check-web, cargo-fmt-signer, cargo-clippy-signer

feat(security): migrate cryptographic stack to post-quantum primitives
  apps/web/README.md
  apps/web/noir-circuits/identity_binding/artifacts/identity_binding.json
  apps/web/noir-circuits/identity_binding/src/main.nr
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/app/api/auth/pq-jwks/route.ts
  apps/web/src/app/api/oauth2/clients/[clientId]/compliance-key/route.ts
  apps/web/src/lib/auth/__tests__/oauth-token-validation.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oauth-token-validation.ts
  apps/web/src/lib/auth/oidc/__tests__/ml-dsa-signer.test.ts
  apps/web/src/lib/auth/oidc/ml-dsa-signer.ts
  apps/web/src/lib/db/queries/__tests__/compliance.integration.test.ts
  apps/web/src/lib/db/queries/compliance.ts
  apps/web/src/lib/db/schema/compliance.ts
  apps/web/src/lib/privacy/compliance/__tests__/encrypt.test.ts
  apps/web/src/lib/privacy/compliance/decrypt.ts
  apps/web/src/lib/privacy/compliance/encrypt.ts
  apps/web/src/lib/privacy/credentials/cache.ts
  apps/web/src/lib/privacy/credentials/index.ts
  apps/web/src/lib/privacy/primitives/__tests__/ml-dsa.test.ts
  apps/web/src/lib/privacy/primitives/__tests__/ml-kem.test.ts
  apps/web/src/lib/privacy/primitives/ml-dsa.ts
  apps/web/src/lib/privacy/primitives/ml-kem.ts
  apps/web/src/lib/privacy/secrets/index.ts
  apps/web/src/lib/recovery/__tests__/recovery-keys.test.ts
  apps/web/src/lib/recovery/recovery-keys.ts
  apps/web/vendor/better-auth-haip-0.0.0.tgz
  apps/web/vendor/better-auth-oauth-provider-1.5.0-beta.11.tgz
  apps/web/vendor/better-auth-oidc4vci-0.0.0.tgz
  apps/web/vendor/better-auth-oidc4vp-0.0.0.tgz
  docker-compose.yml
  docs/adr/privacy/0013-post-quantum-cryptographic-migration.md
  docs/attestation-privacy-architecture.md
  docs/recovery-trust-model.md
  docs/rfcs/0007-feature-flags.md
  docs/rfcs/0021-zcash-shielded-aid.md
  docs/rfcs/0023-zk-api-gateway.md
  docs/rfcs/0025-dual-track-compliance-architecture.md
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(deps): switch better-auth from vendored tarballs to npm + pnpm patches
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/vendor/@better-auth__core@1.5.0-beta.18.patch
  apps/web/vendor/@better-auth__oauth-provider@1.5.0-beta.18.patch
  apps/web/vendor/@better-auth__passkey.patch
  apps/web/vendor/@better-auth__passkey@1.5.0-beta.18.patch
  apps/web/vendor/better-auth-1.5.0-beta.13.tgz
  apps/web/vendor/better-auth-core-1.5.0-beta.13.tgz
  apps/web/vendor/better-auth-haip-0.0.0.tgz
  apps/web/vendor/better-auth-oauth-provider-1.5.0-beta.11.tgz
  apps/web/vendor/better-auth-oauth-provider-1.5.0-beta.13.tgz
  apps/web/vendor/better-auth-oidc4ida-0.0.0.tgz
  apps/web/vendor/better-auth-oidc4vci-0.0.0.tgz
  apps/web/vendor/better-auth-oidc4vp-0.0.0.tgz
  apps/web/vendor/better-auth-passkey-1.5.0-beta.13.tgz
  apps/web/vendor/better-auth-telemetry-1.5.0-beta.13.tgz
  apps/web/vendor/better-auth@1.5.0-beta.18.patch
Due: biome-check-web

chore(deps): batch dependency updates across all services
  apps/demo-rp/package.json
  apps/demo-rp/pnpm-lock.yaml
  apps/signer/Cargo.toml
  apps/web/noir-circuits/age_verification/artifacts/age_verification.json
  apps/web/noir-circuits/doc_validity/artifacts/doc_validity.json
  apps/web/noir-circuits/face_match/artifacts/face_match.json
  apps/web/noir-circuits/identity_binding/artifacts/identity_binding.json
  apps/web/noir-circuits/nationality_membership/artifacts/nationality_membership.json
  apps/web/package.json
  apps/web/pnpm-lock.yaml
Due: biome-check-web

refactor(ci): replace monolithic pre-commit with path-filtered jobs
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
  scripts/check-ocr-requirements-lock.sh
Due: none

fix(ocr): use StrEnum instead of (str, Enum) for DocumentType
  apps/ocr/src/ocr_service/services/document_detector.py
Due: none

fix(deps): override vulnerable transitive dependencies (axios, ws, esbuild)
  apps/web/package.json
  apps/web/pnpm-lock.yaml
Due: biome-check-web

feat(landing): add whitepaper page, enhance ZK-Auth, and improve UX across landing
  apps/landing/src/App.tsx
  apps/landing/src/components/docs/breach-timeline.tsx
  apps/landing/src/components/docs/markdown-renderer.tsx
  apps/landing/src/components/docs/mermaid-block.tsx
  apps/landing/src/components/landing/compliance-standards.tsx
  apps/landing/src/components/landing/footer.tsx
  apps/landing/src/components/landing/hero.tsx
  apps/landing/src/components/landing/nav.tsx
  apps/landing/src/components/landing/trust-evidence.tsx
  apps/landing/src/content/docs.ts
  apps/landing/src/pages/platform-pages.tsx
  apps/landing/src/pages/whitepaper-page.tsx
  apps/landing/src/pages/zk-auth-page.tsx
  apps/landing/vite.config.ts
  apps/web/package.json
  apps/web/pnpm-lock.yaml
Due: biome-check-web, biome-check-landing, tsc-check-landing

feat(landing): add capabilities page and rewrite copy toward proof-first messaging
  apps/landing/src/App.tsx
  apps/landing/src/components/docs/breach-timeline.tsx
  apps/landing/src/components/landing/compliance-standards.tsx
  apps/landing/src/components/landing/four-pillars.tsx
  apps/landing/src/components/landing/hero.tsx
  apps/landing/src/components/landing/nav.tsx
  apps/landing/src/components/landing/technical-deep-dive.tsx
  apps/landing/src/components/landing/trust-evidence.tsx
  apps/landing/src/components/landing/use-cases.tsx
  apps/landing/src/content/docs.ts
  apps/landing/src/pages/capabilities-page.tsx
  apps/landing/src/pages/zk-auth-page.tsx
Due: biome-check-landing, tsc-check-landing

fix(auth): use correct field name from oauth-provider continue response
  apps/web/src/lib/auth/oauth-post-login.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(demo-rp): use turso dialect in drizzle config for remote database support
  apps/demo-rp/drizzle.config.ts
Due: none

fix(demo-rp): persist DCR registrations in database instead of filesystem
  apps/demo-rp/src/app/api/auth/[...all]/route.ts
  apps/demo-rp/src/app/api/dcr/route.ts
  apps/demo-rp/src/app/api/veripass/issue/route.ts
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/src/lib/db/connection.ts
  apps/demo-rp/src/lib/db/schema.ts
  apps/demo-rp/src/lib/dcr.ts
Due: none

fix(web): sanitize error responses to prevent information disclosure
  apps/web/src/app/api/fhe/enrollment/complete/route.ts
  apps/web/src/app/api/fhe/keys/register/route.ts
  apps/web/src/app/api/fhe/verify-age/route.ts
  apps/web/src/app/api/ocr/route.ts
  apps/web/src/app/api/secrets/blob/route.ts
  apps/web/src/components/dashboard/compliance-access-card.tsx
  apps/web/src/components/dashboard/passkey-management-section.tsx
  apps/web/src/lib/auth/oauth-token-validation.ts
  apps/web/src/lib/db/queries/auth.ts
  apps/web/src/lib/trpc/routers/identity/finalize.ts
  apps/web/src/lib/trpc/routers/identity/helpers/job-processor.ts
  apps/web/src/lib/trpc/routers/sign-up.ts
  apps/web/src/lib/trpc/server.ts
  apps/web/src/lib/utils/api-error.ts
  apps/web/src/lib/utils/error-messages.ts
  apps/web/src/lib/utils/http-error-payload.ts
Due: biome-check-web, tsc-check-web, knip-check-web

feat(demo-rp): redesign landing page to match Zentity design system
  apps/demo-rp/package.json
  apps/demo-rp/pnpm-lock.yaml
  apps/demo-rp/public/images/logo/icon.svg
  apps/demo-rp/public/images/logo/logo.svg
  apps/demo-rp/src/app/globals.css
  apps/demo-rp/src/app/page.tsx
  apps/demo-rp/src/components/nav.tsx
Due: none

style(demo-rp): auto-format route and lib files
  apps/demo-rp/src/app/api/dcr/route.ts
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/src/lib/dcr.ts
Due: none

refactor(demo-rp): make DCR the single source of truth for client IDs
  apps/demo-rp/package.json
  apps/demo-rp/pnpm-lock.yaml
  apps/demo-rp/src/app/api/dcr/route.ts
  apps/demo-rp/src/lib/auth.ts
  apps/demo-rp/src/lib/dcr.ts
  apps/demo-rp/src/lib/env.ts
Due: none

feat(landing,demo-rp): route landing CTAs to demo, add account nudge
  apps/demo-rp/src/app/page.tsx
  apps/demo-rp/src/components/nav.tsx
  apps/landing/src/components/landing/cta-section.tsx
  apps/landing/src/components/landing/hero.tsx
  apps/landing/src/components/landing/nav.tsx
Due: biome-check-landing, tsc-check-landing

feat(web): dual-algorithm JWT signing with EdDSA default and ML-DSA-65 opt-in
  apps/web/pnpm-lock.yaml
  apps/web/src/app/.well-known/oauth-authorization-server/[[...issuer]]/route.ts
  apps/web/src/app/.well-known/openid-configuration/[[...issuer]]/route.ts
  apps/web/src/app/api/auth/[...all]/route.ts
  apps/web/src/app/api/auth/pq-jwks/route.ts
  apps/web/src/lib/auth/__tests__/oidc-well-known.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oauth-token-validation.ts
  apps/web/src/lib/auth/oidc/__tests__/jwt-signer.test.ts
  apps/web/src/lib/auth/oidc/__tests__/ml-dsa-signer.test.ts
  apps/web/src/lib/auth/oidc/jwt-signer.ts
  apps/web/src/lib/auth/oidc/ml-dsa-signer.ts
  apps/web/vendor/@better-auth__oauth-provider@1.5.0-beta.18.patch
  docs/attestation-privacy-architecture.md
  docs/cryptographic-pillars.md
  docs/oauth-integrations.md
Due: biome-check-web, tsc-check-web, knip-check-web

Path conditions:
  biome-check-web: any of: ^apps/web/.*\.(ts|tsx|js|jsx|json|css)$
  biome-check-landing: any of: ^apps/landing/.*\.(ts|tsx|js|jsx|json|css)$
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  ocr-requirements-lock: any of: ^apps/ocr/(pyproject\.toml|requirements\.lock)$
  cargo-fmt-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-clippy-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-fmt-signer: any of: ^apps/signer/.*\.rs$
  cargo-clippy-signer: any of: ^apps/signer/.*\.rs$
