Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc-check-web, tsc-check-landing, knip-check-web, cargo-fmt, cargo-clippy

tsc-check-web:
  name: TypeScript type-check (web)
  entry: bash -c 'cd apps/web && bun run tsc --noEmit'
  language: system
  pass_filenames: false

tsc-check-landing:
  name: TypeScript type-check (landing)
  entry: bash -c 'cd apps/landing && bun run tsc -b'
  language: system
  pass_filenames: false

knip-check-web:
  name: Knip dead code check (web)
  entry: bash -c 'cd apps/web && bun run knip'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path apps/fhe/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --manifest-path apps/fhe/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

chore(ocr): update requirements.lock (anyio, urllib3)
  apps/ocr/requirements.lock
Due: none

refactor(web): standardize UI form patterns
  apps/web/src/app/(auth)/recover-passkey/page.tsx
  apps/web/src/app/(auth)/reset-password/page.tsx
  apps/web/src/app/(auth)/verify-2fa/verify-2fa-client.tsx
  apps/web/src/app/(dashboard)/dashboard/dev/exchange/page.tsx
  apps/web/src/app/(dashboard)/dashboard/dev/page.tsx
  apps/web/src/app/demo/exchange/page.tsx
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/components/auth/forgot-password-form.tsx
  apps/web/src/components/auth/passkey-sign-in-form.tsx
  apps/web/src/components/auth/reset-password-form.tsx
  apps/web/src/components/blockchain/compliance-access-card.tsx
  apps/web/src/components/dashboard/delete-account-section.tsx
  apps/web/src/components/dashboard/on-chain-attestation.tsx
  apps/web/src/components/dashboard/passkey-management-section.tsx
  apps/web/src/components/dashboard/set-password-section.tsx
  apps/web/src/components/dashboard/transparency-section.tsx
  apps/web/src/components/dashboard/user-data-section.tsx
  apps/web/src/components/dashboard/verification-actions.tsx
  apps/web/src/components/dashboard/verification-progress.tsx
  apps/web/src/components/dashboard/view-identity-data.tsx
  apps/web/src/components/defi-demo/defi-demo-client.tsx
  apps/web/src/components/defi-demo/mint-form.tsx
  apps/web/src/components/defi-demo/transfer-form.tsx
  apps/web/src/components/defi-demo/tx-history.tsx
  apps/web/src/components/onboarding/steps/step-create-account.tsx
  apps/web/src/components/onboarding/steps/step-email.tsx
  apps/web/src/components/onboarding/steps/step-id-upload.tsx
  apps/web/src/components/onboarding/steps/step-selfie.tsx
  apps/web/src/components/onboarding/wizard-navigation.tsx
  apps/web/src/components/onboarding/wizard-provider.tsx
  apps/web/src/components/onboarding/wizard.tsx
  apps/web/src/hooks/fhevm/use-fhe-decrypt.ts
  apps/web/src/hooks/liveness/use-selfie-liveness-flow.ts
Due: tsc-check-web, knip-check-web

refactor(web): rebuild onboarding stepper for privacy-first flow
  apps/web/bun.lock
  apps/web/package.json
  apps/web/src/app/(auth)/sign-up/page.tsx
  apps/web/src/components/defi-demo/transfer-form.tsx
  apps/web/src/components/onboarding/__tests__/wizard-provider.test.tsx
  apps/web/src/components/onboarding/onboarding-store.ts
  apps/web/src/components/onboarding/onboarding-wizard.tsx
  apps/web/src/components/onboarding/step-account.tsx
  apps/web/src/components/onboarding/step-email.tsx
  apps/web/src/components/onboarding/step-id-upload.tsx
  apps/web/src/components/onboarding/step-liveness.tsx
  apps/web/src/components/onboarding/stepper-context.tsx
  apps/web/src/components/onboarding/stepper-ui.tsx
  apps/web/src/components/onboarding/steps/__tests__/step-selfie.test.tsx
  apps/web/src/components/onboarding/wizard-navigation.tsx
  apps/web/src/components/onboarding/wizard-provider.tsx
  apps/web/src/components/onboarding/wizard-stepper.tsx
  apps/web/src/components/onboarding/wizard.tsx
  apps/web/src/components/stepper.tsx
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/features/auth/schemas/sign-up.schema.ts
  apps/web/src/hooks/use-mobile.ts
  apps/web/src/hooks/use-reduced-motion.ts
  apps/web/src/lib/auth/session-manager.ts
  apps/web/src/lib/db/onboarding-session.ts
  apps/web/src/lib/onboarding/wizard-storage.ts
  apps/web/src/lib/trpc/routers/identity.ts
  apps/web/src/lib/trpc/routers/onboarding.ts
  apps/web/src/lib/utils/motion.ts
Due: tsc-check-web, knip-check-web

refactor(web): align better-auth ui + shadcn forms
  apps/web/src/app/(auth)/sign-in/page.tsx
  apps/web/src/components/onboarding/onboarding-wizard.tsx
  apps/web/src/components/onboarding/step-email.tsx
  apps/web/src/components/onboarding/stepper-context.tsx
  apps/web/src/components/onboarding/stepper-ui.tsx
Due: tsc-check-web, knip-check-web

fix(web): include poseidon2 in docker runtime
  apps/web/Dockerfile
Due: none

refactor(web): replace div patterns with shadcn Card/Alert components
  apps/web/src/app/(dashboard)/dashboard/dev/exchange/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verification/_components/verification-content.tsx
  apps/web/src/components/onboarding/step-id-upload.tsx
Due: tsc-check-web, knip-check-web

feat(signer): implement FROST threshold signature service
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
  apps/signer/.cargo/config.toml
  apps/signer/Cargo.lock
  apps/signer/Cargo.toml
  apps/signer/Dockerfile
  apps/signer/build.rs
  apps/signer/clippy.toml
  apps/signer/railway.toml
  apps/signer/rust-toolchain.toml
  apps/signer/src/audit.rs
  apps/signer/src/bin/coordinator.rs
  apps/signer/src/bin/signer.rs
  apps/signer/src/config.rs
  apps/signer/src/error.rs
  apps/signer/src/frost/coordinator.rs
  apps/signer/src/frost/hpke_crypto.rs
  apps/signer/src/frost/jwt_verification.rs
  apps/signer/src/frost/mod.rs
  apps/signer/src/frost/signer_logic.rs
  apps/signer/src/frost/types.rs
  apps/signer/src/lib.rs
  apps/signer/src/middleware/mod.rs
  apps/signer/src/middleware/rate_limit.rs
  apps/signer/src/routes/dkg.rs
  apps/signer/src/routes/health.rs
  apps/signer/src/routes/mod.rs
  apps/signer/src/routes/signer_routes.rs
  apps/signer/src/routes/signing.rs
  apps/signer/src/storage/mod.rs
  apps/signer/src/storage/redb.rs
  apps/signer/src/telemetry.rs
  apps/signer/src/tls.rs
  apps/signer/start-coordinator.sh
  apps/signer/start-signer.sh
  apps/signer/tests/frost_integration.rs
  docker-compose.signer.yml
  scripts/test-frost-e2e.sh
Due: none

feat(email): add Resend delivery for recovery emails
  .env.example
  apps/web/bun.lock
  apps/web/package.json
  apps/web/src/lib/email/recovery-mailer.ts
  apps/web/src/lib/email/resend.ts
  docker-compose.yml
Due: tsc-check-web, knip-check-web

feat(recovery): integrate guardian flow with passwordless 2FA
  CLAUDE.md
  apps/web/.gitignore
  apps/web/bun.lock
  apps/web/e2e/global-setup.ts
  apps/web/e2e/social-recovery.spec.ts
  apps/web/package.json
  apps/web/patches/@better-auth%2Fpasskey@1.5.0-beta.2.patch
  apps/web/patches/@daveyplate%2Fbetter-auth-ui@3.3.12.patch
  apps/web/patches/better-auth@1.5.0-beta.2.patch
  apps/web/src/app/(auth)/recover-social/page.tsx
  apps/web/src/app/(auth)/verify-2fa/page.tsx
  apps/web/src/app/(auth)/verify-2fa/verify-2fa-client.tsx
  apps/web/src/app/(dashboard)/dashboard/settings/page.tsx
  apps/web/src/components/auth/passkey-sign-in-form.tsx
  apps/web/src/components/dashboard/recovery-setup-section.tsx
  apps/web/src/components/dashboard/security-cards.tsx
  apps/web/src/components/mode-toggle.tsx
  apps/web/src/components/providers/auth-ui-provider.tsx
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/db/queries/recovery.ts
  apps/web/src/lib/db/queries/two-factor.ts
  apps/web/src/lib/db/schema/recovery.ts
  apps/web/src/lib/recovery/constants.ts
  apps/web/src/lib/trpc/routers/recovery.ts
Due: tsc-check-web, knip-check-web

fix(signer): harden audit chain + db path fallback
  apps/signer/src/audit.rs
  apps/signer/src/config.rs
Due: none

docs: update recovery and signer documentation
  README.md
  apps/web/README.md
  docs/adr/platform/0002-better-auth-patches.md
  docs/adr/privacy/0003-passkey-sealed-profile.md
  docs/adr/privacy/0008-better-auth-passkey-integration.md
  docs/architecture.md
  docs/better-auth-gap-analysis.md
  docs/rfcs/0007-feature-flags.md
  docs/rfcs/0009-passkey-profile-pii.md
  docs/rfcs/0014-frost-social-recovery.md
  docs/rfcs/0015-frost-threshold-registrar.md
Due: none

refactor(platform): complete Bun to pnpm migration
  .github/dependabot.yml
  .github/workflows/code-quality.yml
  .github/workflows/reusable-build-service.yml
  .mise.toml
  .pre-commit-config.yaml
  .vscode/launch.json
  AGENTS.md
  CLAUDE.md
  apps/landing/README.md
  apps/landing/bun.lock
  apps/landing/package.json
  apps/landing/pnpm-lock.yaml
  apps/web/.claude/CLAUDE.md
  apps/web/.cursor/hooks.json
  apps/web/.dockerignore
  apps/web/.gitignore
  apps/web/.husky/pre-commit
  apps/web/.npmrc
  apps/web/Dockerfile
  apps/web/README.md
  apps/web/bun.lock
  apps/web/e2e/automation/build-synpress-cache.ts
  apps/web/e2e/automation/start-web3-dev.ts
  apps/web/e2e/global-setup.ts
  apps/web/knip.json
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/pnpm-lock.yaml
  apps/web/railway.toml
  apps/web/scripts/docker-entrypoint.sh
  apps/web/src/lib/crypto/__tests__/fhe-key-store.test.ts
  apps/web/src/lib/logging/logger.ts
  apps/web/src/lib/zk/noir-prover.worker.ts
  apps/web/src/lib/zk/noir-verifier.ts
  apps/web/tsconfig.json
  apps/web/vitest.global-setup.ts
  docs/adr/platform/0001-bun-to-node-migration.md
  scripts/check-all.sh
  vercel.json
Due: tsc-check-web, knip-check-web

fix(lint): isolate biome configs to prevent cross-app contamination
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
  apps/landing/biome.json
  apps/landing/src/components/docs/docs-layout.tsx
  apps/landing/src/components/docs/markdown-renderer.tsx
  apps/landing/src/components/landing/features-grid.tsx
  apps/landing/src/components/ui/alert-dialog.tsx
  apps/landing/src/components/ui/alert.tsx
  apps/landing/src/components/ui/breadcrumb.tsx
  apps/landing/src/components/ui/dropdown-menu.tsx
  apps/landing/src/components/ui/input-group.tsx
  apps/landing/src/components/ui/input.tsx
  apps/landing/src/components/ui/select.tsx
  apps/landing/src/components/ui/sheet.tsx
  apps/landing/src/index.css
  apps/web/biome.json
  biome.json
Due: tsc-check-landing

fix(ci): correct markdownlint command and exclude dist from pre-commit
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
Due: none

fix(ci): align pre-commit behavior between local and CI
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
Due: none

chore(ocr): update requirements.lock (protobuf 6.33.2 → 6.33.3)
  apps/ocr/requirements.lock
Due: none

fix(lint): isolate biome configs to prevent cross-app contamination (#42)
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
  apps/landing/biome.json
  apps/landing/src/components/docs/docs-layout.tsx
  apps/landing/src/components/docs/markdown-renderer.tsx
  apps/landing/src/components/landing/features-grid.tsx
  apps/landing/src/components/ui/alert-dialog.tsx
  apps/landing/src/components/ui/alert.tsx
  apps/landing/src/components/ui/breadcrumb.tsx
  apps/landing/src/components/ui/dropdown-menu.tsx
  apps/landing/src/components/ui/input-group.tsx
  apps/landing/src/components/ui/input.tsx
  apps/landing/src/components/ui/select.tsx
  apps/landing/src/components/ui/sheet.tsx
  apps/landing/src/index.css
  apps/ocr/requirements.lock
  apps/web/biome.json
  biome.json
Due: tsc-check-landing

fix(security): address Dependabot vulnerability alerts
  .github/workflows/code-quality.yml
  .gitignore
  apps/signer/Cargo.lock
  apps/web/package.json
  apps/web/pnpm-lock.yaml
Due: none

fix(security): address Dependabot vulnerability alerts (#43)
  .github/workflows/code-quality.yml
  .gitignore
  apps/signer/Cargo.lock
  apps/web/package.json
  apps/web/pnpm-lock.yaml
Due: none

chore(deps): upgrade better-auth to 1.5.0-beta.3
  apps/web/package.json
  apps/web/patches/@better-auth__passkey@1.5.0-beta.3.patch
  apps/web/patches/better-auth@1.5.0-beta.2.patch
  apps/web/patches/better-auth@1.5.0-beta.3.patch
  apps/web/pnpm-lock.yaml
Due: none

chore(web): update Next.js to 16.1.1
  apps/web/package.json
  apps/web/pnpm-lock.yaml
Due: none

feat(fhe): add granular OpenTelemetry tracing instrumentation
  apps/fhe/src/crypto/keys.rs
  apps/fhe/src/routes/age.rs
  apps/fhe/src/routes/batch.rs
  apps/fhe/src/routes/compliance.rs
  apps/fhe/src/routes/country.rs
  apps/fhe/src/routes/keys.rs
  apps/fhe/src/routes/liveness.rs
  apps/fhe/src/routes/mod.rs
  tooling/observability/mimir.yaml
  tooling/observability/otel-collector.yaml
Due: cargo-fmt, cargo-clippy

perf(fhe): parallelize batch encryption operations
  apps/fhe/src/routes/batch.rs
Due: cargo-fmt, cargo-clippy

fix(web): restore Dockerfile settings lost in pnpm migration
  apps/web/Dockerfile
Due: none

feat(signer): add Railway deployment configuration
  apps/signer/Dockerfile.coordinator
  apps/signer/Dockerfile.signer
  apps/signer/railway.coordinator.toml
  apps/signer/railway.signer.toml
  apps/signer/railway.toml
  docs/railway-signer-deployment.md
Due: none

feat(web): move liveness detection to server via Socket.io
  apps/web/.dockerignore
  apps/web/Dockerfile
  apps/web/knip.json
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/scripts/docker-entrypoint.sh
  apps/web/server.mjs
  apps/web/src/app/api/liveness/frame/route.ts
  apps/web/src/app/api/liveness/stream/route.ts
  apps/web/src/app/api/liveness/stream/sse.ts
  apps/web/src/components/onboarding/step-account.tsx
  apps/web/src/components/onboarding/step-liveness.tsx
  apps/web/src/hooks/liveness/constants.ts
  apps/web/src/hooks/liveness/types.ts
  apps/web/src/hooks/liveness/use-liveness.ts
  apps/web/src/hooks/liveness/use-selfie-liveness-flow.ts
  apps/web/src/hooks/use-human-liveness.ts
  apps/web/src/hooks/use-liveness-camera.ts
  apps/web/src/lib/attestation/policy-hash.ts
  apps/web/src/lib/liveness/challenges.ts
  apps/web/src/lib/liveness/face-match.ts
  apps/web/src/lib/liveness/liveness-session-store.ts
  apps/web/src/lib/liveness/policy.ts
  apps/web/src/lib/liveness/socket/handler.ts
  apps/web/src/lib/liveness/socket/logger.ts
  apps/web/src/lib/liveness/socket/session.ts
  apps/web/src/lib/observability/metrics.ts
  apps/web/src/lib/trpc/routers/crypto.ts
  apps/web/src/lib/trpc/routers/identity.ts
  apps/web/src/lib/trpc/routers/liveness.ts
Due: tsc-check-web, knip-check-web

feat(web): improve liveness detection UX and security
  apps/web/knip.json
  apps/web/package.json
  apps/web/src/app/globals.css
  apps/web/src/components/liveness/audio-toggle.tsx
  apps/web/src/components/liveness/challenge-banner.tsx
  apps/web/src/components/liveness/directional-nudge.tsx
  apps/web/src/components/liveness/fullscreen-camera.tsx
  apps/web/src/components/liveness/index.ts
  apps/web/src/components/liveness/oval-frame.tsx
  apps/web/src/components/liveness/quality-alert.tsx
  apps/web/src/components/liveness/screen-reader-announcer.tsx
  apps/web/src/components/liveness/success-animation.tsx
  apps/web/src/components/onboarding/step-liveness.tsx
  apps/web/src/components/ui/visually-hidden.tsx
  apps/web/src/hooks/liveness/use-liveness-feedback.ts
  apps/web/src/hooks/liveness/use-liveness.ts
  apps/web/src/hooks/use-liveness-camera.ts
  apps/web/src/hooks/use-mobile-detect.ts
  apps/web/src/lib/liveness/audio/earcons.ts
  apps/web/src/lib/liveness/audio/engine.ts
  apps/web/src/lib/liveness/camera/device-storage.ts
  apps/web/src/lib/liveness/camera/framerate-validation.ts
  apps/web/src/lib/liveness/camera/virtual-detection.ts
  apps/web/src/lib/liveness/errors.ts
  apps/web/src/lib/liveness/haptics/patterns.ts
  apps/web/src/lib/liveness/socket/handler.ts
  apps/web/src/lib/liveness/socket/session.ts
  apps/web/src/lib/liveness/speech/engine.ts
  apps/web/src/lib/liveness/speech/texts.ts
Due: tsc-check-web, knip-check-web

fix(ci): ignore internal docs in markdownlint and fix railway doc formatting
  .github/workflows/code-quality.yml
  docs/railway-signer-deployment.md
Due: none

docs: add general concept sections
  README.md
  docs/architecture.md
  docs/attestation-privacy-architecture.md
  docs/cryptographic-pillars.md
Due: none

Path conditions:
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  cargo-fmt: any of: ^apps/fhe/.*\.rs$
  cargo-clippy: any of: ^apps/fhe/.*\.rs$
