Repository gustavovalverde/zentity: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-web, biome-check-landing, tsc-check-web, tsc-check-landing, knip-check-web, ocr-requirements-lock, cargo-fmt-fhe, cargo-clippy-fhe, cargo-fmt-signer, cargo-clippy-signer

Path conditions:
  biome-check-web: any of: ^apps/web/.*\.(ts|tsx|js|jsx|json|css)$
  biome-check-landing: any of: ^apps/landing/.*\.(ts|tsx|js|jsx|json|css)$
  tsc-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  tsc-check-landing: any of: ^apps/landing/.*\.(ts|tsx)$
  knip-check-web: any of: ^apps/web/.*\.(ts|tsx)$
  ocr-requirements-lock: any of: ^apps/ocr/(pyproject\.toml|requirements\.lock)$
  cargo-fmt-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-clippy-fhe: any of: ^apps/fhe/.*\.rs$
  cargo-fmt-signer: any of: ^apps/signer/.*\.rs$
  cargo-clippy-signer: any of: ^apps/signer/.*\.rs$

docs(rfc): add RFC-0021 Zcash Shielded Aid Integration
  docs/rfcs/0021-zcash-shielded-aid.md
Due: none

feat(crypto): simplify vault envelopes and bind KEKs
  .gitignore
  .vscode/settings.json
  apps/web/src/app/api/__tests__/passkey-fhe-enrollment.integration.test.ts
  apps/web/src/app/api/fhe/enrollment/complete/__tests__/route.test.ts
  apps/web/src/app/api/fhe/enrollment/complete/route.ts
  apps/web/src/app/api/metrics/client/route.ts
  apps/web/src/components/sign-up/step-account.tsx
  apps/web/src/components/verification/auth-material-gate.tsx
  apps/web/src/lib/db/queries/__tests__/identity.integration.test.ts
  apps/web/src/lib/db/queries/crypto.ts
  apps/web/src/lib/db/schema/crypto.ts
  apps/web/src/lib/observability/client-metric-definitions.ts
  apps/web/src/lib/observability/metrics.ts
  apps/web/src/lib/privacy/crypto/__tests__/aes-gcm.test.ts
  apps/web/src/lib/privacy/crypto/__tests__/fhe-key-store.test.ts
  apps/web/src/lib/privacy/crypto/__tests__/key-derivation.test.ts
  apps/web/src/lib/privacy/crypto/__tests__/opaque-vault.test.ts
  apps/web/src/lib/privacy/crypto/__tests__/passkey-vault.test.ts
  apps/web/src/lib/privacy/crypto/__tests__/wallet-wrap.test.ts
  apps/web/src/lib/privacy/crypto/aad.ts
  apps/web/src/lib/privacy/crypto/fhe-key-store.ts
  apps/web/src/lib/privacy/crypto/key-derivation.ts
  apps/web/src/lib/privacy/crypto/opaque-vault.ts
  apps/web/src/lib/privacy/crypto/passkey-vault.ts
  apps/web/src/lib/privacy/crypto/passkey-wrap.server.ts
  apps/web/src/lib/privacy/crypto/secret-types.ts
  apps/web/src/lib/privacy/crypto/secret-vault.ts
  apps/web/src/lib/privacy/crypto/wallet-vault.ts
  apps/web/src/lib/trpc/routers/recovery/challenge.ts
  apps/web/src/lib/trpc/routers/secrets.ts
  apps/web/src/lib/trpc/routers/sign-up.ts
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(crypto): remove unused vault functions and reduce complexity
  apps/web/src/lib/privacy/crypto/aad.ts
  apps/web/src/lib/privacy/crypto/fhe-key-store.ts
  apps/web/src/lib/privacy/crypto/secret-vault.ts
  apps/web/src/lib/privacy/crypto/wallet-vault.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(landing): polish content and fix style inconsistencies
  apps/landing/src/components/landing/cta-section.tsx
  apps/landing/src/components/landing/features-grid.tsx
  apps/landing/src/components/landing/four-pillars.tsx
  apps/landing/src/components/landing/hero.tsx
  apps/landing/src/components/landing/problem-solution.tsx
  apps/landing/src/components/landing/technical-deep-dive.tsx
  apps/landing/src/components/landing/use-cases.tsx
Due: biome-check-landing, tsc-check-landing

fix: apps/web/package.json to reduce vulnerabilities
  apps/web/package.json
Due: biome-check-web

feat(auth): implement wallet sign-in with two-signature approach
  README.md
  apps/web/src/app/(auth)/sign-in/page.tsx
  apps/web/src/components/auth/wallet-sign-in-form.tsx
  apps/web/src/components/providers/siwe-bridge.tsx
  apps/web/src/components/sign-up/wallet-signup-form.tsx
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/db/queries/auth.ts
  apps/web/src/lib/privacy/credentials/wallet.ts
  docs/architecture.md
  docs/cryptographic-pillars.md
Due: biome-check-web, tsc-check-web, knip-check-web

docs(rfc): add RFC-0021 Zcash Shielded Aid Integration (#63)
  docs/rfcs/0021-zcash-shielded-aid.md
Due: none

docs(rfcs): add zkpass/gateway/compliance RFCs
  .gitignore
  apps/ocr/requirements.lock
  docs/rfcs/0022-zkpass-integration.md
  docs/rfcs/0023-zk-api-gateway.md
  docs/rfcs/0024-reclaim-protocol-integration.md
  docs/rfcs/0025-dual-track-compliance-architecture.md
Due: ocr-requirements-lock

feat(web): oauth consent + rp compliance keys
  apps/web/src/app/(auth)/sign-in/page.tsx
  apps/web/src/app/api/oauth2/clients/[clientId]/compliance-key/route.ts
  apps/web/src/app/api/oauth2/identity/capture/route.ts
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/components/auth/opaque-sign-in-form.tsx
  apps/web/src/components/auth/passkey-sign-in-form.tsx
  apps/web/src/components/auth/social-login-buttons.tsx
  apps/web/src/components/auth/wallet-sign-in-form.tsx
  apps/web/src/components/dashboard/transparency-section.tsx
  apps/web/src/components/sign-up/credential-choice.tsx
  apps/web/src/components/sign-up/step-account.tsx
  apps/web/src/lib/auth/__tests__/oauth-token-validation.test.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/issuer.ts
  apps/web/src/lib/auth/oauth-post-login.ts
  apps/web/src/lib/auth/oauth-token-validation.ts
  apps/web/src/lib/auth/oidc/__tests__/identity-scopes.test.ts
  apps/web/src/lib/auth/oidc/claims.ts
  apps/web/src/lib/auth/oidc/identity-capture.ts
  apps/web/src/lib/auth/oidc/identity-scopes.ts
  apps/web/src/lib/auth/siwe.ts
  apps/web/src/lib/db/connection.ts
  apps/web/src/lib/db/queries/__tests__/compliance.integration.test.ts
  apps/web/src/lib/db/queries/__tests__/oauth-identity.integration.test.ts
  apps/web/src/lib/db/queries/compliance.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/db/queries/oauth-identity.ts
  apps/web/src/lib/db/schema/compliance.ts
  apps/web/src/lib/db/schema/identity.ts
  apps/web/src/lib/db/schema/oauth-identity.ts
  apps/web/src/lib/privacy/fhe/encryption.ts
  apps/web/src/lib/privacy/server-encryption/__tests__/identity.test.ts
  apps/web/src/lib/privacy/server-encryption/identity.ts
  apps/web/src/lib/trpc/routers/identity/prepare-document.ts
  apps/web/src/test/db-test-utils.ts
Due: biome-check-web, tsc-check-web, knip-check-web

perf(web): apply Vercel React best practices across staged changes
  apps/web/src/app/(dashboard)/dashboard/developer/applications/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/verify-cta.tsx
  apps/web/src/app/api/fhe/enrollment/complete/route.ts
  apps/web/src/components/providers/web3-provider.tsx
  apps/web/src/lib/db/queries/auth.ts
  apps/web/src/lib/db/queries/identity.ts
  apps/web/src/lib/privacy/fhe/encryption.ts
  apps/web/src/lib/trpc/routers/account.ts
  apps/web/src/lib/trpc/routers/identity/helpers/job-processor.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): cache PRF salt with output to prevent DEK unwrap failures
  apps/web/src/app/(auth)/sign-in/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/fhe-enrollment-dialog.tsx
  apps/web/src/components/providers/passkey-auth-provider.tsx
  apps/web/src/components/sign-up/sign-up-form.tsx
  apps/web/src/components/verification/auth-material-gate.tsx
  apps/web/src/lib/privacy/credentials/cache.ts
  apps/web/src/lib/privacy/credentials/resolve.ts
  apps/web/src/lib/privacy/secrets/index.ts
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(web): replace SIWE with generic EIP-712 wallet auth plugin
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/app/(2fa)/layout.tsx
  apps/web/src/app/(auth)/layout.tsx
  apps/web/src/app/(auth)/sign-in/page.tsx
  apps/web/src/app/(dashboard)/dashboard/(web3)/layout.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/verify-cta.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/page.tsx
  apps/web/src/components/auth/wallet-sign-in-form.tsx
  apps/web/src/components/providers/eip712-bridge.tsx
  apps/web/src/components/providers/web3-provider.tsx
  apps/web/src/components/sign-up/wallet-signup-form.tsx
  apps/web/src/components/verification/auth-material-gate.tsx
  apps/web/src/lib/assurance/__tests__/compute.test.ts
  apps/web/src/lib/assurance/compute.ts
  apps/web/src/lib/assurance/types.ts
  apps/web/src/lib/auth/auth-client.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oauth-post-login.ts
  apps/web/src/lib/auth/plugins/eip712/client.ts
  apps/web/src/lib/auth/plugins/eip712/server.ts
  apps/web/src/lib/auth/plugins/eip712/types.ts
  apps/web/src/lib/auth/siwe.ts
  apps/web/src/lib/blockchain/wagmi/config.ts
  apps/web/src/lib/db/queries/auth.ts
  apps/web/src/lib/db/schema/auth.ts
  apps/web/src/lib/trpc/routers/sign-up.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): serve CRS from local pre-warmed files instead of remote CDN
  apps/web/src/app/api/bb-crs/[...path]/route.ts
  apps/web/src/lib/privacy/zk/noir-prover.worker.ts
Due: biome-check-web, tsc-check-web, knip-check-web

security(web): harden credential isolation, input validation, and blob integrity
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/app/(auth)/recover-social/page.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/_components/fhe-enrollment-dialog.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/document/_components/document-upload-client.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/_components/liveness-verify-client.tsx
  apps/web/src/app/api/__tests__/passkey-fhe-enrollment.integration.test.ts
  apps/web/src/app/api/fhe/enrollment/complete/__tests__/route.test.ts
  apps/web/src/app/api/fhe/enrollment/complete/route.ts
  apps/web/src/app/api/secrets/blob/route.ts
  apps/web/src/components/auth/opaque-sign-in-form.tsx
  apps/web/src/components/auth/wallet-sign-in-form.tsx
  apps/web/src/components/dashboard/__tests__/passkey-management-section.integration.test.tsx
  apps/web/src/components/dashboard/opaque-change-password-section.tsx
  apps/web/src/components/dashboard/passkey-management-section.tsx
  apps/web/src/components/dashboard/profile-greeting.tsx
  apps/web/src/components/dashboard/user-data-section.tsx
  apps/web/src/components/providers/passkey-auth-provider.tsx
  apps/web/src/components/sign-up/sign-up-form.tsx
  apps/web/src/components/sign-up/wallet-signup-form.tsx
  apps/web/src/components/verification/auth-material-gate.tsx
  apps/web/src/hooks/verification/use-auth-material-status.ts
  apps/web/src/hooks/verification/use-document-processing.ts
  apps/web/src/lib/auth/session-manager.ts
  apps/web/src/lib/privacy/credentials/cache.ts
  apps/web/src/lib/privacy/credentials/index.ts
  apps/web/src/lib/privacy/credentials/resolve.ts
  apps/web/src/lib/privacy/credentials/wallet.ts
  apps/web/src/lib/privacy/secrets/index.ts
  apps/web/src/lib/privacy/secrets/profile.ts
  apps/web/src/lib/privacy/secrets/storage.server.ts
  apps/web/src/lib/privacy/secrets/storage.ts
  apps/web/src/lib/privacy/zk/binding-context.ts
  apps/web/src/lib/trpc/routers/recovery/challenge.ts
  apps/web/src/lib/trpc/routers/recovery/router.ts
  apps/web/src/lib/trpc/routers/secrets.ts
  apps/web/vendor/@better-auth__passkey.patch
Due: biome-check-web, tsc-check-web, knip-check-web

security(web): enforce mandatory identity binding with re-auth dialog
  apps/web/src/app/(dashboard)/dashboard/verify/_components/fhe-enrollment-dialog.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/_components/binding-auth-dialog.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/_components/liveness-verify-client.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/page.tsx
  apps/web/src/app/api/internal/oauth/clients/attach/route.ts
  apps/web/src/app/api/rp-admin/clients/approve/route.ts
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/plugins/eip712/server.ts
  apps/web/src/lib/auth/plugins/opaque/server.ts
  apps/web/src/lib/identity/verification/finalize-and-prove.ts
  apps/web/src/lib/privacy/credentials/cache.ts
  apps/web/src/lib/privacy/fhe/encryption.ts
  apps/web/src/lib/privacy/zk/binding-context.ts
  docs/attestation-privacy-architecture.md
  docs/cryptographic-pillars.md
  docs/zk-architecture.md
Due: biome-check-web, tsc-check-web, knip-check-web

feat(web): credential-sealed profile for OAuth consent vault unlock
  apps/web/src/app/(dashboard)/dashboard/verify/_components/fhe-enrollment-dialog.tsx
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/_components/liveness-verify-client.tsx
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/app/oauth/consent/layout.tsx
  apps/web/src/app/oauth/consent/page.tsx
  apps/web/src/components/providers/query-provider.tsx
  apps/web/src/lib/privacy/credentials/cache.ts
  apps/web/src/lib/privacy/secrets/index.ts
  apps/web/src/lib/privacy/secrets/profile.ts
  docs/adr/privacy/0003-passkey-sealed-profile.md
  docs/oauth-integrations.md
  docs/rfcs/0009-credential-sealed-profile-pii.md
  docs/rfcs/0009-passkey-profile-pii.md
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): expand COOP to all dashboard routes for cross-origin isolation
  apps/web/next.config.ts
  apps/web/src/app/(auth)/recover-passkey/page.tsx
  apps/web/src/components/sign-up/sign-up-form.tsx
  tooling/observability/mimir.yaml
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(landing): rewrite to marketing-oriented copy and remove docs
  apps/landing/src/App.tsx
  apps/landing/src/components/docs/docs-layout.tsx
  apps/landing/src/components/docs/index.ts
  apps/landing/src/components/docs/markdown-renderer.tsx
  apps/landing/src/components/docs/mermaid-block.tsx
  apps/landing/src/components/landing/cta-section.tsx
  apps/landing/src/components/landing/footer.tsx
  apps/landing/src/components/landing/four-pillars.tsx
  apps/landing/src/components/landing/hero.tsx
  apps/landing/src/components/landing/nav.tsx
  apps/landing/src/components/landing/technical-deep-dive.tsx
  apps/landing/src/components/seo/json-ld.tsx
  apps/landing/src/content/docs.ts
  apps/landing/src/pages/docs-page.tsx
Due: biome-check-landing, tsc-check-landing

fix(web): defer sessionStorage read to avoid hydration mismatch
  apps/web/src/components/dashboard/profile-greeting.tsx
Due: biome-check-web, tsc-check-web, knip-check-web

refactor(web): harden OAuth identity consent with intent tokens and never-persist pattern
  apps/web/src/app/(dashboard)/dashboard/verify/liveness/_components/binding-auth-dialog.tsx
  apps/web/src/app/api/oauth2/identity/intent/__tests__/route.test.ts
  apps/web/src/app/api/oauth2/identity/intent/route.ts
  apps/web/src/app/api/oauth2/identity/stage/__tests__/route.test.ts
  apps/web/src/app/api/oauth2/identity/stage/route.ts
  apps/web/src/app/oauth/consent/__tests__/consent-client.test.tsx
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/components/sign-up/wallet-signup-form.tsx
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/ephemeral-identity-claims.test.ts
  apps/web/src/lib/auth/oidc/ephemeral-identity-claims.ts
  apps/web/src/lib/auth/oidc/identity-intent.ts
  apps/web/src/lib/auth/oidc/oauth-query.ts
  apps/web/src/lib/auth/oidc/scope-display.ts
  apps/web/src/lib/auth/plugins/eip712/__tests__/client.test.ts
  apps/web/src/lib/auth/plugins/eip712/client.ts
Due: biome-check-web, tsc-check-web, knip-check-web

docs: update OAuth identity docs to reflect never-persist consent pattern
  docs/adr/platform/0003-dcr-open-registration-user-gated-consent.md
  docs/adr/privacy/0012-pii-data-segmentation.md
  docs/oauth-integrations.md
Due: none

docs: clarify wallet determinism check happens at sign-up only
  docs/architecture.md
  docs/cryptographic-pillars.md
Due: none

harden OAuth identity security with four fixes and updated docs
  apps/web/src/app/api/fhe/enrollment/complete/route.ts
  apps/web/src/app/api/oauth2/identity/stage/__tests__/route.test.ts
  apps/web/src/app/api/oauth2/identity/stage/route.ts
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/ephemeral-identity-claims.test.ts
  apps/web/src/lib/auth/oidc/ephemeral-identity-claims.ts
  apps/web/src/lib/db/schema/crypto.ts
  apps/web/src/lib/trpc/routers/secrets.ts
  docs/adr/platform/0003-dcr-open-registration-user-gated-consent.md
  docs/oauth-integrations.md
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web): close 4 security findings (2×P1, 2×P2)
  apps/web/src/app/api/oauth2/identity/stage/__tests__/route.test.ts
  apps/web/src/app/api/oauth2/identity/unstage/route.ts
  apps/web/src/app/oauth/consent/consent-client.tsx
  apps/web/src/lib/auth/auth.ts
  apps/web/src/lib/auth/oidc/__tests__/ephemeral-identity-claims.test.ts
  apps/web/src/lib/auth/oidc/ephemeral-identity-claims.ts
  apps/web/src/lib/auth/plugins/eip712/client.ts
  apps/web/src/lib/auth/plugins/eip712/server.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(landing): switch Vercel install to npm to fix pnpm v10 build failure
  .vercelignore
  apps/landing/pnpm-lock.yaml
  vercel.json
Due: none

fix(web): fix liveness countdown freeze, duplicate events, and missing diagnostics
  apps/web/src/components/liveness/liveness-provider.tsx
  apps/web/src/hooks/liveness/use-liveness.ts
  apps/web/src/lib/identity/liveness/socket/handler.ts
Due: biome-check-web, tsc-check-web, knip-check-web

docs: add PATENTS file alongside O'Saasy license
  LICENSE
  PATENTS
Due: none

fix(security): harden crypto primitives against implementation-level attacks
  apps/fhe/src/routes/dob.rs
  apps/signer/src/frost/signer_logic.rs
  apps/signer/src/routes/signer_routes.rs
  apps/web/src/lib/blockchain/fhevm/fhevm-decryption-signature.ts
  apps/web/src/lib/privacy/fhe/encryption.ts
  apps/web/src/lib/privacy/fhe/service.ts
Due: biome-check-web, tsc-check-web, knip-check-web, cargo-fmt-fhe, cargo-clippy-fhe, cargo-fmt-signer, cargo-clippy-signer

docs: add RFC-0026 identity assurance lifecycle
  docs/rfcs/0026-identity-assurance-lifecycle.md
Due: none

fix(web-security): bind zk challenges to sender and audience
  apps/web/src/app/api/crypto/nationality-proof/verify/route.ts
  apps/web/src/lib/db/schema/crypto.ts
  apps/web/src/lib/privacy/zk/__tests__/challenge-store.integration.test.ts
  apps/web/src/lib/privacy/zk/challenge-store.ts
  apps/web/src/lib/trpc/routers/__tests__/proof-security.test.ts
  apps/web/src/lib/trpc/routers/crypto/challenge.ts
  apps/web/src/lib/trpc/routers/crypto/proof.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web-fhe): add nonce and strict domain checks to decryption signatures
  apps/web/src/lib/blockchain/fhevm/__tests__/fhevm-decryption-signature.test.ts
  apps/web/src/lib/blockchain/fhevm/fhevm-decryption-signature.ts
  apps/web/src/lib/blockchain/fhevm/types.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(web-security): use per-credential HKDF salts for passkey wrappers
  apps/web/src/app/(auth)/recover-social/page.tsx
  apps/web/src/lib/privacy/credentials/__tests__/derivation.test.ts
  apps/web/src/lib/privacy/credentials/__tests__/wrap-security.test.ts
  apps/web/src/lib/privacy/credentials/derivation.ts
  apps/web/src/lib/privacy/credentials/passkey.ts
  apps/web/src/lib/privacy/secrets/index.ts
Due: biome-check-web, tsc-check-web, knip-check-web

fix(frost): bind partial submissions to message and commitments
  apps/signer/src/frost/coordinator.rs
  apps/signer/src/frost/types.rs
  apps/signer/tests/frost_integration.rs
  apps/web/src/lib/recovery/frost-service.ts
Due: biome-check-web, tsc-check-web, knip-check-web, cargo-fmt-signer, cargo-clippy-signer

test(ocr-security): add privacy leakage regression coverage
  apps/ocr/tests/integration/test_api.py
  apps/web/src/lib/identity/document/__tests__/ocr-client-logging.test.ts
Due: biome-check-web, tsc-check-web, knip-check-web

chore(web): tune knip for liveness attestation module
  apps/web/knip.json
Due: biome-check-web

fix(ocr): harden image ingress and payload validation
  apps/ocr/README.md
  apps/ocr/src/ocr_service/main.py
  apps/ocr/src/ocr_service/schemas.py
  apps/ocr/src/ocr_service/services/ocr_engine.py
  apps/ocr/src/ocr_service/settings.py
  apps/ocr/tests/integration/test_api.py
  apps/web/src/lib/identity/document/__tests__/ocr-client-logging.test.ts
  apps/web/src/lib/identity/document/ocr-client.ts
Due: biome-check-web, tsc-check-web, knip-check-web
